knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/AssessmentAfterInsertOrUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ErrorLogUtil</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>errorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>severity</name>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceComponent</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLogUtil</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Error_Logs</name>
        <label>Create Error Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ErrorLogUtil</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>errorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>severity</name>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceComponent</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLogUtil</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_ErrorLog</name>
        <label>Create Error Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ErrorLogUtil</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>errorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>severity</name>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceComponent</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLogUtil</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_into_List</name>
        <label>Assign into List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TaskRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_TaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Review_Tax_information_Task</name>
        <label>Assign Review Tax information Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Review Corporation and Tax Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_into_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task</name>
        <label>Assign Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignReviewClinicianLegalNameTask</name>
        <label>Assign Review Clinician Legal Name Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Review Clinician Legal Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Assign_into_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignReviewClinicianNPITask</name>
        <label>Assign Review Clinician NPI Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Review Clinician NPI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_into_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_into_List</name>
        <label>Assign into List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TaskRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_TaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_into_List</name>
        <label>Assign into List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TaskRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_TaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Response</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Assessment_Envelope_Item</name>
        <label>Check Assessment Envelope Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Assessment_Envelope_Item_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assessment_Envelope_Item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Record</targetReference>
            </connector>
            <label>No Assessment Envelope Item Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Assessment_Name</name>
        <label>Check Assessment Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClinicianProfileUpdates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinician Profile Updates</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type</targetReference>
            </connector>
            <label>Clinician Profile Updates</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Assessment_Namee</name>
        <label>Check Assessment Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Clinincian_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Clinician Onboarding Experience Survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assessment_Envelope_ItemP</targetReference>
            </connector>
            <label>Not Clinincian Onboarding?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_List</name>
        <label>Check List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_TaskRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tasks</targetReference>
            </connector>
            <label>List is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Response</name>
        <label>Check Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Review_Clinician_NPI</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_Response.Question_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Is NPI changed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_Response.ResponseValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_Response.ResponseValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignReviewClinicianNPITask</targetReference>
            </connector>
            <label>Review Clinician NPI</label>
        </rules>
        <rules>
            <name>ReviewClinicianLegalName</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_Response.Question_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Is Legal Name Changed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_Response.ResponseValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_Response.ResponseValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignReviewClinicianLegalNameTask</targetReference>
            </connector>
            <label>Review Clinician Legal Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckApplicants</name>
        <label>Check Applicants</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfApplicantisIC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applicants.bpats__Job__r.Facility_Title_Lookup__r.Code_Set_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Contractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Review_Tax_information_Task</targetReference>
            </connector>
            <label>If Applicant is IC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_or_Update</name>
        <label>Insert or Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>for_IsInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assessment_Envelope_Item</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>for_DueDate</name>
        <dataType>Date</dataType>
        <expression>CASE(
    WEEKDAY(TODAY()),
    1, TODAY() + 1,      /* Sunday -&gt; Monday */
    2, TODAY() + 1,      /* Monday -&gt; Tuesday */
    3, TODAY() + 1,      /* Tuesday -&gt; Wednesday */
    4, TODAY() + 1,      /* Wednesday -&gt; Thursday */
    5, TODAY() + 1,      /* Thursday -&gt; Friday */
    6, TODAY() + 3,      /* Friday -&gt; Monday (skip Sat, Sun) */
    7, TODAY() + 2,      /* Saturday -&gt; Monday (skip Sun) */
    TODAY() + 1          /* Default fallback */
)</expression>
    </formulas>
    <formulas>
        <name>for_IsInsert</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Intake Case Closed For &apos;&amp;{!$Record.Case.Account.FirstName}&amp;&apos; &apos;&amp;{!$Record.Case.Account.LastName}</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Assessment -  After Creation Only {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assessment -  After Insert Or Update</label>
    <loops>
        <name>Iterate_Over_Response</name>
        <label>Iterate Over Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GET_Assessment_Response</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Response</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Create_Error_Logs</targetReference>
        </faultConnector>
        <inputReference>var_TaskRecordList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Task_Creation</name>
        <label>Task Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <inputReference>var_TaskRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Applicants</name>
        <label>Get Applicants</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckApplicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bpats__ATS_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>bpats__ATS_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assessment_Envelope_Item</name>
        <label>Get Assessment Envelope Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Assessment_Envelope_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssessmentEnvelopeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assessment_Envelope_ItemP.AssessmentEnvelopeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssessmentEnvelopeItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assessment_Envelope_ItemP</name>
        <label>Get Assessment Envelope Item P</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assessment_Envelope_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssessmentEnvelopeId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssessmentEnvelopeItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Assessment_Response</name>
        <label>GET Assessment Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applicants</targetReference>
        </connector>
        <filterLogic>3 AND (1 OR 2)</filterLogic>
        <filters>
            <field>Question_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Is NPI changed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Question_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Is Legal Name Changed</stringValue>
            </value>
        </filters>
        <filters>
            <field>AssessmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssessmentQuestionResponse</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Assessment_Response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data_Quality</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Record_Type</name>
        <label>Get Task Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assessment_Envelope_Item</name>
        <label>Update Assessment Envelope Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Assessment_Namee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssessmentEnvelopeId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssessmentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>AssessmentEnvelopeItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_ErrorLog</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Insert_or_Update</targetReference>
        </connector>
        <object>Assessment</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <scheduledPaths>
            <name>Task_Creation_Path</name>
            <connector>
                <targetReference>Check_Assessment_Name</targetReference>
            </connector>
            <label>Task Creation Path</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_AssessmentResponseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentQuestionResponse</objectType>
    </variables>
    <variables>
        <name>var_TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_TaskRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
