knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Auto_Launch_Approval_Process_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lock_Record_Action</name>
        <label>Lock Record Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>lockRecord</actionName>
        <actionType>lockRecord</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ProFormaModelId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Lock</stringValue>
            </value>
        </inputParameters>
        <nameSegment>lockRecord</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Unlock_Record_Action</name>
        <label>Unlock Record Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>lockRecord</actionName>
        <actionType>lockRecord</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ProFormaModelId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Unlock</stringValue>
            </value>
        </inputParameters>
        <nameSegment>lockRecord</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Service_Line_Ids_to_List</name>
        <label>Add Service Line Ids to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ListOfServiceLineIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_service_line.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_service_line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CFO_Role_Id</name>
        <label>Assign CFO Role Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_CFORoleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Roles.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_COO_Role_Id</name>
        <label>Assign COO Role Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_COORoleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Roles.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SVP_Growth_Role_Id</name>
        <label>Assign SVP Growth Role Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SVPGrowthRoleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Roles.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VP_BD_Role_Id</name>
        <label>Assign VP BD Role Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_VPBDRoleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Roles.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_In_Approval_Process</name>
        <label>Set In Approval Process</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inApprovalProcess</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pro_Forma_Model_Rec.In_Approval_Process__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inApprovalProcess</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pro_Forma_Model_Rec.In_Approval_Process__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_ServiceLines</name>
        <label>Set ServiceLines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServiceLineExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CMO_Account_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Submit_for_Approval</name>
        <label>Set Submit for Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SubmitForApproval</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_In_Approval_Process</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const_CFORole</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CFO</stringValue>
        </value>
    </constants>
    <constants>
        <name>const_COORole</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COO</stringValue>
        </value>
    </constants>
    <constants>
        <name>const_SVPGrowthRole</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SVP_Growth</stringValue>
        </value>
    </constants>
    <constants>
        <name>const_VPBDRoleDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>VP_BD_Finance</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Object</name>
        <label>Check for Object</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Pro_Forma_Model</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProFormaModel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pro_Forma_Model_Rec</targetReference>
            </connector>
            <label>Is Pro Forma Model</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Role</name>
        <label>Check for Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VP_BD_Finance_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Roles.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>const_VPBDRoleDeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_VP_BD_Role_Id</targetReference>
            </connector>
            <label>VP BD Finance Role</label>
        </rules>
        <rules>
            <name>COO_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Roles.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>const_COORole</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_COO_Role_Id</targetReference>
            </connector>
            <label>COO Role</label>
        </rules>
        <rules>
            <name>CFO_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Roles.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>const_CFORole</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CFO_Role_Id</targetReference>
            </connector>
            <label>CFO Role</label>
        </rules>
        <rules>
            <name>SVP_Growth_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Roles.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>const_SVPGrowthRole</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SVP_Growth_Role_Id</targetReference>
            </connector>
            <label>SVP Growth Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Lock_Unlock</name>
        <label>Check if Lock/Unlock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lockRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lock_Record_Action</targetReference>
            </connector>
            <label>Lock</label>
        </rules>
        <rules>
            <name>Unlock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unlockRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unlock_Record_Action</targetReference>
            </connector>
            <label>Unlock</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Pro_Forma_Facility_exists_with_Service_line</name>
        <label>Is Pro Forma Facility exists with Service line</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_CMO_Account_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceLineExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ServiceLines</targetReference>
            </connector>
            <label>Exist?</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_ProForma_Valid_For_Approval</name>
        <label>is ProForma Valid For Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_In_Approval_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Fir_for_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pro_Forma_Model_Rec.Approval_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offline Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Submit_for_Approval</targetReference>
            </connector>
            <label>is Fir for Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Query_Record</name>
        <label>Query Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Query_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>queryRecord</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Object</targetReference>
            </connector>
            <label>Is Query Record</label>
        </rules>
        <rules>
            <name>Query_All_Roles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Role</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pro_Forma_Model</targetReference>
            </connector>
            <label>Query All Roles</label>
        </rules>
        <rules>
            <name>Query_EM_HM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EM_HM_PERSONAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pro_Forma_Model_V2</targetReference>
            </connector>
            <label>Query EM &amp; HM</label>
        </rules>
        <rules>
            <name>Lock_Unlock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LockUnlock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Lock_Unlock</targetReference>
            </connector>
            <label>Lock/Unlock</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Auto Launch Approval Process Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Launch Approval Process Handler</label>
    <loops>
        <name>Loop_Over_Roles</name>
        <label>Loop Over Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_User_for_VP_BD_Finance_Role</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_service_line</name>
        <label>Loop over service line</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Service_Line_for_EM_and_HM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Service_Line_Ids_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Service_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CMO_Account_Role</name>
        <label>Get CMO Account Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_For_CMO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pro_Forma_Model_Rec.Opportunity__r.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chief Medical Officer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CMO_EM_Deal_Member</name>
        <label>Get CMO EM Deal Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CMO_HM_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chief Medical Officer - EM</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pro_Forma_Model_V2.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CMO_EM_User</name>
        <label>Get CMO EM User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CMO_EM_Deal_Member.UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varCMOEMUserName</assignToReference>
            <field>Username</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_CMO_HM_Deal_Member</name>
        <label>Get CMO HM Deal Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CMO_EM_Deal_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chief Medical Officer - HM</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pro_Forma_Model_V2.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CMO_HM_User</name>
        <label>Get CMO HM User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CMO_EM_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CMO_HM_Deal_Member.UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varCMOHMUserName</assignToReference>
            <field>Username</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Line_for_EM_and_HM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pro_Forma_Model_Rec.Opportunity__r.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pro_Forma_Facility</name>
        <label>Get Pro Forma Facility</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Pro_Forma_Facility_exists_with_Service_line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProFormaModelId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pro_Forma_Facility_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pro_Forma_Model</name>
        <label>Get Pro Forma Model</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProFormaModelId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pro_Forma_Model__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pro_Forma_Model_Rec</name>
        <label>Get Pro Forma Model Rec</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProFormaModelId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pro_Forma_Model__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pro_Forma_Model_V2</name>
        <label>Get Pro Forma Model V2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CMO_HM_Deal_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProFormaModelId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pro_Forma_Model__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Roles</name>
        <label>Get Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Roles</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>const_VPBDRoleDeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>const_COORole</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>const_CFORole</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>const_SVPGrowthRole</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>4.0</numberValue>
        </limit>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Account</name>
        <label>Get Service Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pro_Forma_Facility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Line__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ListOfServiceLineIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Line_for_EM_and_HM</name>
        <label>Get Service Line for EM and HM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_service_line</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EM</stringValue>
            </value>
        </filters>
        <filters>
            <field>API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_for_CFO_Role</name>
        <label>Get User for CFO Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_for_SVP_Growth</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CFORoleId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CFOUserName</assignToReference>
            <field>Username</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_For_CMO</name>
        <label>Get User For CMO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_ProForma_Valid_For_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CMO_Account_Role.UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CMOUserName</assignToReference>
            <field>Username</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_for_COO_Role</name>
        <label>Get User for COO Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_for_CFO_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_COORoleId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>COOUserName</assignToReference>
            <field>Username</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_for_SVP_Growth</name>
        <label>Get User for SVP Growth</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SVPGrowthRoleId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>SVPGrowthUserName</assignToReference>
            <field>Username</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_for_VP_BD_Finance_Role</name>
        <label>Get User for VP BD Finance Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_for_COO_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_VPBDRoleId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>VPBDFinanceUserName</assignToReference>
            <field>Username</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Query_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CFOUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CMOUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>COOUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inApprovalProcess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ListOfServiceLineIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lockRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>objectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProFormaModelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceLineExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubmitForApproval</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SVPGrowthUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>unlockRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_CFORoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_COORoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SVPGrowthRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_VPBDRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCMOEMUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCMOHMUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPBDFinanceUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
