knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Calculate_Rates_on_Contract_Based_on_PCA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Rates</name>
        <label>Calculate Rates</label>
        <locationX>1320</locationX>
        <locationY>885</locationY>
        <actionName>CalculateNPPARates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Default</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>NPPATier</name>
            <value>
                <elementReference>Get_Contract.NPPA_Tier__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PCAListToProcess</name>
            <value>
                <elementReference>ListOfPCAs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TimeType</name>
            <value>
                <elementReference>Get_Contract.Time_Type__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CalculateNPPARates</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AverageHourlyRate</assignToReference>
            <name>AvgHourlyrate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>FullTimeMonthlyBlended</assignToReference>
            <name>FullTimeMonthlyBlendedRate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>FullTimeOvgRate</assignToReference>
            <name>FullTimeOverageRate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>FullTimeWeeklyBlend</assignToReference>
            <name>FullTimeWeeklyBlended</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_CPAId_to_List</name>
        <label>Add CPAId to List</label>
        <locationX>1656</locationX>
        <locationY>642</locationY>
        <assignmentItems>
            <assignToReference>ListOfCPAIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_CPA.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_CPA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_fields_in_Contract</name>
        <label>Check for fields in Contract</label>
        <locationX>1266</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Recordtype_is_Clinician</name>
            <conditionLogic>1 AND ( 2 OR 3 ) AND ( 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinician</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.NPPA_Tier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Part Time</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.Account.Professional_Title__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.Account.Professional_Title__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_CPA</targetReference>
            </connector>
            <label>If Recordtype is Clinician</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PCA_List_is_not_Empty</name>
        <label>Check if PCA List is not Empty</label>
        <locationX>1309</locationX>
        <locationY>635</locationY>
        <defaultConnector>
            <targetReference>Update_the_Contract_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>PCAList_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOfPCAs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Rates</targetReference>
            </connector>
            <label>PCAList not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default</name>
        <label>Default</label>
        <locationX>1085</locationX>
        <locationY>888</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Time_Type_is_Part_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Part Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Contract_0_0</targetReference>
            </connector>
            <label>Time Type is Part Type</label>
        </rules>
        <rules>
            <name>NPPA_Tier_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.NPPA_Tier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Contract</targetReference>
            </connector>
            <label>NPPA Tier Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AvgHourlyrate</name>
        <dataType>Number</dataType>
        <expression>{!TotalHourlyRate}/{!countOfPCA}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FullTimeMonthlyBlendedRate</name>
        <dataType>Number</dataType>
        <expression>{!AvgHourlyrate} *VALUE(TEXT(({!Get_Contract.NPPA_Tier__c})))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FullTimeOverageRate</name>
        <dataType>Number</dataType>
        <expression>{!AvgHourlyrate} + 2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FullTimeWeeklyBlended</name>
        <dataType>Number</dataType>
        <expression>{!AvgHourlyrate} * 40</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Calculate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Rates on Contract Based on PCA</label>
    <loops>
        <name>Loop_over_CPA</name>
        <label>Loop over CPA</label>
        <locationX>1648</locationX>
        <locationY>450</locationY>
        <collectionReference>Get_Related_CPA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_CPAId_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_the_PCA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_the_PCA</name>
        <label>Get All the PCA</label>
        <locationX>1317</locationX>
        <locationY>453</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_PCA_List_is_not_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractPaymentAgreementId</field>
            <operator>In</operator>
            <value>
                <elementReference>ListOfCPAIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit_of_Measure__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>per Hour</stringValue>
            </value>
        </filters>
        <object>PreventiveCareAgreement</object>
        <outputReference>ListOfPCAs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Rate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>1273</locationX>
        <locationY>74</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_fields_in_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_CPA</name>
        <label>Get Related CPA</label>
        <locationX>1647</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_CPA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shift</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractPaymentAgreement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Contract</name>
        <label>Update the Contract</label>
        <locationX>1224</locationX>
        <locationY>1113</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EE_NPPA_Full_Time_Weekly_Blended__c</field>
            <value>
                <elementReference>FullTimeWeeklyBlend</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EE_NP_PA_Full_Time_Monthly_Blended__c</field>
            <value>
                <elementReference>FullTimeMonthlyBlended</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EE_NP_PA_Full_Time_Overage_Rate__c</field>
            <value>
                <elementReference>FullTimeOvgRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EE_NP_PA_Hourly_Blended__c</field>
            <value>
                <elementReference>AverageHourlyRate</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Contract_0</name>
        <label>Update the Contract</label>
        <locationX>1543</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EE_NPPA_Full_Time_Weekly_Blended__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EE_NP_PA_Full_Time_Monthly_Blended__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EE_NP_PA_Full_Time_Overage_Rate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EE_NP_PA_Hourly_Blended__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Contract_0_0</name>
        <label>Update the Contract</label>
        <locationX>960</locationX>
        <locationY>1120</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EE_NP_PA_Hourly_Blended__c</field>
            <value>
                <elementReference>AverageHourlyRate</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>698</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AverageHourlyRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countOfPCA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FullTimeMonthlyBlended</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FullTimeOvgRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FullTimeWeeklyBlend</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>isDelete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfCPAIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfPCAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PreventiveCareAgreement</objectType>
    </variables>
    <variables>
        <name>TotalHourlyRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>triggeredPCAId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tyesty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
