knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Candidates_Can_Not_Skip_Stages.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <description>Error displayed when user attempts to skip stages</description>
        <name>Candidates_can_not_skip_stages</name>
        <label>Candidates can not skip stages</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Candidates must progress through each stage.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Incumbent_Error_Message</name>
        <label>Incumbent Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Incumbent applicants can only skip Stages 4 and 5.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>Checks to see if the applicant is an incumbent</description>
        <name>Is_Incumbent</name>
        <label>Is Incumbent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Candidates_can_not_skip_stages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Incumbent</defaultConnectorLabel>
        <rules>
            <name>Is_the_applicant_an_Incumbent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Applicant_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incumbent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_incumbent_skipping_stages</targetReference>
            </connector>
            <label>Is the applicant an Incumbent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_applicant_skipping_stages</name>
        <label>Is the applicant skipping stages</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Applicant_is_skipping_stages</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.bpats__Stage__r.bpats__ATS_Template_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.bpats__Stage__r.bpats__ATS_Template_Stage__r.bpats__Sequence__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>PriorSequenceValuePlus1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Incumbent</targetReference>
            </connector>
            <label>Applicant is skipping stages</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_incumbent_skipping_stages</name>
        <label>Is the incumbent skipping stages</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>Incumbent_is_skipping_Stages</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8) OR (9 AND 10) OR (11 AND 12) OR (13 AND 14)</conditionLogic>
            <conditions>
                <leftValueReference>PriorSequence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentSequence</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorSequence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentSequence</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorSequence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentSequence</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorSequence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentSequence</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorSequence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentSequence</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorSequence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentSequence</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorSequence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentSequence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incumbent_Error_Message</targetReference>
            </connector>
            <label>Incumbent is skipping Stages</label>
        </rules>
    </decisions>
    <description>Prevents candidates from skipping stages.</description>
    <environments>Default</environments>
    <formulas>
        <description>Prior Sequence Value Plus 1</description>
        <name>PriorSequenceValuePlus1</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.bpats__Stage__r.bpats__ATS_Template_Stage__r.bpats__Sequence__c} +1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PriorSequenceValuePlus2</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.bpats__Sequence__c} + 2</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Candidates Can Not Skip Stages {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Candidates Can Not Skip Stages</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_the_applicant_skipping_stages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bpats__Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>bpats__ATS_Applicant__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentSequence</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.bpats__Stage__r.bpats__ATS_Template_Stage__r.bpats__Sequence__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>PriorSequence</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record__Prior.bpats__Stage__r.bpats__ATS_Template_Stage__r.bpats__Sequence__c</elementReference>
        </value>
    </variables>
</Flow>
