knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Capture_PCA_Evt_Subscribe_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Rates</name>
        <label>Calculate Rates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CalculateNPPARates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Contract_Is_Part_Time</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>NPPATier</name>
            <value>
                <elementReference>Get_Contract.NPPA_Tier__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PCAListToProcess</name>
            <value>
                <elementReference>Get_Related_PCA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TimeType</name>
            <value>
                <elementReference>Get_Contract.Time_Type__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CalculateNPPARates</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AvgHourlyrate</assignToReference>
            <name>AvgHourlyrate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>FullTimeMonthlyBlendedRate</assignToReference>
            <name>FullTimeMonthlyBlendedRate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>FullTimeOverageRate</assignToReference>
            <name>FullTimeOverageRate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>FullTimeWeeklyBlended</assignToReference>
            <name>FullTimeWeeklyBlended</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_CPAId_to_CPAIdList</name>
        <label>Add CPAId to CPAIdList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CPAIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_CPAs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_CPAs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contract_Is_Part_Time</name>
        <label>Check Contract Is Part Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Is_Part_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Part Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Contract</targetReference>
            </connector>
            <label>Contract Is Part Time</label>
        </rules>
        <rules>
            <name>NPPA_Tier_Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.NPPA_Tier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract</targetReference>
            </connector>
            <label>NPPA Tier Not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Fields_In_Contract</name>
        <label>Check For Fields In Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>NPPA_Professional_Title</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.Account.Professional_Title__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.Account.Professional_Title__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CPA</targetReference>
            </connector>
            <label>NPPA Professional Title</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_PCA_List_is_not_Empty</name>
        <label>If PCA List is not Empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PCA_List_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_PCA</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Rates</targetReference>
            </connector>
            <label>PCA List not Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Capture PCA Evt Subscribe flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Capture PCA Evt Subscribe flow</label>
    <loops>
        <name>Loop_Over_CPAs</name>
        <label>Loop Over CPAs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_CPA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_CPAId_to_CPAIdList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Related_PCA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Fields_In_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CPAId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType_DeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clinician</stringValue>
            </value>
        </filters>
        <filters>
            <field>Employment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CPA</name>
        <label>Get CPA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_CPAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CPAId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shift</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractPaymentAgreement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_PCA</name>
        <label>Get Related PCA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_PCA_List_is_not_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractPaymentAgreementId</field>
            <operator>In</operator>
            <value>
                <elementReference>CPAIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Rate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Unit_of_Measure__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>per Hour</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.PCAId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PreventiveCareAgreement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Contract</name>
        <label>Update Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EE_NPPA_Full_Time_Weekly_Blended__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EE_NP_PA_Full_Time_Monthly_Blended__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EE_NP_PA_Full_Time_Overage_Rate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EE_NP_PA_Hourly_Blended__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <description>For part time only update hourly blended.</description>
        <name>Copy_2_of_Update_Contract</name>
        <label>Update Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CPAId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EE_NP_PA_Hourly_Blended__c</field>
            <value>
                <elementReference>AvgHourlyrate</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CPAId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EE_NPPA_Full_Time_Weekly_Blended__c</field>
            <value>
                <elementReference>FullTimeWeeklyBlended</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EE_NP_PA_Full_Time_Monthly_Blended__c</field>
            <value>
                <elementReference>FullTimeMonthlyBlendedRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EE_NP_PA_Full_Time_Overage_Rate__c</field>
            <value>
                <elementReference>FullTimeOverageRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EE_NP_PA_Hourly_Blended__c</field>
            <value>
                <elementReference>AvgHourlyrate</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>CapturePCA__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AvgHourlyrate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CPAIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FullTimeMonthlyBlendedRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FullTimeOverageRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FullTimeWeeklyBlended</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
