knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Case_Creation_Before_Insert_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_PractionerId</name>
        <label>Assign PractionerId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CasePractitionerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Practitioner_is_present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_PractionerId</name>
        <label>Assign PractionerId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CasePractitionerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Practitioner_is_present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Subject_for_Business_Entity_Change</name>
        <label>Set Subject for Business Entity Change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubectFORBusinessEnitityAndMillitaryStatusChange</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Data_Quality_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Subject_for_Name_Change_Type</name>
        <label>Set Subject for Name Change Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameChangeSubject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Data_Quality_Queue</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Child_tasks_not_closed</name>
        <label>Child tasks not closed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_SCP_case</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please ensure all child tasks are completed.  This will close the Offboarding case.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Throw_Error_While_Closing_SCP_cases</name>
        <label>Throw Error While Closing SCP cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_SCP_Case_is_Closed</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please close all Facility Off-boarding case(s) by ensuring child tasks are completed OR updating the &apos;Off-boarding Decision&apos; prior to closing the SCP Off-boarding case.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>After_Subject_Check_if_HPF_exist_with_Travel_Team</name>
        <label>After Subject Check if HPF exist with Travel Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Healthcare_Practitioner_Facility__r.Travel_Team_CES__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>After_Subject_Check_Update_Case_Owner</targetReference>
            </connector>
            <label>Copy 2 of Exist?</label>
        </rules>
    </decisions>
    <decisions>
        <name>any_open_facility_cases_exists</name>
        <label>any open facility cases exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_If_SCP_Case_is_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Facility_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Throw_Error_While_Closing_SCP_cases</targetReference>
            </connector>
            <label>Yes! Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_case_status</name>
        <label>Check case status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_If_SCP_Case_is_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Closed</name>
            <conditionLogic>1 AND 2 AND (3 OR (4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SCP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SCP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Open_Tasks_Related_To_Case</targetReference>
            </connector>
            <label>Is Closed?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Case_Type</name>
        <label>Check for Case Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Support_case_is_created_with_type_as_IT_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IT_Support_Queue</targetReference>
            </connector>
            <label>If Support case is created with type as IT Support</label>
        </rules>
        <rules>
            <name>Check_For_Clinical_Change_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinician_Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Type</targetReference>
            </connector>
            <label>Check For Clinical Change Record Type</label>
        </rules>
        <rules>
            <name>Clinician_Onboarding_cases</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinician_Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SCP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Type_of_Cases</targetReference>
            </connector>
            <label>Clinician Onboarding cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Type</name>
        <label>Check For Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Data_Quality_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Name_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Name Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Subject_for_Name_Change_Type</targetReference>
            </connector>
            <label>Is Name Change</label>
        </rules>
        <rules>
            <name>Is</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Entity Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Military Status Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Subject_for_Business_Entity_Change</targetReference>
            </connector>
            <label>Is Business Entity Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Type_of_Cases</name>
        <label>Check for Type of Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SCP_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SCP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_it_is_Parent_case</targetReference>
            </connector>
            <label>SCP Cases</label>
        </rules>
        <rules>
            <name>Facility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_If_it_is_Parent_case</targetReference>
            </connector>
            <label>Facility</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_HPF_exist_with_Travel_Team</name>
        <label>check if HPF exist with Travel Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HPF_with_Travel_Team</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner</targetReference>
            </connector>
            <label>Exist?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_SCP_Case_is_Closed</name>
        <label>Check If SCP Case is Closed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_SCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SCP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Facility_Offboarding_Case</targetReference>
            </connector>
            <label>Is SCP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_open_tasks_or_child_cases</name>
        <label>Check open tasks or child cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>is_SCP_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Open_Tasks_Related_To_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Child_tasks_not_closed</targetReference>
            </connector>
            <label>exist??</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Subject</name>
        <label>Check Subject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hospital_Orientation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hospital Orientation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>After_Subject_Check_if_HPF_exist_with_Travel_Team</targetReference>
            </connector>
            <label>Hospital Orientation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_case_recordtype</name>
        <label>Check the case recordtype</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_If_SCP_Case_is_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clinician_Offboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinician_Offboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_case_status</targetReference>
            </connector>
            <label>Clinician Offboarding?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_check_if_HPF_exist_with_Travel_Team</name>
        <label>Copy 1 of check if HPF exist with Travel Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Healthcare_Practitioner_Facility__r.Travel_Team_CES__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Case_Owner</targetReference>
            </connector>
            <label>Exist?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_If_it_is_Parent_case</name>
        <label>Copy 1 of If it is Parent case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_check_if_HPF_exist_with_Travel_Team</targetReference>
            </connector>
            <label>Parent?</label>
        </rules>
        <rules>
            <name>Copy_1_of_Child</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hospital Orientation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Subject</targetReference>
            </connector>
            <label>Child</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_it_is_Parent_case</name>
        <label>If it is Parent case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PractionerId</targetReference>
            </connector>
            <label>Parent?</label>
        </rules>
        <rules>
            <name>Child</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Training &amp; SCP University</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HR Setup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_PractionerId</targetReference>
            </connector>
            <label>Child</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Practitioner_is_present</name>
        <label>If Practitioner is present</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>check_if_HPF_exist_with_Travel_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_If_Practitioner_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasePractitionerId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_HPF_with_Travel_Team</targetReference>
            </connector>
            <label>Outcome 1 of If Practitioner is present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_created_or_Updated</name>
        <label>Is created or Updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Travel_Team_CES</targetReference>
            </connector>
            <label>is Create</label>
        </rules>
        <rules>
            <name>is_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_case_recordtype</targetReference>
            </connector>
            <label>is Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_SCP_case</name>
        <label>is SCP case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_If_SCP_Case_is_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SCP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Facility_Cases</targetReference>
            </connector>
            <label>SCP?</label>
        </rules>
    </decisions>
    <description>PR1050558-842 : Assigns any case to IT Support Queue if its created with RecordType as &quot;Support&quot; and Type as &quot;IT Support&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>CaseSubectFORBusinessEnitityAndMillitaryStatusChange</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Type})+ &quot; for &quot;+{!$Record.Contact.FirstName} +&quot; &quot;+{!$Record.Contact.LastName}</expression>
    </formulas>
    <formulas>
        <name>isCreate</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NameChangeSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Clinician Name change for &quot;+ {!$Record.Contact.FirstName} +&quot; &quot;+{!$Record.Contact.LastName}</expression>
    </formulas>
    <interviewLabel>Case Creation Before Insert Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Creation Before Insert Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Open_Tasks_Related_To_Case</name>
        <label>Get All Open Tasks Related To Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_open_tasks_or_child_cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Quality_Queue</name>
        <label>Get Data Quality Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_case_fields_accordingly</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data_Quality</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Facility_Cases</name>
        <label>Get Facility Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>any_open_facility_cases_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clinician_Offboarding</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Facility</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Facility_Offboarding_Case</name>
        <label>Get Facility Offboarding Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Last_Date_From_Last_Facility_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Facility</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clinician_Offboarding</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>lastDate</assignToReference>
            <field>Last_Day__c</field>
        </outputAssignments>
        <sortField>Last_Day__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_HPF_with_Travel_Team</name>
        <label>Get HPF with Travel Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_HPF_exist_with_Travel_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PractitionerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CasePractitionerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Travel_Team_CES__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthcarePractitionerFacility</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IT_Support_Queue</name>
        <label>Get IT Support Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_case_to_IT_Support_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Support_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Travel_Team_CES</name>
        <label>Get Travel Team CES</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Case_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Travel_Team_CES_Config__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>After_Subject_Check_Update_Case_Owner</name>
        <label>After Subject Check Update Case Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Travel_Team_CES.User_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_case_to_IT_Support_Queue</name>
        <label>Assign case to IT Support Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_IT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Case_Owner</name>
        <label>Update Case Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Travel_Team_CES.User_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_case_fields_accordingly</name>
        <label>Populate case fields accordingly</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Data_Quality_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner</name>
        <label>Update Case Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Travel_Team_CES.User_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Date_From_Last_Facility_Case</name>
        <label>Update Last Date From Last Facility Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Last_Day__c</field>
            <value>
                <elementReference>lastDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_created_or_Updated</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CasePractitionerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
