knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Client_Contract_Review_Approval_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <description>Stores the value for the status of a step that&apos;s been approved. The value of the constant must be Approve.</description>
        <name>Approved</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Are_Team_Members_Missing</name>
        <label>Are Team Members Missing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Approval_Stage_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Account_Team_Members.Outputs.areTeamMemberMissing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Financial_Impact</name>
        <label>Check Financial Impact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Process_Approved_Submission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Greater_than_Threshold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Financial_Impact.Outputs.var_FinancialImpactGreaterThanThreshold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Stage_5</targetReference>
            </connector>
            <label>Is Greater than Threshold</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the approval submission was approved or rejected. If you have final actions to complete when a submission is approved, add one or more background steps to the Process Approved Submission stage. If you have final actions to complete when a submission is rejected, add one or more background steps to the Process Rejected Submission stage. Lastly, update this description to reflect what this decision does.</description>
        <name>Is_Submission_Approved_or_Rejected</name>
        <label>Is Submission Approved or Rejected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Process_Rejected_Submission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected (Default)</defaultConnectorLabel>
        <rules>
            <name>Is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Step_5_Division_Operating_Officer_approval.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Approved_Submission</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the approval step in the previous stage was approved. You can also update this element if you have more complex criteria to determine how the flow approval process proceeds. Lastly, update the label, API name, and description to reflect what this decision does.</description>
        <name>Was_Approval_Step_1_of_Approval_Stage_1_Approved_or_Rejected</name>
        <label>Was Approval Step 1 of Approval Stage 1 Approved or Rejected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Process_Rejected_Submission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected (Default)</defaultConnectorLabel>
        <rules>
            <name>Is_Approved_Approval_Step_1_of_Approval_Stage_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Step_1_Performance_Analyst_approval.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Stage_2</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the approval step in the previous stage was approved. You can also update this element if you have more complex criteria to determine how the flow approval process proceeds. Lastly, update the label, API name, and description to reflect what this decision does.</description>
        <name>Was_Approval_Step_1_of_Approval_Stage_2_Approved_or_Rejected</name>
        <label>Was Approval Step 1 of Approval Stage 2 Approved or Rejected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Process_Rejected_Submission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected (Default)</defaultConnectorLabel>
        <rules>
            <name>Is_Approved_Approval_Step_1_of_Approval_Stage_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Step_2_Ops_Finance_approval.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Stage_4</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the approval step in the previous stage was approved. You can also update this element if you have more complex criteria to determine how the flow approval process proceeds. Lastly, update the label, API name, and description to reflect what this decision does.</description>
        <name>Was_Approval_Step_1_of_Approval_Stage_4_Approved_or_Rejected</name>
        <label>Was Approval Step 1 of Approval Stage 4 Approved or Rejected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Process_Rejected_Submission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected (Default)</defaultConnectorLabel>
        <rules>
            <name>Is_Approved_Approval_Step_1_of_Approval_Stage_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Step_4_VP_Operations_approval.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Financial_Impact</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Client Contract Review Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Contract Review Approval Process</label>
    <orchestratedStages>
        <description>If your approval submission has approval work items that can be concurrently reviewed by different approvers, add more approval steps to this stage. If you have other processing to do, add background steps. Lastly, update the label, API name, and description to reflect what this stage does.</description>
        <name>Approval_Stage_1</name>
        <label>Approval Stage 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Approval_Step_1_of_Approval_Stage_1_Approved_or_Rejected</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Contract_Status_to_Submitted</name>
            <actionName>Client_Contract_Review_Action_Handler_Flow</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>var_ActionType</name>
                <value>
                    <stringValue>Update_Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>var_ContractId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>var_ContractStatus</name>
                <value>
                    <stringValue>Submitted</stringValue>
                </value>
            </inputParameters>
            <label>Update Contract Status to Submitted</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Select an approver to complete the step. If you have a custom screen flow to call for this approval step, for Action, remove Approvals Workflow: Evaluate Approval Requests, and select your custom screen flow.  Lastly, update the label, API name, and description to reflect what this step does.</description>
            <name>Step_1_Performance_Analyst_approval</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Fetch_Account_Team_Members.Outputs.var_PerformanceAnalystId</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>Step 1: Performance Analyst approval</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>true</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>If your approval submission has approval work items that can be concurrently reviewed by different approvers, add more approval steps to this stage. If you have other processing to do, add background steps. Lastly, update the label, API name, and description to reflect what this stage does.</description>
        <name>Approval_Stage_2</name>
        <label>Approval Stage 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Approval_Step_1_of_Approval_Stage_2_Approved_or_Rejected</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Select an approver to complete the step. If you have a custom screen flow to call for this approval step, for Action, remove Approvals Workflow: Evaluate Approval Requests, and select your custom screen flow.  Lastly, update the label, API name, and description to reflect what this step does.</description>
            <name>Step_2_Ops_Finance_approval</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Fetch_Account_Team_Members.Outputs.var_OpsFinanceId</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>Step 2: Ops Finance approval</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>If your approval submission has approval work items that can be concurrently reviewed by different approvers, add more approval steps to this stage. If you have other processing to do, add background steps. Lastly, update the label, API name, and description to reflect what this stage does.</description>
        <name>Approval_Stage_4</name>
        <label>Approval Stage 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Approval_Step_1_of_Approval_Stage_4_Approved_or_Rejected</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Select an approver to complete the step. If you have a custom screen flow to call for this approval step, for Action, remove Approvals Workflow: Evaluate Approval Requests, and select your custom screen flow.  Lastly, update the label, API name, and description to reflect what this step does.</description>
            <name>Step_4_VP_Operations_approval</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Fetch_Account_Team_Members.Outputs.var_VPOperationsId</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>Step 3: VP Operations approval</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>true</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>If your approval submission has approval work items that can be concurrently reviewed by different approvers, add more approval steps to this stage. If you have other processing to do, add background steps. Lastly, update the label, API name, and description to reflect what this stage does.</description>
        <name>Approval_Stage_5</name>
        <label>Approval Stage 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Submission_Approved_or_Rejected</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Select an approver to complete the step. If you have a custom screen flow to call for this approval step, for Action, remove Approvals Workflow: Evaluate Approval Requests, and select your custom screen flow.  Lastly, update the label, API name, and description to reflect what this step does.</description>
            <name>Step_5_Division_Operating_Officer_approval</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Fetch_Account_Team_Members.Outputs.var_DivisionOperatingOfficerId</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>Step 4 - Division Operating Officer approval</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>true</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Fetch_Financial_Impact</name>
        <label>Fetch Financial Impact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Financial_Impact</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Get_Financial_Impact</name>
            <actionName>Client_Contract_Review_Action_Handler_Flow</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>var_ActionType</name>
                <value>
                    <stringValue>GetFinancialImpact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>var_ContractId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <label>Get Financial Impact</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Fetch_Info</name>
        <label>Fetch Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_Team_Members_Missing</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Fetch_Account_Team_Members</name>
            <actionName>Client_Contract_Review_Action_Handler_Flow</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>var_ActionType</name>
                <value>
                    <stringValue>FetchAccountTeam</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>var_ContractId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <label>Fetch Account Team Members</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>Contains the final actions to execute when an approval submission is approved. If Send Approval Submission Status Email Notifications to Submitters is enabled, the person who submitted the approval is automatically notified that their submission has been approved. If you have actions to complete when this submission is approved, add one or more background steps to this stage. Lastly, update this description to reflect what this stage does.</description>
        <name>Process_Approved_Submission</name>
        <label>Process the Approved Submission</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Contract_to_Executed</name>
            <actionName>Client_Contract_Review_Action_Handler_Flow</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>var_ActionType</name>
                <value>
                    <stringValue>Update_Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>var_ApprovalStatus</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>var_ContractId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>var_ContractStatus</name>
                <value>
                    <stringValue>Executed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>var_SubmittedId</name>
                <value>
                    <elementReference>submitter</elementReference>
                </value>
            </inputParameters>
            <label>Update Contract to Executed</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Send_Approval_Email</name>
            <actionName>Client_Contract_Review_Action_Handler_Flow</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>var_ActionType</name>
                <value>
                    <stringValue>SendEmail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>var_ApprovalStatus</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>var_ContractId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>var_ContractStatus</name>
                <value>
                    <stringValue>Executed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>var_SubmittedId</name>
                <value>
                    <elementReference>submitter</elementReference>
                </value>
            </inputParameters>
            <label>Send Approval Email</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>Contains the final actions to execute when an approval submission is rejected. If Send Approval Submission Status Email Notifications to Submitters is enabled, the person who submitted the approval is automatically notified that their submission has been rejected. If you have actions to complete when this submission is rejected, add one or more background steps to this stage. Lastly, update this description to reflect what this stage does.</description>
        <name>Process_Rejected_Submission</name>
        <label>Process the Rejected Submission</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Contract_to_Draft</name>
            <actionName>Client_Contract_Review_Action_Handler_Flow</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>var_ActionType</name>
                <value>
                    <stringValue>Update_Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>var_ApprovalStatus</name>
                <value>
                    <stringValue>Rejected</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>var_ContractId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>var_ContractStatus</name>
                <value>
                    <stringValue>Draft</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>var_SubmittedId</name>
                <value>
                    <elementReference>submitter</elementReference>
                </value>
            </inputParameters>
            <label>Update Contract to Draft</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Send_Rejection_Email</name>
            <actionName>Client_Contract_Review_Action_Handler_Flow</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>var_ActionType</name>
                <value>
                    <stringValue>SendEmail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>var_ApprovalStatus</name>
                <value>
                    <stringValue>Rejected</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>var_ContractId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>var_ContractStatus</name>
                <value>
                    <stringValue>Draft</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>var_SubmittedId</name>
                <value>
                    <elementReference>submitter</elementReference>
                </value>
            </inputParameters>
            <label>Send Rejection Email</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>ApprovalWorkflow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the ID of the record to be approved and is passed into the flow approval process. This is a required input variable.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores comments about the approval and is passed into the flow approval process. This is a required input variable.</description>
        <name>submissionComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the user submitting the approval and is passed into the flow approval process. This is a required input variable.</description>
        <name>submitter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
