knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Client_Contract_Review_Action_Handler_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>var_EmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>GetOrgWideEmailAddress.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>fr_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;{!tt_Body}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Division_Operating_Officer_Id</name>
        <label>Assign Division Operating Officer Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DivisionOperatingOfficerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Account_Team_Members.User.Username</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Account_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Financial_Impact</name>
        <label>Assign Financial Impact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_FinancialImpactGreaterThanThreshold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsFinancialImpactGreaterThanThreshold</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Ops_Finance_Id</name>
        <label>Assign Ops Finance Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_OpsFinanceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Account_Team_Members.User.Username</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Account_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Performance_Analyst_Id</name>
        <label>Assign Performance Analyst Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_PerformanceAnalystId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Account_Team_Members.User.Username</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Account_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VP_Operations_Id</name>
        <label>Assign VP Operations Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_VPOperationsId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Account_Team_Members.User.Username</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Account_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmail</name>
        <label>Assign Email &amp; Comments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_EmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Iterate_Over_AWI.ReviewedBy.Email}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_AWI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSubmittedByEmail</name>
        <label>Assign Submitted By Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_EmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Team_Member_Missing</name>
        <label>Team Member Missing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>areTeamMemberMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Team_Members_Not_Missing</name>
        <label>Team Members Not Missing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>areTeamMemberMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Are_Team_Members_Missing</name>
        <label>Are Team Members Missing?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Team_Members_Not_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_PerformanceAnalystId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_VPOperationsId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_OpsFinanceId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_DivisionOperatingOfficerId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Team_Member_Missing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Action_Type</name>
        <label>Check Action Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fetch_Account_Team_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FetchAccountTeam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Team</targetReference>
            </connector>
            <label>Fetch Account Team Member</label>
        </rules>
        <rules>
            <name>Update_Contract_Status_and_Send_Emial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update_Status</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContractStatus</targetReference>
            </connector>
            <label>Update Contract Status and Send Emial</label>
        </rules>
        <rules>
            <name>Get_Financial_Impact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GetFinancialImpact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Threshold_Value</targetReference>
            </connector>
            <label>Get Financial Impact</label>
        </rules>
        <rules>
            <name>Send_Email_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SendEmail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>Send Email Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Member_Role</name>
        <label>Check Member Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Account_Team_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Performance_Analyst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Account_Team_Members.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Performance Analyst</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Performance_Analyst_Id</targetReference>
            </connector>
            <label>Is Performance Analyst?</label>
        </rules>
        <rules>
            <name>Is_Ops_Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Account_Team_Members.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ops Finance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ops_Finance_Id</targetReference>
            </connector>
            <label>Is Ops Finance?</label>
        </rules>
        <rules>
            <name>Is_VP_Operations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Account_Team_Members.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VP Operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_VP_Operations_Id</targetReference>
            </connector>
            <label>Is VP Operations?</label>
        </rules>
        <rules>
            <name>Is_Division_Operating_Officer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Account_Team_Members.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Division Operating Officer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Division_Operating_Officer_Id</targetReference>
            </connector>
            <label>Is Division Operating Officer?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fr_RecordLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!GetContract.Id}</expression>
    </formulas>
    <formulas>
        <name>fr_Subject</name>
        <dataType>String</dataType>
        <expression>{!GetContract.RecordType.Name} &amp;&quot; Contract &quot;&amp;{!GetContract.ContractNumber}&amp;&quot; is &quot;&amp;{!var_ApprovalStatus}</expression>
    </formulas>
    <formulas>
        <name>IsFinancialImpactGreaterThanThreshold</name>
        <dataType>Boolean</dataType>
        <expression>{!GetContract.Financial_Impact__c} &gt;= {!Get_Threshold_Value.Threshold__c}</expression>
    </formulas>
    <interviewLabel>Client Contract Review Action Handler Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Contract Review Action Handler Flow</label>
    <loops>
        <name>Iterate_Over_AWI</name>
        <label>Iterate Over AWI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Approval_Work_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignEmail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignSubmittedByEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Account_Team_Members</name>
        <label>Loop on Account Team Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Account_Team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Member_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_Team_Members_Missing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Team</name>
        <label>Get Account Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Account_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContract.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TeamMemberRole</queriedFields>
        <relatedRecords>
            <getFirstRecordOnly>true</getFirstRecordOnly>
            <queriedFields>Id</queriedFields>
            <queriedFields>Username</queriedFields>
            <relatedObject>User</relatedObject>
            <relationshipField>User</relationshipField>
        </relatedRecords>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approval_Work_Items</name>
        <label>Get Approval Work Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOrgWideEmailAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ReviewedById</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ApprovalWorkItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Threshold_Value</name>
        <label>Get Threshold Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Financial_Impact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial_Impact_Threshold</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Financial_Impact_Threshold__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Approval_Work_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SubmittedId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContract</name>
        <label>Get Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Action_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrgWideEmailAddress</name>
        <label>Get Org Wide Email Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_AWI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No Reply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContractStatus</name>
        <label>Update Contract Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>var_ContractStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Atlassian Sans&amp;quot;, ui-sans-serif, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Ubuntu, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(24, 24, 24);&quot;&gt;{!GetContract.RecordType.Name} Contract &lt;/span&gt;&lt;a href=&quot;{!fr_RecordLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; font-family: &amp;quot;Atlassian Sans&amp;quot;, ui-sans-serif, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Ubuntu, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(70, 114, 205);&quot;&gt;{!GetContract.ContractNumber}&lt;/a&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Atlassian Sans&amp;quot;, ui-sans-serif, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Ubuntu, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(70, 114, 205);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Atlassian Sans&amp;quot;, ui-sans-serif, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Ubuntu, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(24, 24, 24);&quot;&gt;is {!var_ApprovalStatus}.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>areTeamMemberMissing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ActionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ApprovalStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ContractStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DivisionOperatingOfficerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_EmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FinancialImpact</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_FinancialImpactGreaterThanThreshold</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_OpsFinanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_PerformanceAnalystId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_SubmittedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_VPOperationsId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
