knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Client_Change_Management_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_ContractOwner_To_AssignedToVar</name>
        <label>Assign_ContractOwner_To_AssignedToVar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AssignedToVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Clinician_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TeamRole_To_AssignedToVar</name>
        <label>Assign TeamRole To AssignedToVar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AssignedToVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_CE_Specialist_Team_Role.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Clinician_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_CE_Specialist_Team_Role_Found</name>
        <label>Is CE Specialist Team Role Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_ContractOwner_To_AssignedToVar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Use Contract Owner</defaultConnectorLabel>
        <rules>
            <name>CE_Specialist_Team_Role_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_CE_Specialist_Team_Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TeamRole_To_AssignedToVar</targetReference>
            </connector>
            <label>CE Specialist Team Role Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Clinician_Info_Present</name>
        <label>Is Clinician Info Present</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Clinician Info Not Found</defaultConnectorLabel>
        <rules>
            <name>Clinician_Info_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Clinician_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_Task_Record_Type</targetReference>
            </connector>
            <label>Clinician Info Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Insert_Or_Update</name>
        <label>Is Insert Or Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Should_Create_New_Clinician_Contract_Task</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Create_New_Clinician_Contract_Task</name>
        <label>Should Create New Clinician Contract Task?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Do Not Create Task</defaultConnectorLabel>
        <rules>
            <name>Create_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_CE_Specialist_Team_Role</targetReference>
            </connector>
            <label>Create Task</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Comments_For</name>
        <dataType>String</dataType>
        <expression>&quot;New Practice Operations Contract Start Date = &quot; &amp; TEXT({!$Record.Contract__r.StartDate})</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Subject_For</name>
        <dataType>String</dataType>
        <expression>&quot;Create New Clinician Contract for &quot; &amp; {!Get_Clinician_Details.Name}</expression>
    </formulas>
    <interviewLabel>Client Change Management After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Change Management After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_Records</name>
        <label>Create Task Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments_For</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AssignedToVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Default_Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_For</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Healthcare_Practitioner_Facility__r.PractitionerId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_CE_Specialist_Team_Role</name>
        <label>Find CE Specialist Team Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_CE_Specialist_Team_Role_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Healthcare_Practitioner_Facility__r.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clinician Experience Specialist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Clinician_Details</name>
        <label>Get Clinician Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Clinician_Info_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Healthcare_Practitioner_Facility__r.PractitionerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Task_Record_Type</name>
        <label>Get Default Task Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Insert_Or_Update</targetReference>
        </connector>
        <object>Client_Change_Management__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignedToVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
