knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Clinician_Open_Shift_APAY.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Case_Assignment</name>
        <label>Case Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Caseobject.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open Shift APAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caseobject.Shift_Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caseobject.Shift_End_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caseobject.Remaining_Open_Shifts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remaining_Open_Shifts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caseobject.of_Clinicians_Contracted_to_Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>of_Clinicians_Contracted_to_Work</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caseobject.Reason_for_Shift_Bonus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Shift_Bonus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caseobject.Bonus_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bonus_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caseobject.Bonus_Unit_of_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bonus_Unit_of_Measure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caseobject.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caseobject.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Rate_Approval_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caseobject.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rate Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caseobject.Healthcare_Practitioner_Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caseobject.Shift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PCADataTable.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caseobject.APAY_Used_for_the_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APAY_Used_for_the_Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caseobject.APAY_Budgeted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APAY_Budgeted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caseobject.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caseobject.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_HPF_Details.PractitionerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>lstAssignment</name>
        <label>lstAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>lstCPA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CPA_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CPA_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PCAAssign</name>
        <label>PCAAssign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tempPCA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PCALoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPCA.AdditionalInformation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShiftName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstPCAandData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempPCA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PCALoop</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cons_APAYErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Allow 8 digits</stringValue>
        </value>
    </constants>
    <constants>
        <name>Fivedigitsandtwodecimalpoints</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Allow 5 digits and 2 decimal points</stringValue>
        </value>
    </constants>
    <constants>
        <name>ThreeDigitNumber</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Allow 3 digits and 0 decimal points</stringValue>
        </value>
    </constants>
    <constants>
        <name>TwoDigitNumber</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Allow 2 digits</stringValue>
        </value>
    </constants>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Decision_Contract</name>
        <label>Decision Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>NoActiveContractMsgScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CPA_Details</targetReference>
            </connector>
            <label>Contract Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BonusUnitofMeasureChoiceResource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Bonus_Unit_of_Measure__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonforShiftBonusChoiceResource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Shift_Bonus__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>for_ShiftCompensation</name>
        <dataType>Currency</dataType>
        <expression>{!ShiftDuration} * {!PCADataTable.firstSelectedRow.Rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ShiftDuration</name>
        <dataType>Number</dataType>
        <expression>(FLOOR(( {!End_Date_Time} - {!Start_Date_Time})*24)) + ROUND(((( (({!End_Date_Time} - {!Start_Date_Time})*24)- FLOOR(({!End_Date_Time} - {!Start_Date_Time})*24)) *60)/100),2)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ShiftName</name>
        <dataType>String</dataType>
        <expression>{!PCALoop.Shift__r.Shift_Full_Name__c}</expression>
    </formulas>
    <interviewLabel>Clinician - Open Shift APAY {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clinician - Open Shift APAY</label>
    <loops>
        <name>CPA_Loop</name>
        <label>CPA Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_CPA_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>lstAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_PCA_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>PCALoop</name>
        <label>PCALoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_PCA_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PCAAssign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_Data</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error_Message_Screen</targetReference>
        </faultConnector>
        <inputReference>Caseobject</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Case_Rate_Approval_Record_Type</name>
        <label>Case Rate Approval Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rate Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Details</name>
        <label>Get Contract Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_HPF_Details.Practitioner.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_HPF_Details.Employment_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CPA_Details</name>
        <label>Get CPA Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CPA_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shift</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractPaymentAgreement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HPF_Details</name>
        <label>Get HPF Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contract_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthcarePractitionerFacility</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Test</description>
        <name>Get_PCA_Details</name>
        <label>Get PCA Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PCALoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractPaymentAgreementId</field>
            <operator>In</operator>
            <value>
                <elementReference>lstCPA</elementReference>
            </value>
        </filters>
        <filters>
            <field>Shift__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PreventiveCareAgreement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Data</name>
        <label>Display Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Result_Screen</targetReference>
        </connector>
        <fields>
            <name>Shift_Selection</name>
            <fieldText>Shift Selection</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Shift_Selection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Shift Start Date/Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>End_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Shift End Date/Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ShiftDurationoutTxt</name>
                    <fieldText>&lt;p&gt;Shift Duration - {!ShiftDuration}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>bottom</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Section_Space</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PCADataTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>PreventiveCareAgreement</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Shifts</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>lstPCAandData</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;AdditionalInformation&quot;,&quot;guid&quot;:&quot;column-6947&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Additional Information&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Start_Date_Time</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>End_Date_Time</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Screen</name>
        <label>Error Message Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(244, 3, 3);&quot;&gt;Failed to create records.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoActiveContractMsgScreen</name>
        <label>NoActiveContractMsgScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoActiveContractMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(244, 0, 0);&quot;&gt;No Active Contract is Available for this Clinician.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Screen</name>
        <label>Result Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Rate_Approval_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Incentive_Details</name>
            <fieldText>Incentive Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incentive_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Result</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Shift: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!PCADataTable.firstSelectedRow.AdditionalInformation}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Facility Rate:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!PCADataTable.firstSelectedRow.Facility_Level_Rate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Clinician Rate: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!PCADataTable.firstSelectedRow.Rate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>8</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Remaining_Open_Shifts</name>
                    <dataType>Number</dataType>
                    <fieldText>Remaining Open Shifts</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;How many remain after getting this shift request approved&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>8</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!TwoDigitNumber}&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN(TEXT({!Remaining_Open_Shifts})) &lt;= 2</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>of_Clinicians_Contracted_to_Work</name>
                    <dataType>Number</dataType>
                    <fieldText>% of Clinicians Contracted to Work</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Recruiting % without Candidates&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>8</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!ThreeDigitNumber}&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN(TEXT({!of_Clinicians_Contracted_to_Work})) &lt;= 3</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Reason_for_Shift_Bonus</name>
                    <choiceReferences>ReasonforShiftBonusChoiceResource</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason for Shift Bonus</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>8</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Bonus_Amount</name>
                    <dataType>Number</dataType>
                    <fieldText>Bonus Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>8</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!Fivedigitsandtwodecimalpoints}&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
        LEN(TEXT(FLOOR({!Bonus_Amount}))) &lt;= 5,
        MOD({!Bonus_Amount} * 100, 1) = 0
    )</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Bonus_Unit_of_Measure</name>
                    <choiceReferences>BonusUnitofMeasureChoiceResource</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Bonus Unit of Measure</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>8</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>APAY_Used_for_the_Month</name>
                    <dataType>Currency</dataType>
                    <fieldText>APAY Used for the Month</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>8</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!cons_APAYErrorMessage}&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
        LEN(TEXT(FLOOR({!APAY_Used_for_the_Month}))) &lt;= 8,
        MOD({!APAY_Used_for_the_Month} * 100, 1) = 0
    )</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>APAY_Budgeted</name>
                    <dataType>Currency</dataType>
                    <fieldText>APAY Budgeted</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>8</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!cons_APAYErrorMessage}&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
        LEN(TEXT(FLOOR({!APAY_Budgeted}))) &lt;= 8,
        MOD({!APAY_Budgeted} * 100, 1) = 0
    )</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Shift_Compensation</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Shift Compensation : &lt;/strong&gt;{!for_ShiftCompensation}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>8</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Bonus_Unit_of_Measure</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>per Hour</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Comments</name>
                    <dataType>String</dataType>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>8</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_HPF_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Caseobject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>lstCPA</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstPCAandData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PreventiveCareAgreement</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShiftSingleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempPCA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PreventiveCareAgreement</objectType>
    </variables>
</Flow>
