knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Contract_Termination_Scheduled_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_HPF_Id_For_For_Extending_Contracts</name>
        <label>Add HPF Id For For Extending Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HPFIdsForExtendingCntracts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_HPFs_for_Checking_Extending_Contracts.Healthcare_Practitioner_Facility__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_HPFs_for_Checking_Extending_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_HPFs_To_Update</name>
        <label>Add HPFs To Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HPFIdsToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HPFIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractCancelReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Active_HPF_for_the_Clinician</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Id_to_ListOfIds</name>
        <label>Add Id to ListOfIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HPFIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_all_PNC.Healthcare_Practitioner_Facility__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_all_PNC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SCP_Offboarding_caseId_to_List</name>
        <label>Add SCP Offboarding caseId to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ListOfInsertedCaseIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SCPOffboradingCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_CaseList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Facility_Offborading_Case_Record_Instance</name>
        <label>Create Facility Offborading Case Record Instance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseRec.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Clinician_Offboarding_Case_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Facility</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.Healthcare_Practitioner_Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Over_HPFIds_From_Practitioner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaseRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Over_HPFIds_From_Practitioner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HPFs_To_Update</name>
        <label>HPFs To Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HPFIdsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_initially_queried_HPFs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractCancelReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Superseded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_initially_queried_HPFs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Loop_Over_Inserted_Facility_Offboarding_CaseList</name>
        <label>Loop Over Inserted Facility Offboarding CaseList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ListOfInsertedCaseIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_CaseList.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_SCPOffboardingCase_Created</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_End_date_of_contract</name>
        <label>Check for End date of contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_End_Date_is_TODAY</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinician</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Professional_Title__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Professional_Title__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_the_HPFs_For_Clinician_Contract</targetReference>
            </connector>
            <label>If End Date is TODAY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_any_active_HPF_is_there_for_Clinican</name>
        <label>Check if any active HPF is there for Clinican</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_SCP_Offborading_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Present</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_HPF_for_the_Clinician</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HPFIdsToUpdate_List_is_not_empty</targetReference>
            </connector>
            <label>Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_Contract_is_Extending</name>
        <label>Check Whether Contract is Extending?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_HPFs_for_Checking_Extending_Contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Extending</defaultConnectorLabel>
        <rules>
            <name>Extending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_HPFs_for_Checking_Extending_Contracts.Contract.StartDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_HPFs_for_Checking_Extending_Contracts.Contract.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_HPFs_for_Checking_Extending_Contracts.Contract.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Contractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_HPF_Id_For_For_Extending_Contracts</targetReference>
            </connector>
            <label>Extending?</label>
        </rules>
    </decisions>
    <decisions>
        <name>HPFIdsToUpdate_List_is_not_empty</name>
        <label>HPFIdsToUpdate List is not empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HPFIdsToUpdate</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Contract_Status</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>HPFs_part_of_extending_contracts</name>
        <label>HPFs part of extending contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_HPFs_To_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Extending in any other contracts</defaultConnectorLabel>
        <rules>
            <name>Is_Extending_in_Other_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HPFIdsForExtendingCntracts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_initially_queried_HPFs</targetReference>
            </connector>
            <label>Is Extending in Other Contracts</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_SCPOffboardingCase_Created</name>
        <label>If SCPOffboardingCase Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_CaseList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SCPOffboarding_Case_inserted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCPOffboradingCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_SCP_Offboarding_caseId_to_List</targetReference>
            </connector>
            <label>SCPOffboarding Case inserted?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_HPF_not_the_part_of_extending_contracts</name>
        <label>Is HPF not the part of extending contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>HPFs_To_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HPFIdsForExtendingCntracts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_over_initially_queried_HPFs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_initially_queried_HPFs</targetReference>
            </connector>
            <label>Is Present?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OneYearAgo</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), -12)</expression>
    </formulas>
    <interviewLabel>Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Termination Scheduled Flow</label>
    <loops>
        <name>For_Over_HPFIds_From_Practitioner</name>
        <label>For Over HPFIds From Practitioner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>HPFIdsToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Facility_Offborading_Case_Record_Instance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Facility_Offboarding_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_all_PNC</name>
        <label>Loop over all PNC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_all_the_HPFs_For_Clinician_Contract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_ListOfIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_PNC_For_Extending_Contract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_CaseList</name>
        <label>Loop Over CaseList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>CaseList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Over_Inserted_Facility_Offboarding_CaseList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_HPFs_for_Checking_Extending_Contracts</name>
        <label>Loop Over HPFs for Checking Extending Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_PNC_For_Extending_Contract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Whether_Contract_is_Extending</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Clinician_Offboarding_Case_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_initially_queried_HPFs</name>
        <label>Loop over initially queried HPFs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>HPFIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_HPF_not_the_part_of_extending_contracts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HPFIdsToUpdate_List_is_not_empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Facility_Offboarding_Case</name>
        <label>Create Facility Offboarding Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Over_CaseList</targetReference>
        </connector>
        <inputReference>CaseList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SCP_Offborading_case</name>
        <label>Create SCP Offborading case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>SCPOffboradingCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>HPFIdsToUpdate_List_is_not_empty</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Termination_Received__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Day__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pay_Through_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Termination__c</field>
            <value>
                <stringValue>Contract Termination</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Clinician_Offboarding_Case_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SCP Offboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_Request_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SCP</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_HPF_for_the_Clinician</name>
        <label>Get Active HPF for the Clinician</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_any_active_HPF_is_there_for_Clinican</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PractitionerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>HPFIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthcarePractitionerFacility</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_the_HPFs_For_Clinician_Contract</name>
        <label>Get all the HPFs For Clinician Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_all_PNC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProviderNetworkContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Clinician_Offboarding_Case_Record_Type</name>
        <label>Get Clinician Offboarding Case Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HPFs_part_of_extending_contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clinician_Offboarding</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PNC_For_Extending_Contract</name>
        <label>Get PNC For Extending Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_HPFs_for_Checking_Extending_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Healthcare_Practitioner_Facility__c</field>
            <operator>In</operator>
            <value>
                <elementReference>HPFIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProviderNetworkContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>ListOfInsertedCaseIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Inactivate_the_HPF</name>
        <label>Inactivate the HPF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>For_Over_HPFIds_From_Practitioner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>HPFIdsToUpdate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EffectiveTo</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TerminationDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>HealthcarePractitionerFacility</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>ListOfInsertedCaseIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Contract_Status</name>
        <label>Update the Contract Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inactivate_the_HPF</targetReference>
        </connector>
        <inputAssignments>
            <field>Cancel_Reason__c</field>
            <value>
                <elementReference>ContractCancelReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_End_date_of_contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Independent Contractor</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-10-24</startDate>
            <startTime>20:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseLists</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ContractCancelReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HPFIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HPFIdsForExtendingCntracts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HPFIdsToUpdate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfInsertedCaseIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SCPOffBoardingCseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SCPOffboradingCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
