knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Contract_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_CPA_And_Related_Records</name>
        <label>Create CPA And Related Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CPARelationshipRecordsGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Clinician_Onboarding_Cases</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contractIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CPARelationshipRecordsGenerator</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>PR1050558-3469</description>
        <name>Letter_of_Intent_Email_Alert</name>
        <label>Letter of Intent - Email Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Label.DLClientContractingemail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Letter of Intent Request for {!$Record.SourceOpportunity.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;A Letter of Intent request has been created for the following Opportunity: &lt;a href=&quot;{!BaseURL}/{!$Record.SourceOpportunityId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.SourceOpportunity.Name}&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;The following Contract has been created: &lt;a href=&quot;{!BaseURL}/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.ContractNumber}&lt;/a&gt;.&lt;/p&gt;&lt;p style=&quot;margin-bottom:0; padding-bottom:0;&quot;&gt;Thank you,&lt;br&gt;
{!$Record.SourceOpportunity.Owner.FirstName}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.SourceOpportunityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Trigger_Practice_Operation_Change_Queueable_Action_1</name>
        <label>Trigger Practice Operation Change Queueable Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PracticeOperationChangeQueueableInvoker</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>If_PO_Contract_Start_Date_is_in_Past_Active</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contractIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PracticeOperationChangeQueueableInvoker</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_contract_to_list</name>
        <label>Add contract to list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>collContractsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_contracts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNextStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_contracts.StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_next_start_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_HPF_IDs_From_PNC</name>
        <label>Add HPF IDs From PNC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HPF_ID_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_PNCs.Healthcare_Practitioner_Facility__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_PNCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Task_to_Collection</name>
        <label>Add Task to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singleTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attach Locum Assignment Letter to HPF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Task_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Data_Quality_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Activity_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_HPFs.PractitionerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_HPFs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_HPFs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Task_Values</name>
        <label>Assign Default Task Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Task_Record_Type_on_Create.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SourceOpportunityIDResource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskOwnerID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Activity_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Populate the Shift Map &amp; Rates template</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_Record_on_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Task_Values_Leased_Provider</name>
        <label>Assign Default Task Values Leased Provider</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Task_Record_Type_on_Create_C1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Client_Contracting_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.ActivityDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Review the related clinician contract to determine if a Leased Provider Acknowledgment is required.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HPFUpdate_Platform_Event</name>
        <label>Assign HPFUpdate Platform Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HPFUpdateRecord.HPFId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_PNCs.Healthcare_Practitioner_Facility__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HPFUpdateRecord.ContractId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HPFUpdateRecord.GlobalProviderId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fr_GlobalProviderIdNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HPFUpdateRecord.GlobalFacilityId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fr_GlobalFacilityIdNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HPFUpdateRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rate for HPF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HPFUpdatesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HPFUpdateRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_PNCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_next_contract_start_date</name>
        <label>Assign next contract start date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNextStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_contracts.StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Values</name>
        <label>Assign Task Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Task_Record_Type_on_Create.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SourceOpportunityIDResource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskOwnerID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Activity_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Field_Values.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Field_Values.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordOnCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Field_Values.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_Record_on_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_status_and_Dates_for_Update</name>
        <label>Assign the status and Dates for Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_previous_contracts.Cancel_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_previous_contracts.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_previous_contracts.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewContractStartdateminus1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecordsToUpdateForTypeChange</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_previous_contracts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_previous_contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_status_and_Dates_for_Update1</name>
        <label>Assign the status and Dates for Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_previous_contracts.Cancel_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_previous_contracts.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_previous_contracts.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_previous_contracts.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecordsToUpdateForTypeChange</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_previous_contracts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_previous_contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_the_status_and_Dates_for_Update</name>
        <label>Assigning the status and Dates for Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UnitContractRecordsToUpdateForTypeChange</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_through_Previous_contract_records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitContractRecordsToUpdateForTypeChange.Cancel_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitContractRecordsToUpdateForTypeChange.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitContractRecordsToUpdateForTypeChange.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewContractStartdateminus1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecordsToUpdateForTypeChange</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UnitContractRecordsToUpdateForTypeChange</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_through_Previous_contract_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_the_status_and_Dates_for_Update1</name>
        <label>Assigning the status and Dates for Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UnitContractRecordsToUpdateForTypeChange</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_through_Previous_contract_records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitContractRecordsToUpdateForTypeChange.Cancel_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitContractRecordsToUpdateForTypeChange.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitContractRecordsToUpdateForTypeChange.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_through_Previous_contract_records.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecordsToUpdateForTypeChange</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UnitContractRecordsToUpdateForTypeChange</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_through_Previous_contract_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Start_End_Date</name>
        <label>Assignment Start &amp; End Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pncEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endDateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pncStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startDateFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PNC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContractsNotInExecutedState</name>
        <label>ContractsNotInExecutedState</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RelatedContractsNotInExecutedStatus</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_check_the_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_check_the_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Parent_Contract_Cancelled_Assignment</name>
        <label>Parent Contract Cancelled Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContractToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToUpdate.Cancel_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SCP Voided</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContractToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>has_contract_records_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BD_Operations_as_Owner_Id</name>
        <label>Set BD Operations as Owner Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TaskOwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BD_Operations_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Task_OwnerId_not_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Put value in memory so that we can query for the ProFormaModel.</description>
        <name>Set_SourceOpportunityId</name>
        <label>Set SourceOpportunityId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SourceOpportunityIDResource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SourceOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pro_Forma_Model</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_contract_status</name>
        <label>Update contract status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_contracts.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Superseded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_contract_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_end_date</name>
        <label>Update end date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_contracts.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fr_POContractEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_end_date_in_past</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_next_start_date</name>
        <label>Update next start date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNextStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_contracts.StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updating_the_End_Date_and_Status</name>
        <label>Updating the End Date and Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Looping_through_the_existing_records.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewContractStartdateminus1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Looping_through_the_existing_records.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Looping_through_the_existing_records.Cancel_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Superseded</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_through_the_existing_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_through_the_existing_records</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ActiveStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </constants>
    <constants>
        <name>CandidateStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Candidate</stringValue>
        </value>
    </constants>
    <constants>
        <name>Client_Contract_RecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Client_Contract</stringValue>
        </value>
    </constants>
    <constants>
        <name>Client_RecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Client</stringValue>
        </value>
    </constants>
    <constants>
        <name>Clinician_RecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Clinician</stringValue>
        </value>
    </constants>
    <constants>
        <name>LOIrecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Letter_of_Intent</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaskCreationValuesLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract Creation</stringValue>
        </value>
    </constants>
    <customErrors>
        <name>No_Owner_Id</name>
        <label>No Owner Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>No Owner Id</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_contract_employment_type</name>
        <label>Check contract employment type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_PNC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_EE_or_IC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Leased</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Locum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Managed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_user</targetReference>
            </connector>
            <label>Is EE or IC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contract_Field_Update</name>
        <label>Check Contract Field Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Executed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_notification_when_future_contract_exists</targetReference>
            </connector>
            <label>Check Executed</label>
        </rules>
        <rules>
            <name>Check_Abandoned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Abandoned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_Change_Management_Records</targetReference>
            </connector>
            <label>Check Abandoned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contract_Field_Update_For_Clinican</name>
        <label>Check Contract Field Update For Clinican</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Updated_to_Executed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_contract_employment_type</targetReference>
            </connector>
            <label>Status Updated to Executed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Employment_Type</name>
        <label>Check Employment Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_CPA_And_Related_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Locum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Locum</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PNC_List</targetReference>
            </connector>
            <label>Locum</label>
        </rules>
        <rules>
            <name>Employee_IC_Partner_or_Managed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Contractor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Managed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_triggering_contract_Start_Date</targetReference>
            </connector>
            <label>Employee, IC, Partner or Managed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_employment_Type_of_Current_Contract</name>
        <label>Check employment Type of Current Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_CPA_And_Related_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_emp_type_IC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Contractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_PreviousContractId_for_IC</targetReference>
            </connector>
            <label>is emp type IC</label>
        </rules>
        <rules>
            <name>Is_emp_type_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_PreviousContractId_for_EE</targetReference>
            </connector>
            <label>Is emp type Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_end_date_in_past</name>
        <label>Check end date in past</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_contract_to_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fr_POContractEndDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contract_status</targetReference>
            </connector>
            <label>yess</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_start_date_and_employee_type</name>
        <label>check for start date and employee type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Looping_through_the_existing_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_contract_Start_date_in_the_past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Looping_through_the_existing_records.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Employment_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Looping_through_the_existing_records.StartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_the_End_Date_and_Status</targetReference>
            </connector>
            <label>New contract Start date in the past</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_end_date_or_status_is_not_correct</name>
        <label>Check if end date or status is not correct?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_next_start_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_correct</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_contracts.EndDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>fr_POContractEndDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fr_POContractEndDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_contracts.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Superseded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_end_date</targetReference>
            </connector>
            <label>Not correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_HPF_Exists</name>
        <label>Check if HPF Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>HPF Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>HPF_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HPF_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_HPFs</targetReference>
            </connector>
            <label>HPF Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_HPF_ID_Collection_is_Not_Empty</name>
        <label>Check if HPF ID Collection is Not Empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No HPF IDs</defaultConnectorLabel>
        <rules>
            <name>HPF_IDs_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HPF_ID_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_HPF_Records</targetReference>
            </connector>
            <label>HPF IDs Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PNCs_Found</name>
        <label>Check if PNCs Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No PNCs Found</defaultConnectorLabel>
        <rules>
            <name>PNCs_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PNC_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Data_Quality_Queue</targetReference>
            </connector>
            <label>PNCs Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Queue_Found</name>
        <label>Check if Queue Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Queue Not Found</defaultConnectorLabel>
        <rules>
            <name>Queue_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Data_Quality_Queue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_Task_Record_Type</targetReference>
            </connector>
            <label>Queue Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Record_Type_Found</name>
        <label>Check if Record Type Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Record Type</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Default_Task_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_PNCs</targetReference>
            </connector>
            <label>Record Type Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_user_has_federation_id</name>
        <label>Check if the user has federation id?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_PNC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_user</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_user.FederationIdentifier</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_welcome_Onboarding_Email_flow</targetReference>
            </connector>
            <label>is blank?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Leased_Provider_Contract</name>
        <label>Check Leased Provider Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Leased_Provider_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leased</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_Task_Record_Type_on_Create_C1</targetReference>
            </connector>
            <label>Leased Provider Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pro_Forma_Model_is_not_null</name>
        <label>Check Pro Forma Model is not null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Proforma_Model_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pro_Forma_Model</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_Task_Record_Type_on_Create</targetReference>
            </connector>
            <label>Is Proforma Model Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Clinic_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Client_RecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contract_Field_Update</targetReference>
            </connector>
            <label>Is Clinic Record Type?</label>
        </rules>
        <rules>
            <name>Is_Clinician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Clinician_RecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contract_Field_Update_For_Clinican</targetReference>
            </connector>
            <label>Is Clinician</label>
        </rules>
        <rules>
            <name>Is_LOI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LOIrecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Status_Update</targetReference>
            </connector>
            <label>Is LOI ?</label>
        </rules>
        <rules>
            <name>Is_Client_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Client_Contract_RecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_status_Updated</targetReference>
            </connector>
            <label>Is Client Contract ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordType</name>
        <label>Check RecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Practice_Operations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SourceOpportunityId</targetReference>
            </connector>
            <label>Practice Operations RT</label>
        </rules>
        <rules>
            <name>RT_Is_Later_Of_Intent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Letter_of_Intent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ultimate_Parent_Id_as_self</targetReference>
            </connector>
            <label>RT Is Later Of Intent</label>
        </rules>
        <rules>
            <name>IsClient_Contract_RecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ultimate_Parent_Id_as_self_client</targetReference>
            </connector>
            <label>Client_Contract RecordType</label>
        </rules>
        <rules>
            <name>Clinician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinician</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Leased_Provider_Contract</targetReference>
            </connector>
            <label>Clinician RT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Task_Creation_Values</name>
        <label>Check Task Creation Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_Task_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Task_Creation_CMT_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Field_Values</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Values</targetReference>
            </connector>
            <label>Is Task Creation CMT Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Task_RT_and_BD_Operations_Queue</name>
        <label>Check Task RT and BD Operations Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Task_OwnerId_not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_BD_Operations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BD_Operations_Queue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Default_Task_Record_Type_on_Create</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BD_Operations_as_Owner_Id</targetReference>
            </connector>
            <label>Is BD Operations</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_triggering_contract_Start_Date</name>
        <label>Check the triggering contract Start Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_CPA_And_Related_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_date_part_or_today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_employment_Type_of_Current_Contract</targetReference>
            </connector>
            <label>Start date past or today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_For_Contract_Date_Alignment</name>
        <label>Checking For Contract Date Alignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assigning_the_status_and_Dates_for_Update1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dates Not Aligned</defaultConnectorLabel>
        <rules>
            <name>Dates_Aligned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looping_through_Previous_contract_records.StartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NewContractStartdateminus1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_the_status_and_Dates_for_Update</targetReference>
            </connector>
            <label>Dates Aligned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_For_Contract_Date_Alignment1</name>
        <label>Checking For Contract Date Alignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_the_status_and_Dates_for_Update1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dates Not Aligned</defaultConnectorLabel>
        <rules>
            <name>Dates_Aligned1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_previous_contracts.StartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NewContractStartdateminus1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_status_and_Dates_for_Update</targetReference>
            </connector>
            <label>Dates Aligned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_PreviousContractId_for_EE</name>
        <label>Checking PreviousContractId for EE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Previous_Employee_Records1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_PreviousContractId_With_Date_Alignment1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PreviousContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreviousContract.StartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NewContractStartdateminus1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PreviousContract_with_StartDate_Minus_1</targetReference>
            </connector>
            <label>Has PreviousContractId With Date Alignment</label>
        </rules>
        <rules>
            <name>Has_PreviousContractId_Without_Date_Alignment1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PreviousContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreviousContract.StartDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NewContractStartdateminus1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PreviousContract_with_start_date1</targetReference>
            </connector>
            <label>Has PreviousContractId Without Date Alignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_PreviousContractId_for_IC</name>
        <label>Checking PreviousContractId for IC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Previous_Employee_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_PreviousContractId_With_Date_Alignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PreviousContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreviousContract.StartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NewContractStartdateminus1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PreviousContract_with_Start_Date_minus_1</targetReference>
            </connector>
            <label>Has PreviousContractId With Date Alignment</label>
        </rules>
        <rules>
            <name>Has_PreviousContractId_Without_Date_Alignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PreviousContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreviousContract.StartDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NewContractStartdateminus1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PreviousContract_with_start_date</targetReference>
            </connector>
            <label>Has PreviousContractId Without Date Alignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckingTheStatus</name>
        <label>CheckingTheStatus</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_to_check_the_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Not_In_Executed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_to_check_the_Status.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Executed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContractsNotInExecutedState</targetReference>
            </connector>
            <label>Status Not In Executed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contracts_not_in_Executed_Status</name>
        <label>Contracts not in Executed Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AllRelatedContractsInExecutdeStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedContractsNotInExecutedStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SCP_Health_Account</targetReference>
            </connector>
            <label>AllRelatedContractsInExecutdeStatus</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmploymentType</name>
        <label>Employment Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Employment_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EE_IC_Partner_Managed_or_Locum</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Contractor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Managed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Locum</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_PNCs</targetReference>
            </connector>
            <label>EE, IC, Partner,Managed or Locum</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_HPFs</name>
        <label>Filter HPFs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_PNCs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Firrst_Clinical_Shift_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_PNCs.Healthcare_Practitioner_Facility__r.Ok_to_Send_Rates__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_HPFUpdate_Platform_Event</targetReference>
            </connector>
            <label>Check Firrst Clinical Shift not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_contract_records_to_update</name>
        <label>has records to update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_records_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractsToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatingcontractRecords</targetReference>
            </connector>
            <label>has records to update?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Opportunity_populated</name>
        <label>Has Opportunity populated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_opportunity_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SourceOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PMT_Task</targetReference>
            </connector>
            <label>has opportunity records</label>
        </rules>
    </decisions>
    <decisions>
        <name>HPFUpdatesList_Empty</name>
        <label>HPFUpdatesList Empty?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Employment_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HPFUpdatesList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_HPFUpdate_Platform_Event</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Existing_PO_Record_is_Present</name>
        <label>If Existing PO Record is Present</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Update_or_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_PO_Record_is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collContractsToUpdate</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Record</targetReference>
            </connector>
            <label>Existing PO Record is Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>PR1050558-3207:PR1050558-3207</description>
        <name>If_PO_Contract_Start_Date_is_in_Past_Active</name>
        <label>If PO Contract Start Date is in Past &amp; Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Update_or_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PO_Contract_Start_Date_is_in_Past_Active</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Client_RecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_PO_Contract</targetReference>
            </connector>
            <label>PO Contract Start Date is in Past &amp; Active</label>
        </rules>
    </decisions>
    <decisions>
        <description>Added as part of: PR1050558-3469 : When Letter of Intent contract is created from oppty then send email.</description>
        <name>IF_Related_to_Growth_Opportunity</name>
        <label>IF Related to Growth Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_to_Growth_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SourceOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SourceOpportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Growth_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Letter_of_Intent_Email_Alert</targetReference>
            </connector>
            <label>Related to Growth Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Cloned_Practice_Operation_Executed</name>
        <label>Is Cloned Practice Operation Executed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>If_PO_Contract_Start_Date_is_in_Past_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Executed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Client_RecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreviousContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Practice_Operation_Change_Queueable_Action_1</targetReference>
            </connector>
            <label>Is Executed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent_Contract_Cancellation_Required_for_Same_Start_Date</name>
        <label>Is Parent Contract Cancellation Required for Same Start Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>has_contract_records_to_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ParentContract.Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentContractId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Contract_Cancelled_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Status_Update</name>
        <label>is Status Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Record</targetReference>
            </connector>
            <label>Status updated to Executed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_status_Updated</name>
        <label>Is status Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Is_status_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Opportunity_populated</targetReference>
            </connector>
            <label>Outcome 1 of Is status Update?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Task_OwnerId_not_Null</name>
        <label>Is Task OwnerId not Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Owner_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Owner_ID_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskOwnerID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_Field_Values</targetReference>
            </connector>
            <label>Task Owner ID not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_the_latest_contract</name>
        <label>Is this the latest contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_if_end_date_or_status_is_not_correct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNextStartDate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_next_contract_start_date</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Update_or_Create</name>
        <label>Is Update or Create?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_RecordType</targetReference>
            </connector>
            <label>Is Create?</label>
        </rules>
        <rules>
            <name>Is_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_End_Date_changed_all_for_applicable_RT</targetReference>
            </connector>
            <label>Is Update?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Contract_Check</name>
        <label>Previous Contract Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Previous_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PreviousContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_previous_contract</targetReference>
            </connector>
            <label>Has Previous Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_End_Date_changed_all_for_applicable_RT</name>
        <label>Start/End Date changed all for applicable RT ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>( 1 AND 2 ) OR ( 3 AND 4 ) AND ( 5 OR 6 OR 7 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Client_RecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Clinician_RecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Client_Contract_RecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Start_End_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>PR1050558-4548 - When the Contract’s start or end date changes (and is not blank), update the PNC record dates to match it for Client, Clinical, and PO contract types.
PR1050558-5225 - Leased Provider Contract
PR1050558-6295 - Add user Fed Id check</description>
    <environments>Default</environments>
    <formulas>
        <name>BaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_260}) - 1)</expression>
    </formulas>
    <formulas>
        <name>contractEndDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.StartDate} - 1</expression>
    </formulas>
    <formulas>
        <name>endDateFormula</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK(  {!$Record.EndDate} ),
    DATE(2099, 1, 1),
   {!$Record.EndDate}
)</expression>
    </formulas>
    <formulas>
        <name>Fr_GlobalFacilityIdNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Iterate_over_PNCs.Healthcare_Practitioner_Facility__r.Account.Global_Facility_ID__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Fr_GlobalProviderIdNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Iterate_over_PNCs.Healthcare_Practitioner_Facility__r.Practitioner.Global_Provider_ID__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fr_POContractEndDate</name>
        <dataType>Date</dataType>
        <expression>{!varNextStartDate} - 1</expression>
    </formulas>
    <formulas>
        <name>Is_New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NewContractStartdateminus1</name>
        <dataType>Date</dataType>
        <expression>{!$Record.StartDate} - 1</expression>
    </formulas>
    <formulas>
        <name>startDateFormula</name>
        <dataType>Date</dataType>
        <expression>{!$Record.StartDate}</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>&apos;Leased Provider Acknowledgment check required for &apos;&amp;{!$Record.Account.FirstName}&amp;&apos; &apos;&amp;{!$Record.Account.LastName}</expression>
    </formulas>
    <formulas>
        <name>Task_Activity_Date</name>
        <dataType>Date</dataType>
        <expression>IF(WEEKDAY(TODAY()) = 6, TODAY() + 3, TODAY() + 1)</expression>
    </formulas>
    <interviewLabel>Contract After {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract After Save</label>
    <loops>
        <name>Iterate_over_PNCs</name>
        <label>Iterate over PNCs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_PNC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_HPFs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HPFUpdatesList_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_contracts</name>
        <label>Loop over contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Existing_PO_Contract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_this_the_latest_contract</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Existing_PO_Record_is_Present</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_HPFs</name>
        <label>Loop through HPFs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_HPF_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Task_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_All_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_PNCs</name>
        <label>Loop through PNCs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_PNC_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_HPF_IDs_From_PNC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_HPF_ID_Collection_is_Not_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_previous_contracts</name>
        <label>Loop through previous contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Previous_Employee_Records1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Checking_For_Contract_Date_Alignment1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contract_Records1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_check_the_Status</name>
        <label>Loop to check the Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_contracts_related_to_opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckingTheStatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contracts_not_in_Executed_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_through_Previous_contract_records</name>
        <label>Looping through Previous contract records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Previous_Employee_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Checking_For_Contract_Date_Alignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contract_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_through_the_existing_records</name>
        <label>Looping through the existing records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Existing_Executed_Contracts_for_Update</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_for_start_date_and_employee_type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Parent_Contract_Cancellation_Required_for_Same_Start_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_Record</name>
        <label>Create Task Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>TaskRecordOnCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Record_on_Create</name>
        <label>Create Task Record on Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>TaskRecordOnCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Created_HPFUpdate_Platform_Event</name>
        <label>Created HPFUpdate Platform Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Employment_Type</targetReference>
        </connector>
        <inputReference>HPFUpdatesList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_All_Tasks</name>
        <label>Insert All Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_CPA_And_Related_Records</targetReference>
        </connector>
        <inputReference>taskCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_BD_Operations_Queue</name>
        <label>Get BD Operations Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Task_RT_and_BD_Operations_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD Operations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Contracting_Queue</name>
        <label>Get Client Contracting Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Default_Task_Values_Leased_Provider</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Contracting Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contracts_related_to_opportunity</name>
        <label>Get contracts related to opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_check_the_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SourceOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Master</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Quality_Queue</name>
        <label>Get Data Quality Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Queue_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Quality</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Task_Record_Type</name>
        <label>Get Default Task Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Record_Type_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Task_Record_Type_on_Create</name>
        <label>Get Default Task Record Type on Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BD_Operations_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Task_Record_Type_on_Create_C1</name>
        <label>Get Default Task Record Type on Create C1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Client_Contracting_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Executed_Contracts_for_Update</name>
        <label>Get Existing Executed Contracts for Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_through_the_existing_records</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( 3 OR 4 ) AND 5 AND 6</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_PO_Contract</name>
        <label>Get Existing PO Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_contracts</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Superseded</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Growth_Opportunity_record_type</name>
        <label>Get Growth Opportunity record type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Growth_Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HPF_Records</name>
        <label>Get HPF Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_HPF_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>HPF_ID_Collection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HealthcarePractitionerFacility</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PNC</name>
        <label>Get PNC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_HPF_Id_from_PNC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Healthcare_Practitioner_Facility__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProviderNetworkContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PNC_List</name>
        <label>Get PNC List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_PNCs_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProviderNetworkContract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Healthcare_Practitioner_Facility__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Employee_Records</name>
        <label>Get Previous Employee Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_through_Previous_contract_records</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND ( 6 OR 7 ) AND 8</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Employee_Records1</name>
        <label>Get Previous Employee Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_previous_contracts</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND ( 6 OR 7 ) AND 8</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Independent Contractor</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pro_Forma_Model</name>
        <label>Get Pro Forma Model</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pro_Forma_Model_is_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SourceOpportunityIDResource</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved for Contracting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pro_Forma_Model__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SCP_Health_Account</name>
        <label>Get SCP Health Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Growth_Opportunity_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordType_DeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Competitors</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SCP Health</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Field_Values</name>
        <label>Get Task Field Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Task_Creation_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task_on_Contract_Creation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task_Creation_Value__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_user</name>
        <label>Get user</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_the_user_has_federation_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Client_Change_Management_Records</name>
        <label>Update Client Change Management Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Client_Change_Management__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Flag</name>
        <label>Update Contract Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>IsRenewalProcessEnabled</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Records</name>
        <label>Update Contract Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_CPA_And_Related_Records</targetReference>
        </connector>
        <inputReference>ContractRecordsToUpdateForTypeChange</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Records1</name>
        <label>Update Contract Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_CPA_And_Related_Records</targetReference>
        </connector>
        <inputReference>ContractRecordsToUpdateForTypeChange</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Record</name>
        <label>Update Existing Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Update_or_Create</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Contract_Flag</targetReference>
        </faultConnector>
        <inputReference>collContractsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HPF_Records</name>
        <label>Update HPF Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Previous_HPF_Records_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Collect_HPF_Id_from_PNC</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contracting_Status__c</field>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </inputAssignments>
        <object>HealthcarePractitionerFacility</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Record</name>
        <label>Update Opportunity Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Previous_Contract_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>LOI_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SourceOpportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PNC</name>
        <label>Update PNC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>pncEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>pncStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>ProviderNetworkContract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_previous_contract</name>
        <label>Update previous contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PreviousContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Superseded</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PreviousContract_with_start_date</name>
        <label>Update PreviousContract with start date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_CPA_And_Related_Records</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( 3 OR 4 )</filterLogic>
        <filters>
            <field>Employment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancel_Reason__c</field>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Record.PreviousContract.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.PreviousContract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PreviousContract_with_start_date1</name>
        <label>Update PreviousContract with start date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_CPA_And_Related_Records</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( 3 OR 4 )</filterLogic>
        <filters>
            <field>Employment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Independent Contractor</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancel_Reason__c</field>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Record.PreviousContract.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.PreviousContract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PreviousContract_with_Start_Date_minus_1</name>
        <label>Update PreviousContract with Start Date minus 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_CPA_And_Related_Records</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( 3 OR 4 )</filterLogic>
        <filters>
            <field>Employment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancel_Reason__c</field>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>NewContractStartdateminus1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.PreviousContract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PreviousContract_with_StartDate_Minus_1</name>
        <label>Update PreviousContract with StartDate Minus 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_CPA_And_Related_Records</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( 3 OR 4 )</filterLogic>
        <filters>
            <field>Employment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Independent Contractor</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancel_Reason__c</field>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>NewContractStartdateminus1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.PreviousContract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ultimate_Parent_Id_as_self</name>
        <label>Update Ultimate Parent Id as self</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IF_Related_to_Growth_Opportunity</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>PreviousContractId</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>Ultimate_Parent_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ultimate_Parent_Id_as_self_client</name>
        <label>Update Ultimate Parent Id as self client</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>PreviousContractId</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>Ultimate_Parent_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatingcontractRecords</name>
        <label>updatingcontractRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>contractsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Cloned_Practice_Operation_Executed</targetReference>
        </connector>
        <filterLogic>NOT((1 AND 2) OR (3 AND 4))</filterLogic>
        <filters>
            <field>Contract_Trigger_Ack__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Trigger_Ack__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_HireDate_Trigger_Ack__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_HireDate_Trigger_Ack__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>for story 1723</description>
        <name>Call_welcome_Onboarding_Email_flow</name>
        <label>Call welcome Onboarding Email flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PNC</targetReference>
        </connector>
        <flowName>Welcome_Clinician_Onboarding_Email_Flow</flowName>
        <inputAssignments>
            <name>contractId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Clinician_Onboarding_Cases</name>
        <label>Create Clinician Onboarding Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Executed_Contracts_for_Update</targetReference>
        </connector>
        <flowName>Create_Clinician_Onboarding_Cases</flowName>
        <inputAssignments>
            <name>trigeringContract</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_PMT_Task</name>
        <label>Create PMT Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_contracts_related_to_opportunity</targetReference>
        </connector>
        <flowName>Subflow_Client_Onboarding_Task_Creation</flowName>
        <inputAssignments>
            <name>var_ContractRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Notification_change_email_notification</name>
        <label>Notification change email notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EmploymentType</targetReference>
        </connector>
        <flowName>ContractEmployementType_Change_Notification_Email</flowName>
        <inputAssignments>
            <name>varContrcatRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_notification_when_future_contract_exists</name>
        <label>Send notification when future contract exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Send_notification_when_future_contract_exists</flowName>
        <inputAssignments>
            <name>trigeringontract</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Previous_HPF_Records_Flow</name>
        <label>Update Previous HPF Records Flow 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Notification_change_email_notification</targetReference>
        </connector>
        <flowName>Update_Previous_HPF_Records</flowName>
        <inputAssignments>
            <name>ContractIdfromMainFlow</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NewContractStartDate</name>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>UpdateOpportunity</name>
        <label>Update Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Update_Opportunity_Subflow</flowName>
        <inputAssignments>
            <name>accId</name>
            <value>
                <elementReference>Get_SCP_Health_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>oppId</name>
            <value>
                <elementReference>$Record.SourceOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordtypeId</name>
            <value>
                <elementReference>Get_Growth_Opportunity_record_type.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <transforms>
        <name>Collect_HPF_Id_from_PNC</name>
        <label>Collect HPF Id from PNC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_HPF_Records</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_PNC[$EachItem].Healthcare_Practitioner_Facility__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>collContractsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractRecordsToUpdateForTypeChange</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>contractsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>HPF_ID_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HPFIdListForExecutedContract</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HPFListForExecutedContract</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthcarePractitionerFacility</objectType>
    </variables>
    <variables>
        <name>HPFUpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HPFUpdates__e</objectType>
    </variables>
    <variables>
        <name>HPFUpdatesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HPFUpdates__e</objectType>
    </variables>
    <variables>
        <name>pncEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pncList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProviderNetworkContract</objectType>
    </variables>
    <variables>
        <name>PNCRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProviderNetworkContract</objectType>
    </variables>
    <variables>
        <name>pncStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedContractsNotInExecutedStatus</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>singleTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Field to save the Contract.SourceOpportunityId in order to use it in query.</description>
        <name>SourceOpportunityIDResource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskRecordOnCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>UnitContractRecordsToUpdateForTypeChange</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>varNextStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
