knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Contract_Before_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Contract_Id_to_list_with_no_gap_in_dates</name>
        <label>Add Contract Id to list with no gap in dates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PossibleTransitionContractList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Identify_Previous_Contract.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Identify_Previous_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Acknowledgement_Flag</name>
        <label>Assign Acknowledgement Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contract_HireDate_Trigger_Ack__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PreviousContract.Contract_HireDate_Trigger_Ack__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Draft_Expiry_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hire_Date_as_StartDate</name>
        <label>Assign Hire Date as StartDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hire_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contract_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HireDate</name>
        <label>Assign HireDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hire_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Other_PNCs.Contract.Hire_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HireDateAlreadyAssigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Other_PNCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HireDate_to_Employee_to_Leased</name>
        <label>Assign HireDate to Employee to Leased</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HireDateAlreadyAssigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Other_PNCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HireDate_to_IC_to_Leased</name>
        <label>Assign HireDate to IC to Leased</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HireDateAlreadyAssigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Other_PNCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_Services_Accounts</name>
        <label>Assign Other Services Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Other_PNCs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_all_PNCs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_all_PNCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Triggering_Contract_Service_Account</name>
        <label>Assign Triggering Contract Service Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Triggering_Contract_ServiceAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_all_PNCs.Service_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_all_PNCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_HireDate</name>
        <label>Copy 1 of Assign HireDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hire_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Other_PNCs.Contract.Hire_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HireDateAlreadyAssigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Other_PNCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_HireDate</name>
        <label>Copy 2 of Assign HireDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hire_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Other_PNCs.Contract.Hire_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HireDateAlreadyAssigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Other_PNCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_HireDate</name>
        <label>Copy 3 of Assign HireDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hire_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Other_PNCs.Contract.Hire_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HireDateAlreadyAssigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Other_PNCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_HireDate</name>
        <label>Copy 4 of Assign HireDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hire_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Other_PNCs.Contract.Hire_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HireDateAlreadyAssigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Other_PNCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_HireDate</name>
        <label>Copy 5 of Assign HireDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hire_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Other_PNCs.Contract.Hire_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HireDateAlreadyAssigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Other_PNCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Hire_Date</name>
        <label>Set Contract Hire Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hire_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OlderFirstClinicalShift</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contract_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Status</name>
        <label>Set Contract Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Contract_Status_And_Category_External</name>
        <label>Set Contract Status And Category(External)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>External</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_contract_activation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Status_And_Category_Internal</name>
        <label>Set Contract Status And Category(Internal)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_first_time_sent_to_client</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Draft_Expiry_Date</name>
        <label>Set Draft Expiry Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Draft_Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedDraftExpiryDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Executed_Clinician_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hire_Date_as_Administrative_Start_Date</name>
        <label>Set Hire Date as Administrative Start Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hire_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Administrative_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contract_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hired_Date_as_Company_Signed_Date</name>
        <label>Set Hired Date as Company Signed Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hire_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Administrative_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contract_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Older_First_Clinical_Shift</name>
        <label>Set Older First Clinical Shift</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OlderFirstClinicalShift</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_PNCs.Healthcare_Practitioner_Facility__r.First_Clinical_Shift__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_PNCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_NPPA_Tier_Changed_on_Contract</name>
        <label>Update NPPA Tier Changed on Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.NPPA_Tier_Changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contract_RT</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ClientContract_RecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Client_Contract</stringValue>
        </value>
    </constants>
    <constants>
        <name>Clinician_RecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Clinician</stringValue>
        </value>
    </constants>
    <constants>
        <name>LOI_RecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Letter_of_Intent</stringValue>
        </value>
    </constants>
    <customErrors>
        <description>prevents from creating a clinician contract with the same start date as an existing contract</description>
        <name>Same_contract_start_date_error</name>
        <label>Same start date error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Hire_Date_and_Contract_Status</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>There is already a contract for this clinician with the same Start Date. Please review and correct the Start Date.</errorMessage>
            <fieldSelection>Start_Date__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <description>prevents from creating a clinician contract with the same start date as an existing contract</description>
        <name>Same_start_date_error</name>
        <label>Same start date error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckClonedContract</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>There is already a contract for this clinician with the same Start Date. Please review and correct the Start Date.</errorMessage>
            <fieldSelection>Start_Date__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Assign_Corresponding_Value</name>
        <label>Assign Corresponding Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_Other_PNCs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Locum_to_IC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Other_PNCs.Contract.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Locum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Contractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_HireDate</targetReference>
            </connector>
            <label>Locum to IC</label>
        </rules>
        <rules>
            <name>Locum_to_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Other_PNCs.Contract.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Locum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_HireDate</targetReference>
            </connector>
            <label>Locum to Employee</label>
        </rules>
        <rules>
            <name>Employee_to_IC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Other_PNCs.Contract.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Contractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_HireDate</targetReference>
            </connector>
            <label>Employee to IC</label>
        </rules>
        <rules>
            <name>Employee_to_Leased</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Other_PNCs.Contract.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leased</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_HireDate_to_Employee_to_Leased</targetReference>
            </connector>
            <label>Employee to Leased</label>
        </rules>
        <rules>
            <name>IC_to_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Other_PNCs.Contract.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Contractor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_HireDate</targetReference>
            </connector>
            <label>IC to Employee</label>
        </rules>
        <rules>
            <name>IC_to_Leased</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Other_PNCs.Contract.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Contractor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leased</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_HireDate_to_IC_to_Leased</targetReference>
            </connector>
            <label>IC to Leased</label>
        </rules>
        <rules>
            <name>Leased_to_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Other_PNCs.Contract.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leased</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_HireDate</targetReference>
            </connector>
            <label>Leased to Employee</label>
        </rules>
        <rules>
            <name>Leased_to_IC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Other_PNCs.Contract.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leased</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Contractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_HireDate</targetReference>
            </connector>
            <label>Leased to IC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assignments_Desisions</name>
        <label>Assignments Desisions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Other_Services_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asign_Triggerring_Contract_Service_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_all_PNCs.ContractId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Triggering_Contract_Service_Account</targetReference>
            </connector>
            <label>Asign Triggerring Contract Service Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_contract_activation</name>
        <label>Check contract activation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Activation_fields_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ActivatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ActivatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contract_Status</targetReference>
            </connector>
            <label>Activation fields populated?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contract_Record_Type</name>
        <label>Check Contract Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Contract_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Practice_Operations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Is_NPPA_tier_Changed</targetReference>
            </connector>
            <label>Is Practice Operations?</label>
        </rules>
        <rules>
            <name>Is_Clinician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinician</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Clinician_contracts</targetReference>
            </connector>
            <label>Is Clinician?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contract_RT</name>
        <label>Check Contract RT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Client_Contract_Or_LOI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClientContract_RecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LOI_RecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ultimate_parent_Id</targetReference>
            </connector>
            <label>Is Client Contract Or LOI?</label>
        </rules>
        <rules>
            <name>CPA_recordtype</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collaborative_Practice_Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CPA_contract</targetReference>
            </connector>
            <label>CPA recordtype</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_contract_with_same_start_date</name>
        <label>Check contract with same start date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CheckClonedContract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Clinician_contracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Same_start_date_error</targetReference>
            </connector>
            <label>exist?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Current_Contract_Start_Date_with_Existing_Contract_End_Date</name>
        <label>Check Current Contract Start Date with Existing Contract End Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Identify_Previous_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transitioning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Identify_Previous_Contract.EndDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StartDate_minus_one_day</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Contract_Id_to_list_with_no_gap_in_dates</targetReference>
            </connector>
            <label>Transitioning</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_existing_contract</name>
        <label>Check existing contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Hire_Date_and_Contract_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Clinician_contracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Same_contract_start_date_error</targetReference>
            </connector>
            <label>present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_first_time_sent_to_client</name>
        <label>Check first time sent to client</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_contract_activation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Other_Party_Sent_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Other_Party_Sent_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contract_Status_And_Category_External</targetReference>
            </connector>
            <label>populated?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_a_matching_ServiceAccount</name>
        <label>Check for a matching ServiceAccount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_Other_PNCs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ServiceAccountId_matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Other_PNCs.Service_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Triggering_Contract_ServiceAccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Corresponding_Value</targetReference>
            </connector>
            <label>ServiceAccountId matched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Hire_Date_and_Contract_Status</name>
        <label>Check Hire Date and Contract Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Contract_Status_Executed_and_Start_Work_Ahead_is_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Hire_Date_null_Contract_Status_Executed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hire_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Contracts_for_Practitioner</targetReference>
            </connector>
            <label>Is Hire Date null &amp; Contract.Status Executed?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Hire_Date_was_assigned</name>
        <label>Check if Hire Date was assigned</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Related_Provider_Network_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HireDateAlreadyAssigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contract_RT</targetReference>
            </connector>
            <label>Already Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_internal_submission_status</name>
        <label>Check internal submission status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_first_time_sent_to_client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Date_Sent_For_Internal_Review__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Sent_For_Internal_Review__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contract_Status_And_Category_Internal</targetReference>
            </connector>
            <label>Is populated?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Is_NPPA_tier_Changed</name>
        <label>Check Is NPPA tier Changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Contract_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NPPA_Tier__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PreviousContract.NPPA_Tier__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NPPA_Tier__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NPPA_Tier_Changed_on_Contract</targetReference>
            </connector>
            <label>Is Changed?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordType</name>
        <label>Check Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Contract_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsClinician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Clinician_RecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Clinician_contracts</targetReference>
            </connector>
            <label>IsClinician?</label>
        </rules>
        <rules>
            <name>Is_LOI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Letter_of_Intent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contract_RT</targetReference>
            </connector>
            <label>Is LOI</label>
        </rules>
        <rules>
            <name>Is_Client_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contract_RT</targetReference>
            </connector>
            <label>Is Client_Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckClonedContract</name>
        <label>Check Cloned Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Draft_Expiry_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PreviousContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PreviousContract.Employment_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Acknowledgement_Flag</targetReference>
            </connector>
            <label>Is Populated?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_First_Clinical_Shift</name>
        <label>Compare First Clinical Shift</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_PNCs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_HPF_FirstClinicalShift_null_or_less_than_stored_value</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OlderFirstClinicalShift</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_PNCs.Healthcare_Practitioner_Facility__r.First_Clinical_Shift__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OlderFirstClinicalShift</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Older_First_Clinical_Shift</targetReference>
            </connector>
            <label>Is HPF.FirstClinicalShift null or less than  stored value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contract_Status_Executed_and_Start_Work_Ahead_is_True</name>
        <label>Is Contract Status Executed and Start Work Ahead is True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Contract_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Status_is_Executed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Admin_Work_Ahead_of_Clinical_Work__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hire_Date_as_Administrative_Start_Date</targetReference>
            </connector>
            <label>Contract Status is Executed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Executed_Clinician_Contracts_Present</name>
        <label>Is Executed Clinician Contracts Present ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Contract_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Executed_Clinician_Contracts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hire_Date_as_StartDate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Date_Gap_in_Contracts</name>
        <label>No Date Gap in Contracts?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Related_Provider_Network_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PossibleTransitionContractList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Provider_Network_Contracts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PNCs_Exists</name>
        <label>PNCs Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Contract_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provider_Network_Contracts_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Provider_Network_Contract</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_PNCs</targetReference>
            </connector>
            <label>Provider Network Contracts Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Hire_Scenario</name>
        <label>Set Hire Scenario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Contract_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Previous_Contract</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Admin_Work_Ahead_of_Clinical_Work__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Contracts_for_Practitioner</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Contractor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leased</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Locum</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Provider_Network_Contract</targetReference>
            </connector>
            <label>No Previous Contract</label>
        </rules>
        <rules>
            <name>Previous_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Admin_Work_Ahead_of_Clinical_Work__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Contracts_for_Practitioner</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Identify_Previous_Contract</targetReference>
            </connector>
            <label>Previous Contract</label>
        </rules>
        <rules>
            <name>Start_Work_Ahead_of_Clinical_Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Admin_Work_Ahead_of_Clinical_Work__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hired_Date_as_Company_Signed_Date</targetReference>
            </connector>
            <label>Start Work Ahead of Clinical Work</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the operation is Create or Update.</description>
        <name>Update_or_Create</name>
        <label>Update or Create?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_RecordType</targetReference>
            </connector>
            <label>Is Create?</label>
        </rules>
        <rules>
            <name>Is_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contract_Record_Type</targetReference>
            </connector>
            <label>Is Update?</label>
        </rules>
    </decisions>
    <description>PR1050558-4674 : Updates Hire Date to Contract Start Date when a new Executed Clinician Contract is created with a different Employment Type than a previously Executed contract. PR1050558-4748 :</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>StartDate_minus_one_day</name>
        <dataType>Date</dataType>
        <expression>{!$Record.StartDate}-1</expression>
    </formulas>
    <formulas>
        <name>UpdatedDraftExpiryDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>Contract Before Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Before Save Flow</label>
    <loops>
        <name>Identify_Previous_Contract</name>
        <label>Identify Previous Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Existing_Contracts_for_Practitioner</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Current_Contract_Start_Date_with_Existing_Contract_End_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>No_Date_Gap_in_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_all_PNCs</name>
        <label>Iterate over all PNCs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Provider_Network_Contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignments_Desisions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_over_Other_PNCs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_Other_PNCs</name>
        <label>Iterate over Other PNCs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Other_PNCs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_a_matching_ServiceAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Hire_Date_was_assigned</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_PNCs</name>
        <label>Iterate Over PNCs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_Provider_Network_Contract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compare_First_Clinical_Shift</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Contract_Hire_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Clinician_contracts</name>
        <label>Get Clinician contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_existing_contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_F__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_F__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Supplemental</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Clinician_contracts</name>
        <label>Get Clinician contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_contract_with_same_start_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_F__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_F__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Supplemental</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Executed_Clinician_Contracts</name>
        <label>Get_Executed_Clinician_Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Executed_Clinician_Contracts_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Employment_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Employment_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Contracts_for_Practitioner</name>
        <label>Get Existing Contracts for Practitioner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Hire_Scenario</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StatusCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>StatusCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expired2</stringValue>
            </value>
        </filters>
        <filters>
            <field>StatusCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Terminated2</stringValue>
            </value>
        </filters>
        <filters>
            <field>StatusCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Network_Contracts</name>
        <label>Get Provider Network Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_all_PNCs</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContractId</field>
            <operator>In</operator>
            <value>
                <elementReference>PossibleTransitionContractList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProviderNetworkContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Provider_Network_Contract</name>
        <label>Get Related Provider Network Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PNCs_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProviderNetworkContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CPA_contract</name>
        <label>Update CPA contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Collaborative_Practice_Agreement__r.Physician_Healthcare_Facility__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NP_PA_Name__c</field>
            <value>
                <elementReference>$Record.Collaborative_Practice_Agreement__r.NP_PA_Healthcare_Practitioner_Facility__r.Practitioner.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physician__c</field>
            <value>
                <elementReference>$Record.Collaborative_Practice_Agreement__r.Physician_Healthcare_Facility__r.Practitioner.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ultimate_parent_Id</name>
        <label>Update Ultimate parent Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_internal_submission_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PreviousContractId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Ultimate_Parent_Id__c</field>
            <value>
                <elementReference>$Record.PreviousContract.Ultimate_Parent_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_or_Create</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>HireDateAlreadyAssigned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OlderFirstClinicalShift</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Other_PNCs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProviderNetworkContract</objectType>
    </variables>
    <variables>
        <name>PossibleTransitionContractList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Triggering_Contract_ServiceAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
