knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Contract_Update_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Variable</name>
        <label>Assign Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_IsContractEmploymentTypeIsNotLeasedOrLocums</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>PR1050558-2467 - If employee type selected is Leased or Locums, and goes through the contract request process, on final submit , the contract in executed status.</description>
        <name>Check_Contract_Type</name>
        <label>Check Contract Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Contract_Type_Leased_or_Locums</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leased</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Locum</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract</targetReference>
            </connector>
            <label>Check Contract Type Leased or Locums</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Recalled</name>
        <label>If Recalled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_PNC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recalled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IfRecalled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract_Status</targetReference>
            </connector>
            <label>Recalled?</label>
        </rules>
    </decisions>
    <description>Created as part of PR1050558-2467, this flow updates the Contract Status when Employment Type is set to Leased or Locum, and it is launched from the &apos;Clinician Contract Review Approval Flow&apos;
PR1050558-4739 - enhacement</description>
    <environments>Default</environments>
    <interviewLabel>Contract Update - Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Update - Sub Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get_Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Recalled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PNC</name>
        <label>Get PNC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_to_clear_QGenda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProviderNetworkContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Status</name>
        <label>Update Contract Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Task_to_clear_QGenda</name>
        <label>Task to clear QGenda</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Contract_Type</targetReference>
        </connector>
        <flowName>Sublow_Task_to_Clear_QGenda</flowName>
        <inputAssignments>
            <name>ClinicianAccountId</name>
            <value>
                <elementReference>Get_Contract.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ClinicianAccountName</name>
            <value>
                <elementReference>Get_Contract.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContractId</name>
            <value>
                <elementReference>Get_Contract.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PNCRecord</name>
            <value>
                <elementReference>Get_PNC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PractionerId</name>
            <value>
                <elementReference>Get_Contract.Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>IfRecalled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsContractEmploymentTypeIsNotLeasedOrLocums</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
