knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Contract_Subflow_Set_Contract_Hire_Date_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Hire_Date</name>
        <label>Assign Hire Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hire_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedOldContractEndDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Hire_Date_1</name>
        <label>Assign Hire Date 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hire_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Hire_Date_2</name>
        <label>Assign Hire Date 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hire_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Hire_Date_3</name>
        <label>Assign Hire Date 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hire_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Hire_Date_5</name>
        <label>Assign Hire Date 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hire_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Hire_Date_7</name>
        <label>Assign Hire Date 7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hire_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Hire_Date_8</name>
        <label>Assign Hire Date 8</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hire_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Running_Service_Account</name>
        <label>Assign Running Service Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RunningContractServiceAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Running_Contract_PNCs.Service_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Running_Contract_PNCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hire_Date_with_Contract_Signed_Date</name>
        <label>Set Hire Date with Contract Signed Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hire_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_HPF</name>
        <label>Set Older First Clinical Shift</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OlderFirstClinicalShift</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_PNCs.Healthcare_Practitioner_Facility__r.First_Clinical_Shift__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_PNCs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Employment_Type</name>
        <label>Check Employment Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Employee_IC_Leased_or_Locum</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContractRecord.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractRecord.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Contractor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractRecord.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leased</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractRecord.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Locum</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hire_Date</targetReference>
            </connector>
            <label>Employee, IC, Leased or Locum</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Existing_Contracts</name>
        <label>Check Existing Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Query_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Transitioning</defaultConnectorLabel>
        <rules>
            <name>Transitioning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Contracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_Running_Contract_PNCs</targetReference>
            </connector>
            <label>Transitioning</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Initial_Criteria</name>
        <label>Check Initial Criteria</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Contract_transitioning_no_transitioning</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>ContractRecord.Hire_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractRecord.Start_Admin_Work_Ahead_of_Clinical_Work__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Running_Contract_PNC</targetReference>
            </connector>
            <label>Is Contract transitioning/no transitioning</label>
        </rules>
        <rules>
            <name>Employee_and_Start_Admin_Work_Ahead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractRecord.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractRecord.Start_Admin_Work_Ahead_of_Clinical_Work__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_it_is_Start_Work_Ahead_of_Clinical_Work</targetReference>
            </connector>
            <label>Employee and Start Admin Work Ahead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Query_Result</name>
        <label>Check Query Result</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Length_greater_than_zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Running_Contract_PNC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Running_Contract_PNC</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_PNCs</targetReference>
            </connector>
            <label>Check Length greater than zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_First_Clinical_Shift</name>
        <label>Compare First Clinical Shift</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_PNCs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_HPF_FirstClinicalShift_null_or_less_than_stored_value</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OlderFirstClinicalShift</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OlderFirstClinicalShift</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Over_PNCs.Healthcare_Practitioner_Facility__r.First_Clinical_Shift__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_HPF</targetReference>
            </connector>
            <label>Is HPF.FirstClinicalShift null or less than  stored value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Transitioning_to_new_role</name>
        <label>Is Transitioning to new role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Locum_to_IC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Contracts.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Locum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractRecord.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Contractor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Contract_PNCs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hire_Date_1</targetReference>
            </connector>
            <label>Locum to IC</label>
        </rules>
        <rules>
            <name>Locum_to_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractRecord.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Contracts.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Locum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Contract_PNCs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hire_Date_2</targetReference>
            </connector>
            <label>Locum to Employee</label>
        </rules>
        <rules>
            <name>Employee_to_IC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Contracts.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractRecord.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Contractor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Contract_PNCs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hire_Date_3</targetReference>
            </connector>
            <label>Employee to IC</label>
        </rules>
        <rules>
            <name>Employee_to_Leased</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractRecord.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leased</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Contracts.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Contract_PNCs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Employee to Leased</label>
        </rules>
        <rules>
            <name>IC_to_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractRecord.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Contracts.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Contractor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Contract_PNCs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hire_Date_5</targetReference>
            </connector>
            <label>IC to Employee</label>
        </rules>
        <rules>
            <name>IC_to_Leased</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractRecord.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leased</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Contracts.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Contractor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Contract_PNCs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>IC to Leased</label>
        </rules>
        <rules>
            <name>Leased_to_IC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractRecord.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Contractor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Contracts.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leased</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Contract_PNCs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hire_Date_7</targetReference>
            </connector>
            <label>Leased to IC</label>
        </rules>
        <rules>
            <name>Leased_to_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractRecord.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Contracts.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leased</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Contract_PNCs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hire_Date_8</targetReference>
            </connector>
            <label>Leased to Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Review_it_is_Start_Work_Ahead_of_Clinical_Work</name>
        <label>Review it is Start Work Ahead of Clinical Work</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Work_Ahead_of_Clinical_Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractRecord.Start_Admin_Work_Ahead_of_Clinical_Work__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractRecord.Hire_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractRecord.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hire_Date_with_Contract_Signed_Date</targetReference>
            </connector>
            <label>Start Work Ahead of Clinical Work</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedOldContractEndDate</name>
        <dataType>Date</dataType>
        <expression>{!ContractRecord.StartDate} - 1</expression>
    </formulas>
    <interviewLabel>Contract Subflow Set Hire Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Subflow Set Contract.Hire_Date__c</label>
    <loops>
        <name>Iterate_Over_PNCs</name>
        <label>Iterate Over PNCs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Running_Contract_PNC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compare_First_Clinical_Shift</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Employment_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_Running_Contract_PNCs</name>
        <label>Iterate over Running Contract PNCs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Running_Contract_PNC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Running_Service_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Existing_Contract_PNCs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_Contract_PNCs</name>
        <label>Get Existing Contract PNCs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Transitioning_to_new_role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Contracts.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RunningContractServiceAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProviderNetworkContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Contracts</name>
        <label>Get Existing Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Existing_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractRecord.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CalculatedOldContractEndDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Running_Contract_PNC</name>
        <label>Get Running Contract PNC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProviderNetworkContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Initial_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hire_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ExistingsContractsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HPFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OlderFirstClinicalShift</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RunningContractServiceAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
