knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Contract_Update_EndDate_Status_ScheduleFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_contract_to_list</name>
        <label>Add contract to list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>collContractsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_contracts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_next_start_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_next_contract_start_date</name>
        <label>Assign next contract start date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNextStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_contracts.StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_contract_status</name>
        <label>Update contract status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_contracts.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Superseded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_contract_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_end_date</name>
        <label>Update end date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_contracts.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fr_EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_end_date_in_past</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_next_start_date</name>
        <label>Update next start date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNextStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_contracts.StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_contracts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_end_date_in_past</name>
        <label>Check end date in past</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_contract_to_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fr_EndDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contract_status</targetReference>
            </connector>
            <label>yess</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_end_date_or_status_is_not_correct</name>
        <label>Check if end date or status is not correct?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_next_start_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_correct</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_contracts.EndDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>fr_EndDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fr_EndDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_contracts.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Superseded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_end_date</targetReference>
            </connector>
            <label>Not correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Record_is_Present</name>
        <label>If Record is Present</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collContractsToUpdate</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Contract</targetReference>
            </connector>
            <label>Record is Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_the_latest_contract</name>
        <label>Is this the latest contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_if_end_date_or_status_is_not_correct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNextStartDate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_next_contract_start_date</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <description>Created as part of PR1050558-3207</description>
    <environments>Default</environments>
    <formulas>
        <name>fr_EndDate</name>
        <dataType>Date</dataType>
        <expression>{!varNextStartDate} - 1</expression>
    </formulas>
    <interviewLabel>Contract : ScheduleFlow to Update Contract EndDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract : Update EndDate &amp; Status : ScheduleFlow</label>
    <loops>
        <name>Loop_over_contracts</name>
        <label>Loop over contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Existing_Active_Contract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_this_the_latest_contract</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Record_is_Present</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_Active_Contract</name>
        <label>Get Existing Active Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_contracts</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND (2 OR 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Superseded</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_the_contract_flag_as_false</name>
        <label>Mark the contract flag as false</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsRenewalProcessEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IsRenewalProcessEnabled</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Flag</name>
        <label>Update Contract Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsRenewalProcessEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IsRenewalProcessEnabled</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Contract</name>
        <label>Update Existing Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mark_the_contract_flag_as_false</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Contract_Flag</targetReference>
        </faultConnector>
        <inputReference>collContractsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Active_Contract</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>PO_Contract_Scheduled_Flow_Condition__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsRenewalProcessEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_DeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>PreviousContractId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2025-10-13</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collContractsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>varNextStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
