knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/CPA_Delete_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Rates</name>
        <label>Calculate Rates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CalculateNPPARates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Contract_Is_Part_Time</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>NPPATier</name>
            <value>
                <elementReference>$Record.Contract.NPPA_Tier__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PCAListToProcess</name>
            <value>
                <elementReference>Get_PCA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TimeType</name>
            <value>
                <elementReference>$Record.Contract.Time_Type__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CalculateNPPARates</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AvgHourlyrate</assignToReference>
            <name>AvgHourlyrate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>FullTimeMonthlyBlendedRate</assignToReference>
            <name>FullTimeMonthlyBlendedRate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>FullTimeOverageRate</assignToReference>
            <name>FullTimeOverageRate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>FullTimeWeeklyBlended</assignToReference>
            <name>FullTimeWeeklyBlended</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_CPA_Ids_to_List</name>
        <label>Add CPA Ids to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CPAIdsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Other_CPA.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Other_CPA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contract_Fields</name>
        <label>Check Contract Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Eligible</defaultConnectorLabel>
        <rules>
            <name>Is_Eligible_for_NPPA_Tier</name>
            <conditionLogic>( 1 OR 2 ) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract.Account.Professional_Title__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract.Account.Professional_Title__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract.RecordType_DeveloperName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinician</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Other_CPA_related_to_Contract</targetReference>
            </connector>
            <label>Eligible for NPPA Tier</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contract_Is_Part_Time</name>
        <label>Check Contract Is Part Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Is_Part_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract.Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Part Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Contract</targetReference>
            </connector>
            <label>Contract Is Part Time</label>
        </rules>
        <rules>
            <name>NPPA_Tier_Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract.NPPA_Tier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract.Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract_1</targetReference>
            </connector>
            <label>NPPA Tier Not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Other_CPA_Exists</name>
        <label>If Other CPA Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_CPA_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Other_CPA_related_to_Contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Other_CPA</targetReference>
            </connector>
            <label>Other CPA Exists?</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_PCA_exists</name>
        <label>If PCA exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PCA_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PCA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Rates</targetReference>
            </connector>
            <label>PCA exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Type_is_Shift</name>
        <label>If Type is Shift</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_Shift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contract_Fields</targetReference>
            </connector>
            <label>Type = Shift</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CPA Delete Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPA Delete Flow</label>
    <loops>
        <name>Loop_over_Other_CPA</name>
        <label>Loop over Other CPA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Other_CPA_related_to_Contract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_CPA_Ids_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_PCA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Other_CPA_related_to_Contract</name>
        <label>Get Other CPA related to Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Other_CPA_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shift</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractPaymentAgreement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PCA</name>
        <label>Get PCA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_PCA_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractPaymentAgreementId</field>
            <operator>In</operator>
            <value>
                <elementReference>CPAIdsList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit_of_Measure__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>per Hour</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PreventiveCareAgreement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update contract only when time type is part time PR1050558-4667</description>
        <name>Copy_1_of_Update_Contract</name>
        <label>Update Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>EE_NP_PA_Hourly_Blended__c</field>
            <value>
                <elementReference>AvgHourlyrate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>EE_NPPA_Full_Time_Weekly_Blended__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EE_NP_PA_Full_Time_Monthly_Blended__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EE_NP_PA_Full_Time_Overage_Rate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EE_NP_PA_Hourly_Blended__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_1</name>
        <label>Update Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>EE_NPPA_Full_Time_Weekly_Blended__c</field>
            <value>
                <elementReference>FullTimeWeeklyBlended</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EE_NP_PA_Full_Time_Monthly_Blended__c</field>
            <value>
                <elementReference>FullTimeMonthlyBlendedRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EE_NP_PA_Full_Time_Overage_Rate__c</field>
            <value>
                <elementReference>FullTimeOverageRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EE_NP_PA_Hourly_Blended__c</field>
            <value>
                <elementReference>AvgHourlyrate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contract</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Type_is_Shift</targetReference>
        </connector>
        <object>ContractPaymentAgreement</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AvgHourlyrate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CPAIdsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FullTimeMonthlyBlendedRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FullTimeOverageRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FullTimeWeeklyBlended</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
