knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Create_Facility_Term_Task_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Task_To_Task_List</name>
        <label>Add Task To Task List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clinician_Review_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Task_To_Task_List1</name>
        <label>Add Task To Task List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Client_Operations_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Task_To_Task_List3</name>
        <label>Add Task To Task List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Client_IT_Operations_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Task_To_Task_List4</name>
        <label>Add Task To Task List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Equipment_Return_Task_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Task_To_Task_List_CS</name>
        <label>Add Task To Task List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Client_Systems_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Task_To_Task_ListCO</name>
        <label>Add Task To Task List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Client_Operations_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Client_IT_Operations_Task_Subject_List</name>
        <label>Assign Client IT Operations Task Subject List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>clientITOperationSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Terminate Hospital Interfaces</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientITOperationSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>HIT - My SCPCare APP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientITOperationSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Close mySCP Handoff Group</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientITOperationSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Remove from mySCP Cares</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Client_IT_Operations_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Client_Operation_IT_Tasks</name>
        <label>Assign Client Operation IT Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_IT_Operations_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trigeringCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_RecordType_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_IT_Infrastructure_Queue_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Client_Operations_Task_Subject_List</name>
        <label>Assign Client Operations Task Subject List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>clientOperationsSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Confirm Chart Completion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientOperationsSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Resolve Outstanding Enrollment Issues</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientOperationsSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Malpractice Carrier Contract Closeout</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientOperationsSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Confirm Scheduling Completion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientOperationsSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Marketing Removal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientOperationsSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Notify Telemedicine Vendor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientOperationsSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Communicate Closure to Nursing/Ancillary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientOperationsSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Communicate Program Transition to Onsite Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientOperationsSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Cancel/Close Required Job Requisitions</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientOperationsSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Perform all Virtual Health Offboarding Tasks</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Client_Operations_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Client_System_Operations_Task</name>
        <label>Assign Client System Operations Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_Operations_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trigeringCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_RecordType_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Owner_for_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Client_System_Operations_Task2</name>
        <label>Assign Client System Operations Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_Operations_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trigeringCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_RecordType_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_VP_Operations_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Client_System_Operations_Task_1</name>
        <label>Assign Client System Operations Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_Operations_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trigeringCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_RecordType_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Virtual_Health_Program_Manager_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Client_System_Tasks</name>
        <label>Assign Client System Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_Systems_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trigeringCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_RecordType_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Task_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Clinician_Experience_Specialist_Owner</name>
        <label>Assign Clinician Experience Specialist Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClinicianExperienceSpecialistTeamMemberId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_List1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Clinician_Impact_Meeting_Owner</name>
        <label>Assign Clinician Impact Meeting Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VP_Operation_TeamMember_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Clinician_Review_Tasks</name>
        <label>Assign Clinician Review Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clinician_Review_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trigeringCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_RecordType_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Task_Subject_For_Owner_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dir_Of_Staffing_ClinicianReview</name>
        <label>Assign Dir Of Staffing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DirStaffingTeamMemberId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Documentation_Specialist_Owner</name>
        <label>Assign Documentation Specialist Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentationSpecialistTeamMemberId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_List1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Enrolment_Queue_Id</name>
        <label>Assign Enrolment Queue Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>enrolmentQueueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Enrolment_Specialist_Queue_Owner</name>
        <label>Assign Enrolment Specialist Queue Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>enrolmentQueueId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_List1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Equipment_Return_Task_Subject_List</name>
        <label>Assign Equipment Return Task Subject List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>equipmentReturnSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hardware Collection</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>equipmentReturnSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Shred/Pack Proprietary Material</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>equipmentReturnSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Confirm Equipment Retrieval Date/Time</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Equipment_Return_Task_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Equipment_Return_Tasks</name>
        <label>Assign Equipment Return Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equipment_Return_Task_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trigeringCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_RecordType_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Hospitalist_Practice_Manager_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hospitalist_Practice_As_Owner</name>
        <label>Assign Hospitalist Practice As Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HospitalistPMTeamMemberId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_List_CS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hospitalist_Practice_Manager_Owner</name>
        <label>Assign Hospitalist Practice Manager Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HospitalistPMTeamMemberId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_List4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_It_Infrastructure_Queue_Id</name>
        <label>Assign It Infrastructure Queue Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>iTInfraQueueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IT_Infrastructure_Queue_Owner</name>
        <label>Assign IT Infrastructure Queue Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iTInfraQueueId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_List3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_From_Case</name>
        <label>Assign Owner From Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trigeringCase.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_From_Case1</name>
        <label>Assign Owner From Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trigeringCase.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_List1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_From_Case2</name>
        <label>Assign Owner From Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trigeringCase.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_ListCO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_From_Case3</name>
        <label>Assign Owner From Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trigeringCase.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_List3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_From_Case4</name>
        <label>Assign Owner From Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trigeringCase.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_To_Task_ListCO2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_From_Case5</name>
        <label>Assign Owner From Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trigeringCase.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_List4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_From_Case_ClientSystems</name>
        <label>Assign Owner From Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trigeringCase.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_List_CS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recruiter_Primary_Owner</name>
        <label>Assign Recruiter-Primary Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecruiterPrimaryTeamMemberId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_List1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Regional_Medical_Officer_ClinicianReview</name>
        <label>Assign Regional Medical Officer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegionalMedicalOfficerTeamMemberId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Risk_Management_Queue_Id</name>
        <label>Assign Risk Management Queue Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>riskManagementQueueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Risk_Management_queue_Owner</name>
        <label>Assign Risk Management queue Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>riskManagementQueueId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_List1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Owner_based_on_Case</name>
        <label>Assign Task Owner based on Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trigeringCase.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Subjects</name>
        <label>Assign Task Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>clinicianReviewSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Clinician Impact Meeting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clinicianReviewSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Notify Clinicians - Visa Impacted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clinicianReviewSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Notify Clinicians - Locums  Impacted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clinicianReviewSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Retain MD/MLPs Effort</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clinicianReviewSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Review Contracting for Buyout Language</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clinician_Review_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Subjects_For_Client_Systems</name>
        <label>Assign Task Subjects For Client Systems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>clientSystemsAccessSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>HPS Access</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientSystemsAccessSubjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Client Permission to Retain Remote Access</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Client_Systems_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Virtual_Health_Program_Manager_Owner</name>
        <label>Assign Virtual Health Program Manager Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VirtualHealthPMTeamMemberId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_List1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Virtual_Health_Program_Manager_Owner1</name>
        <label>Assign Virtual Health Program Manager Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VirtualHealthPMTeamMemberId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_ListCO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VP_Operation_Team_Member_Id</name>
        <label>Assign VP Operation Team Member Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VP_Operation_TeamMember_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account_Team_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VP_Operations_Owner1</name>
        <label>Assign VP Operations Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VP_Operation_TeamMember_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_To_Task_ListCO2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VP_Operations_TM_Owner</name>
        <label>Assign VP Operations Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VP_Operation_TeamMember_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_List1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRegionalMedicalOfficer</name>
        <label>Assign Regional Medical Officer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegionalMedicalOfficerTeamMemberId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Task_List1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clinician_Experience_Specialist_Team_Member_Id</name>
        <label>Clinician Experience Specialist Team Member Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ClinicianExperienceSpecialistTeamMemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account_Team_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dir_Staffing_Team_Member_Id</name>
        <label>Dir Staffing Team Member Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DirStaffingTeamMemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account_Team_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Documentation_Specialist_Team_Member_Id</name>
        <label>Documentation Specialist Team Member Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DocumentationSpecialistTeamMemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account_Team_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hospitalist_Practice_Manager_Team_Member_Id</name>
        <label>Hospitalist Practice Manager Team Member Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HospitalistPMTeamMemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account_Team_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recruiter_Primary_Team_Member_Id</name>
        <label>Recruiter Primary Team Member Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RecruiterPrimaryTeamMemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account_Team_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Regional_Medical_Officer_Team_Member_Id</name>
        <label>Regional Medical Officer Team Member Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RegionalMedicalOfficerTeamMemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account_Team_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_To_Task_ListCO2</name>
        <label>Task To Task List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Client_Operations_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Virtual_Health_Program_Manager_Team_Member_Id</name>
        <label>Virtual Health Program Manager Team Member Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VirtualHealthPMTeamMemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account_Team_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Team_Members</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Clinician_Review</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Clinician Review</stringValue>
        </value>
    </constants>
    <constants>
        <name>Enrollment_Specialist_Queue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Enrollment_Specialist_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>IT_Infrastructure_Queue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>IT_Infrastructure_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>Risk_Management_Queue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Risk_Management_Queue</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Account_Team_Role</name>
        <label>Check Account Team Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Task_Owner_based_on_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VP_Operations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Account_Team_Members.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VP Operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_VP_Operation_Team_Member_Id</targetReference>
            </connector>
            <label>VP Operations</label>
        </rules>
        <rules>
            <name>Dir_of_Staffing_Fulfillment_Optimization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Account_Team_Members.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dir Staffing Fulfillment Optimization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dir_Staffing_Team_Member_Id</targetReference>
            </connector>
            <label>Dir of Staffing Fulfillment Optimization</label>
        </rules>
        <rules>
            <name>Regional_Medical_Officer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Account_Team_Members.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regional Medical Officer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Regional_Medical_Officer_Team_Member_Id</targetReference>
            </connector>
            <label>Regional Medical Officer</label>
        </rules>
        <rules>
            <name>Hospitalist_Practice_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Account_Team_Members.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hospitalist Practice Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hospitalist_Practice_Manager_Team_Member_Id</targetReference>
            </connector>
            <label>Hospitalist Practice Manager</label>
        </rules>
        <rules>
            <name>Documentation_Specialist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Account_Team_Members.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Documentation Specialist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Documentation_Specialist_Team_Member_Id</targetReference>
            </connector>
            <label>Documentation Specialist</label>
        </rules>
        <rules>
            <name>Clinician_Experience_Specialist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Account_Team_Members.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinician Experience Specialist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clinician_Experience_Specialist_Team_Member_Id</targetReference>
            </connector>
            <label>Clinician Experience Specialist</label>
        </rules>
        <rules>
            <name>Recruiter_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Account_Team_Members.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recruiter-Primary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recruiter_Primary_Team_Member_Id</targetReference>
            </connector>
            <label>Recruiter-Primary</label>
        </rules>
        <rules>
            <name>Virtual_Health_Program_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Account_Team_Members.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virtual Health Program Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Virtual_Health_Program_Manager_Team_Member_Id</targetReference>
            </connector>
            <label>Virtual Health Program Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Child_case_Subject</name>
        <label>Check Child case Subject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Close_Triggering_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Clinician_Review</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>trigeringCase.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Clinician_Review</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Subjects</targetReference>
            </connector>
            <label>Is Clinician Review</label>
        </rules>
        <rules>
            <name>Is_Client_Systems_Access</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>trigeringCase.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Systems Access</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Subjects_For_Client_Systems</targetReference>
            </connector>
            <label>Is Client Systems Access</label>
        </rules>
        <rules>
            <name>Is_Client_Operations_Close_Out</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>trigeringCase.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Operations Close Out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Client_Operations_Task_Subject_List</targetReference>
            </connector>
            <label>Is Client Operations Close Out</label>
        </rules>
        <rules>
            <name>Is_Client_IT_Operations_Close_Out</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>trigeringCase.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client IT Operations Close Out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Client_IT_Operations_Task_Subject_List</targetReference>
            </connector>
            <label>Is Client IT Operations Close Out</label>
        </rules>
        <rules>
            <name>Is_Equipment_Return_Proprietary_Materials</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>trigeringCase.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipment Return &amp; Proprietary Materials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Equipment_Return_Task_Subject_List</targetReference>
            </connector>
            <label>Is Equipment Return &amp; Proprietary Materials</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_open_cases</name>
        <label>check for open cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_not_have_open_cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_related_child_cases_in_open_state</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>close_parent_case</targetReference>
            </connector>
            <label>Does not have open cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Hospitalist_Practice_Manager_Exists</name>
        <label>Check Hospitalist Practice Manager Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Owner_From_Case5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assign Case Owner to Task Owner</defaultConnectorLabel>
        <rules>
            <name>Assign_Hospitalist_Practice_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HospitalistPMTeamMemberId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Hospitalist_Practice_Manager_Owner</targetReference>
            </connector>
            <label>Assign Hospitalist Practice Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IT_Infrastructure_Queue_Exist</name>
        <label>Check IT Infrastructure Queue Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Owner_From_Case3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assign Case Owner to Task Owner</defaultConnectorLabel>
        <rules>
            <name>Assign_IT_Infrastructure_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iTInfraQueueId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_IT_Infrastructure_Queue_Owner</targetReference>
            </connector>
            <label>Assign IT Infrastructure Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Owner_for_Task</name>
        <label>Check Owner for Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Owner_From_Case1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_Documentation_Specialist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Client_Operations_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirm Chart Completion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocumentationSpecialistTeamMemberId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Documentation_Specialist_Owner</targetReference>
            </connector>
            <label>Assign Documentation Specialist</label>
        </rules>
        <rules>
            <name>Assign_Enrolment_Specialist_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enrolmentQueueId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Client_Operations_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolve Outstanding Enrollment Issues</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Enrolment_Specialist_Queue_Owner</targetReference>
            </connector>
            <label>Assign Enrolment Specialist Queue</label>
        </rules>
        <rules>
            <name>Assign_Risk_Management_queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>riskManagementQueueId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Client_Operations_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malpractice Carrier Contract Closeout</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Risk_Management_queue_Owner</targetReference>
            </connector>
            <label>Assign Risk Management queue</label>
        </rules>
        <rules>
            <name>Assign_Clinician_Experience_Specialist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClinicianExperienceSpecialistTeamMemberId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Client_Operations_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirm Scheduling Completion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Clinician_Experience_Specialist_Owner</targetReference>
            </connector>
            <label>Assign Clinician Experience Specialist</label>
        </rules>
        <rules>
            <name>Assign_Recruiter_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecruiterPrimaryTeamMemberId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Client_Operations_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Removal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recruiter_Primary_Owner</targetReference>
            </connector>
            <label>Assign Recruiter-Primary</label>
        </rules>
        <rules>
            <name>Assign_Virtual_Health_Program_Manager</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>VirtualHealthPMTeamMemberId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Client_Operations_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Notify Telemedicine Vendor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Client_Operations_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Communicate Closure to Nursing/Ancillary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Virtual_Health_Program_Manager_Owner</targetReference>
            </connector>
            <label>Assign Virtual Health Program Manager</label>
        </rules>
        <rules>
            <name>Assign_VP_Operations_Owner</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>VP_Operation_TeamMember_Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Client_Operations_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel/Close Required Job Requisitions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Client_Operations_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perform all Virtual Health Offboarding Tasks</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_VP_Operations_TM_Owner</targetReference>
            </connector>
            <label>Assign VP Operations</label>
        </rules>
        <rules>
            <name>Assign_Regional_Medical_Officer_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RegionalMedicalOfficerTeamMemberId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Client_Operations_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Communicate Program Transition to Onsite Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRegionalMedicalOfficer</targetReference>
            </connector>
            <label>Assign Regional Medical Officer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Parent_Service_Line_And_Subjects</name>
        <label>Check Parent Service Line And Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Client_Operations_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_EM_HM_UC</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11)</conditionLogic>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Client_Operations_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirm Chart Completion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Client_Operations_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolve Outstanding Enrollment Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Client_Operations_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malpractice Carrier Contract Closeout</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Client_Operations_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirm Scheduling Completion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Client_Operations_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Removal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Client_Operations_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Communicate Closure to Nursing/Ancillary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Client_Operations_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Communicate Program Transition to Onsite Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Client_Operations_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel/Close Required Job Requisitions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Client_System_Operations_Task</targetReference>
            </connector>
            <label>Is EM HM UC</label>
        </rules>
        <rules>
            <name>Is_EM_HM_UC_VH</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Client_Operations_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Notify Telemedicine Vendor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Client_System_Operations_Task_1</targetReference>
            </connector>
            <label>Is EM HM UC VH</label>
        </rules>
        <rules>
            <name>Is_VH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Client_Operations_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perform all Virtual Health Offboarding Tasks</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trigeringCase.Account.Service_Line__r.Parent__r.API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Client_System_Operations_Task2</targetReference>
            </connector>
            <label>Is VH</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Queue_Name</name>
        <label>Check Queue Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Enrollment_Specialist_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Queue.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Enrollment_Specialist_Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Enrolment_Queue_Id</targetReference>
            </connector>
            <label>Is Enrollment_Specialist_Queue</label>
        </rules>
        <rules>
            <name>Is_IT_Infrastructure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Queue.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IT_Infrastructure_Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_It_Infrastructure_Queue_Id</targetReference>
            </connector>
            <label>Is IT Infrastructure</label>
        </rules>
        <rules>
            <name>Is_Risk_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Queue.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Risk_Management_Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Risk_Management_Queue_Id</targetReference>
            </connector>
            <label>Is Risk Management</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Task_Owner</name>
        <label>Check Task Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Owner_From_Case_ClientSystems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hospitalist_Practice_Manager_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HospitalistPMTeamMemberId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Hospitalist_Practice_As_Owner</targetReference>
            </connector>
            <label>Hospitalist Practice Manager Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Task_Subject_For_Owner_Assignment</name>
        <label>Check Task Subject For Owner Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Owner_From_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assign Owner From Case Record</defaultConnectorLabel>
        <rules>
            <name>Assign_VP_Operations</name>
            <conditionLogic>(1 OR 3 OR 4) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Clinician_Review_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinician Impact Meeting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VP_Operation_TeamMember_Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Clinician_Review_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Notify Clinicians - Visa Impacted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Clinician_Review_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review Contracting for Buyout Language</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Clinician_Impact_Meeting_Owner</targetReference>
            </connector>
            <label>Assign VP Operations</label>
        </rules>
        <rules>
            <name>Assign_Dir_of_Staffing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DirStaffingTeamMemberId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Clinician_Review_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Notify Clinicians - Locums  Impacted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Dir_Of_Staffing_ClinicianReview</targetReference>
            </connector>
            <label>Assign Dir of Staffing</label>
        </rules>
        <rules>
            <name>Assign_Regional_Medical_Officer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clinician_Review_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retain MD/MLPs Effort</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RegionalMedicalOfficerTeamMemberId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Regional_Medical_Officer_ClinicianReview</targetReference>
            </connector>
            <label>Assign Regional Medical Officer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Virtual_Health_Program_Manager_Exists</name>
        <label>Check Virtual Health Program Manager Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Owner_From_Case2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Virtual_Health_Program_Manager_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VirtualHealthPMTeamMemberId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Virtual_Health_Program_Manager_Owner1</targetReference>
            </connector>
            <label>Virtual Health Program Manager Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_VP_Operations_Exists</name>
        <label>Check VP Operations Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Owner_From_Case4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VP_Operations_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VP_Operation_TeamMember_Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_VP_Operations_Owner1</targetReference>
            </connector>
            <label>VP Operations Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Facility Term Task Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Facility Term Task Subflow</label>
    <loops>
        <name>Client_IT_Operations_Loop</name>
        <label>Client IT Operations Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>clientITOperationSubjectList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Client_Operation_IT_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Client_Operations_Loop</name>
        <label>Client Operations Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>clientOperationsSubjectList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Parent_Service_Line_And_Subjects</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Client_Systems_Loop</name>
        <label>Client Systems Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>clientSystemsAccessSubjectList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Client_System_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Clinician_Review_Loop</name>
        <label>Clinician Review Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>clinicianReviewSubjectList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Clinician_Review_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Equipment_Return_Task_Loop</name>
        <label>Equipment Return Task Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>equipmentReturnSubjectList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Equipment_Return_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Account_Team_Members</name>
        <label>Loop Account Team Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Account_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Account_Team_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Child_case_Subject</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Queue</name>
        <label>Loop Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Queue_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Queue_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_Records</name>
        <label>Create Task Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>taskList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_for_related_child_cases_in_open_state</name>
        <label>Check for related child cases in open state</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_for_open_cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>trigeringCase.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Team_Members</name>
        <label>Get Account Team Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Account_Team_Members</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>trigeringCase.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VP Operations</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dir Staffing Fulfillment Optimization</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regional Medical Officer</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hospitalist Practice Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Documentation Specialist</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clinician Experience Specialist</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recruiter-Primary</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Virtual Health Program Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Ids</name>
        <label>Get Queue Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Queue</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enrollment_Specialist_Queue</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Risk_Management_Queue</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IT_Infrastructure_Queue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Task_RecordType_Id</name>
        <label>Task RecordType Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>close_parent_case</name>
        <label>close parent case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>trigeringCase.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed_Reason__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Triggering_Case</name>
        <label>Close Triggering Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_related_child_cases_in_open_state</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>trigeringCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>NotEqualTo</operator>
        </filters>
        <inputAssignments>
            <field>Closed_Reason__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Task_RecordType_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>clientITOperationSubjectList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientOperationsSubjectList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientSystemsAccessSubjectList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClinicianExperienceSpecialistTeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clinicianReviewSubjectList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DirStaffingTeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentationSpecialistTeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>enrolmentQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>equipmentReturnSubjectList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HospitalistPMTeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iTInfraQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecruiterPrimaryTeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegionalMedicalOfficerTeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>riskManagementQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>trigeringCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VirtualHealthPMTeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VP_Operation_TeamMember_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
