knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Create_PA_from_Applicant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Store_Vars</name>
        <label>Store Vars</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PersonAccountAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_existing_contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_new_contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found</name>
        <label>Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Store_Vars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_existing_contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Person_Account_Record_Type</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the Contact record associated with the ATS Applicant is a Person Account</description>
        <name>Is_Person_Account</name>
        <label>Is Person Account Created from JBA?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Already Person Account</defaultConnectorLabel>
        <rules>
            <name>Is_not_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.bpats__ATS_Is_Job_Board_Applicant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_existing_contact</targetReference>
            </connector>
            <label>Is not Person Account</label>
        </rules>
    </decisions>
    <description>Creates a person account record when a candidate applies for a job via job board and a job board applicant record is created.</description>
    <environments>Default</environments>
    <interviewLabel>Create PA from Applicant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create PA from Applicant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates the person account when the applicant is created.</description>
        <name>Create_Person_Account</name>
        <label>Create Person Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>PersonAccountAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_new_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Person_Account_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__ATS_Is_Job_Board_Applicant__pc</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__ATS_Job_Board_Application__pc</field>
            <value>
                <elementReference>$Record.bpats__ATS_Job_Board_Application__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordDeletes>
        <description>Deletes the contact create by the applicant</description>
        <name>Delete_orig_contact_record</name>
        <label>Delete orig contact record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordDeletes>
    <recordLookups>
        <name>Check_for_existing_contact</name>
        <label>Check for existing person account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>((1 and 4) OR (2 and 5)) AND 3</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonMobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PersonEmail</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PersonMobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>gets contact that was just created</description>
        <name>Get_new_contact</name>
        <label>Get new contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <filterLogic>1 AND ((2 and 4) OR (3 and 5))</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PersonAccountContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the Clinician Person Account record type so we can cleanly reference the Developer Name later</description>
        <name>Get_Person_Account_Record_Type</name>
        <label>Get Clinician Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clinician</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update job board applicant Contact</description>
        <name>Update_Status</name>
        <label>JBA Update Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_orig_contact_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.bpats__ATS_Job_Board_Application__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>bpats__Contact__c</field>
            <value>
                <elementReference>PersonAccountContactId</elementReference>
            </value>
        </inputAssignments>
        <object>bpats__Job_Board_Application__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Is_Person_Account</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_Minute</name>
            <label>1 Minute</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
    <variables>
        <description>Id of the newly created person account</description>
        <name>PersonAccountAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PersonAccountContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
