knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Create_Clinician_Onboarding_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Owner</name>
        <label>Assign Case Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentAccountTeamMemberId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Case_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_existingHPFId</name>
        <label>Assign existingHPFId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>existingHpfIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopCaseRecords.Healthcare_Practitioner_Facility__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCaseRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Facility_Account_Ids</name>
        <label>Assign Facility Account Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>facilityAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_HPF_to_get_AccountId.Healthcare_Practitioner_Facility__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scpFacilityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_HPF_to_get_AccountId.Healthcare_Practitioner_Facility__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_HPF_to_get_AccountId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SCP_Case_Owner</name>
        <label>Assign SCP Case Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SCP_Case_Owner_From_Account_Team.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_List_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Team_member_Id</name>
        <label>Assign Team Member Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>currentAccountTeamMemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Filtered_Team_Member.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Filtered_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Case_List</name>
        <label>Assign To Case List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nullify_Previous_Team_Member_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_List_Assignment</name>
        <label>Case List Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Provider_Network_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Scp_Case</name>
        <label>Create Scp Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>createScpCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCaseRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Facility_Case_Assignment</name>
        <label>Facility Case Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>facilityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Provider_Network_Contracts.Healthcare_Practitioner_Facility__r.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trigeringContract.Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Facility</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Healthcare_Practitioner_Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Provider_Network_Contracts.Healthcare_Practitioner_Facility__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automatic</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Provider_Network_Contracts.Healthcare_Practitioner_Facility__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case_Recordtype_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_Team_Member_Exist_With_CET</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nullify_Previous_Team_Member_Id</name>
        <label>Nullify Previous Team Member Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>currentAccountTeamMemberId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Provider_Network_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SCP_Case_Assignment</name>
        <label>SCP Case Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCPOnboarding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SCP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trigeringContract.Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automatic</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case_Recordtype_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_Team_Member_Exists</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Current_Account_Team_Member_CET</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Current Account Team Member CET</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Current_Account_Team_Member_CET</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Account_Team_Members</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Current_Account_Team_Member_CET.AccountId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Provider_Network_Contracts.Healthcare_Practitioner_Facility__r.AccountId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Over_Filtered_Team_Member</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>Clinician_Onboarding</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Clinician_Onboarding</stringValue>
        </value>
    </constants>
    <constants>
        <name>FacilityOnboarding</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Facility Onboarding</stringValue>
        </value>
    </constants>
    <constants>
        <name>SCPOnboarding</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SCP Onboarding</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Account_Team_Member_Exist_With_CET</name>
        <label>Check Account Team Member Exist With CET</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_To_Case_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Team_Member_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentAccountTeamMemberId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Owner</targetReference>
            </connector>
            <label>Account Team Member Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Team_Member_Exists</name>
        <label>Check Account Team Member Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Case_List_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Member_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SCP_Case_Owner_From_Account_Team</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SCP_Case_Owner</targetReference>
            </connector>
            <label>Member Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Status</name>
        <label>Check Case Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LoopCaseRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCaseRecords.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Scp_Case</targetReference>
            </connector>
            <label>Is Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_type</name>
        <label>Check Case type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LoopCaseRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCaseRecords.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SCP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Case_Status</targetReference>
            </connector>
            <label>SCP</label>
        </rules>
        <rules>
            <name>Facility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCaseRecords.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_existingHPFId</targetReference>
            </connector>
            <label>Facility</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_HPF_Status</name>
        <label>Check HPF Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Provider_Network_Contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Prospect_OR_Candidate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Provider_Network_Contracts.Healthcare_Practitioner_Facility__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Provider_Network_Contracts.Healthcare_Practitioner_Facility__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Candidate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Current_Account_Team_Member_CET</targetReference>
            </connector>
            <label>Status is Prospect OR Candidate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_SCP_case_Needed</name>
        <label>Is New SCP case Needed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Provider_Network_Contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_SCP_Case_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createScpCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SCP_Case_Owner_From_Account_Team</targetReference>
            </connector>
            <label>New SCP Case Needed</label>
        </rules>
    </decisions>
    <description>This flow will create Clinician Onboarding Cases(Parent scp and facility) when clinician contract&apos;s status changes to executed.</description>
    <environments>Default</environments>
    <formulas>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <expression>{!FacilityOnboarding}+&apos;-&apos;+{!facilityName}</expression>
    </formulas>
    <interviewLabel>Create Onboarding Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Clinician Onboarding Cases</label>
    <loops>
        <name>Loop_HPF_to_get_AccountId</name>
        <label>Loop HPF to get AccountId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Provider_Network_Contract_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Facility_Account_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This loop will always iterate only over 1 variable since filter will return only 1 element.</description>
        <name>Loop_Over_Filtered_Team_Member</name>
        <label>Loop Over Filtered Team Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Current_Account_Team_Member_CET</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Team_member_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Facility_Case_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Provider_Network_Contracts</name>
        <label>Loop Provider Network Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Provider_Network_Contract_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_HPF_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Case_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopCaseRecords</name>
        <label>LoopCaseRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Case_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Case_type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Provider_Network_Contract_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Records</name>
        <label>Create Case Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>CaseRecordList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Team_Members</name>
        <label>Get Account Team Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Onboarding_Case_Recordtype_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>facilityAccountIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clinician Experience Specialist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCaseRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Clinician_Onboarding</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>trigeringContract.Account.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Onboarding_Case_Recordtype_Id</name>
        <label>Get Onboarding Case Recordtype Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_New_SCP_case_Needed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Clinician_Onboarding</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Network_Contract_Records</name>
        <label>Get Provider Network Contract Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_HPF_to_get_AccountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>trigeringContract.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Healthcare_Practitioner_Facility__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>existingHpfIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProviderNetworkContract</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SCP_Case_Owner_From_Account_Team</name>
        <label>Get SCP Case Owner From Account Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCP_Case_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>scpFacilityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clinician Experience Specialist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>createScpCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>currentAccountTeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Current_Account_Team_Member_CET</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>existingHpfIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>facilityAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>facilityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scpFacilityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>teamMemberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>trigeringContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
