knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Create_Exit_Interview_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Service_Account_to_Collection</name>
        <label>Add Service Account to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>collServiceAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_HPFs_to_Get_Service_Accounts.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_HPFs_to_Get_Service_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Bulk_Collection</name>
        <label>Add to Bulk Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>collCaseTeamMembersToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewCaseTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Teams_to_Create_Case_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Role_Details_For_Chief_Medical_Officer_EM</name>
        <label>Assign Role Details For Chief Medical Officer EM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNewCaseTeamMember.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Exit_Interview_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseTeamMember.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account_Teams_to_Create_Case_Teams.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseTeamMember.TeamRoleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Team_Role_Chief_Medical_Officer_EM.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_to_Bulk_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Role_Details_For_Chief_Medical_Officer_HM</name>
        <label>Assign Role Details For Chief Medical Officer HM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNewCaseTeamMember.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Exit_Interview_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseTeamMember.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account_Teams_to_Create_Case_Teams.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseTeamMember.TeamRoleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Team_Role_Chief_Medical_Officer_HM.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_to_Bulk_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Role_Details_For_Division_Medical_Officer</name>
        <label>Assign Role Details For Division Medical Officer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNewCaseTeamMember.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Exit_Interview_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseTeamMember.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account_Teams_to_Create_Case_Teams.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseTeamMember.TeamRoleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Team_Role_Division_Medical_Officer.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Bulk_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Role_Details_For_Division_Operating_Officer</name>
        <label>Assign Role Details For Division Operating Officer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNewCaseTeamMember.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Exit_Interview_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseTeamMember.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account_Teams_to_Create_Case_Teams.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseTeamMember.TeamRoleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Team_Role_Division_Operating_Officer.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_to_Bulk_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Role_Details_For_Regional_Medical_Officer</name>
        <label>Assign Role Details For Regional Medical Officer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNewCaseTeamMember.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Exit_Interview_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseTeamMember.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account_Teams_to_Create_Case_Teams.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseTeamMember.TeamRoleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Team_Role_Regional_Medical_Officer.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_to_Bulk_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Roles_to_Collection</name>
        <label>Assign Roles to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>collRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Division Operating Officer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Division Medical Officer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Regional Medical Officer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Chief Medical Officer - EM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Chief Medical Officer - HM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Team_Role_Chief_Medical_Officer_EM</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Closed</name>
        <choiceText>Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>NotStarted</name>
        <choiceText>Not Started</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Started</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_for_Current_User</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for Current User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Current_User_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Account_Team_Members</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Current_User_0.UserId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>varCurrentUser18DigitId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_If_User_Has_Access</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Assign_Team_Role_ID</name>
        <label>Assign Team Role ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Account_Teams_to_Create_Case_Teams</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Role_Chief_Medical_Officer_EM_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Account_Teams_to_Create_Case_Teams.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chief Medical Officer - EM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Role_Details_For_Chief_Medical_Officer_EM</targetReference>
            </connector>
            <label>Role Chief Medical Officer EM Match</label>
        </rules>
        <rules>
            <name>Role_Chief_Medical_Officer_HM_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Account_Teams_to_Create_Case_Teams.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chief Medical Officer - HM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Role_Details_For_Chief_Medical_Officer_HM</targetReference>
            </connector>
            <label>Role Chief Medical Officer HM Match</label>
        </rules>
        <rules>
            <name>Role_Division_Medical_Officer_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Account_Teams_to_Create_Case_Teams.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Division Medical Officer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Role_Details_For_Division_Medical_Officer</targetReference>
            </connector>
            <label>Role Division Medical Officer Match</label>
        </rules>
        <rules>
            <name>Role_Division_Operating_Officer_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Account_Teams_to_Create_Case_Teams.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Division Operating Officer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Role_Details_For_Division_Operating_Officer</targetReference>
            </connector>
            <label>Role Division Operating Officer Match</label>
        </rules>
        <rules>
            <name>Role_Regional_Medical_Officer_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Account_Teams_to_Create_Case_Teams.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regional Medical Officer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Role_Details_For_Regional_Medical_Officer</targetReference>
            </connector>
            <label>Role Regional Medical Officer Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Team_Members_Exist_For_Roles</name>
        <label>Check Account Team Members Exist For Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_for_Current_User</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_User_Has_Access</name>
        <label>Check If User Has Access</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Does Not Have Access</defaultConnectorLabel>
        <rules>
            <name>User_Has_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_for_Current_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Filter_for_Current_User</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exit_Interview</targetReference>
            </connector>
            <label>User Has Access</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varCurrentUser18DigitId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Create Exit Interview Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Exit Interview Case</label>
    <loops>
        <name>Loop_Account_Teams_to_Create_Case_Teams</name>
        <label>Loop Account Teams to Create Case Teams</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Account_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Team_Role_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_All_Case_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_HPFs_to_Get_Service_Accounts</name>
        <label>Loop HPFs to Get Service Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_HPFs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Service_Account_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_All_Case_Team_Members</name>
        <label>Create All Case Team Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>collCaseTeamMembersToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Exit_Interview_Case</name>
        <label>Create Exit Interview Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Roles_to_Collection</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Parent_Case_Details.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Task_Details.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Exit_Interview_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Exit Interview Notes</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Team_Members</name>
        <label>Get Account Team Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Team_Members_Exist_For_Roles</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 )</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>collServiceAccountIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Division Medical Officer</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regional Medical Officer</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Division Operating Officer</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chief Medical Officer - EM</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chief Medical Officer - HM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Team_Role_Chief_Medical_Officer_EM</name>
        <label>Get Case Team Role Chief Medical Officer EM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Team_Role_Chief_Medical_Officer_HM</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chief Medical Officer - EM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamRole</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Team_Role_Chief_Medical_Officer_HM</name>
        <label>Get Case Team Role Chief Medical Officer HM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Team_Role_Division_Medical_Officer</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chief Medical Officer - HM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamRole</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Team_Role_Division_Medical_Officer</name>
        <label>Get Case Team Role Division Medical Officer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Team_Role_Division_Operating_Officer</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Division Medical Officer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamRole</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Team_Role_Division_Operating_Officer</name>
        <label>Get Case Team Role Division Operating Officer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Team_Role_Regional_Medical_Officer</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Division Operating Officer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamRole</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Team_Role_Regional_Medical_Officer</name>
        <label>Get Case Team Role Regional Medical Officer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Account_Teams_to_Create_Case_Teams</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regional Medical Officer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamRole</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_HPFs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Case_Details.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Exit_Interview_Record_Type</name>
        <label>Get Exit Interview Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Exit_Interview_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Exit_Interview</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HPFs</name>
        <label>Get HPFs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_HPFs_to_Get_Service_Accounts</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PractitionerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Case_Details.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HealthcarePractitionerFacility</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Case_Details</name>
        <label>Get Parent Case Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Details</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_Details.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Details</name>
        <label>Get Task Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Case_Details</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Msg</name>
            <fieldText>&lt;p&gt;You do not have access to create this record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Exit_Interview</name>
        <label>Exit Interview</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Exit_Interview_Record_Type</targetReference>
        </connector>
        <fields>
            <name>ParentCase</name>
            <fieldText>&lt;p&gt;Parent Case : {!Get_Parent_Case_Details.CaseNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ContactName</name>
            <fieldText>&lt;p&gt;Contact Name : &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Contact_Details.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CaseOwner</name>
            <fieldText>&lt;p&gt;Case Owner : {!$User.FirstName} {!$User.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>NotStarted</choiceReferences>
            <choiceReferences>InProgress</choiceReferences>
            <choiceReferences>Closed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collCaseTeamMembersToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamMember</objectType>
    </variables>
    <variables>
        <name>collMatchedTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>collRoles</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collServiceAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Current_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Current_User_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Matching_Case_Team_Role</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamRole</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCaseTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamMember</objectType>
    </variables>
</Flow>
