knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Create_Offer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Custom action that refreshes the record page</description>
        <name>Refresh_the_Page</name>
        <label>Refresh the Page</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>c:RefreshView</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:RefreshView</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>This flow can be used as an ATS Action to create an Offer record.</description>
    <dynamicChoiceSets>
        <name>OfferStatuses</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>bpats__Offer_Status__c</picklistField>
        <picklistObject>bpats__Offer__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>OfferName</name>
        <dataType>String</dataType>
        <expression>LEFT(
{!recordId.bpats__Job__r.Name} + &quot;: Offer for &quot; + {!recordId.bpats__ATS_Applicant__r.FirstName} + &quot; &quot; + {!recordId.bpats__ATS_Applicant__r.LastName}
,80)</expression>
    </formulas>
    <interviewLabel>Create Offer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Offer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Offer</name>
        <label>Create Offer</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Refresh_the_Page</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OfferName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Candidate__c</field>
            <value>
                <elementReference>recordId.bpats__ATS_Applicant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Job__c</field>
            <value>
                <elementReference>recordId.bpats__Job__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Offer_Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Rate_Offered__c</field>
            <value>
                <elementReference>Rate_Offered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Salary_Offered__c</field>
            <value>
                <elementReference>Salary_Offered</elementReference>
            </value>
        </inputAssignments>
        <object>bpats__Offer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Offer</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Offer for {!recordId.bpats__ATS_Applicant__r.FirstName} &lt;/span&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recordId.bpats__ATS_Applicant__r.LastName}&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;:﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Rate_Offered</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>recordId.bpats__Pay_Rate__c</elementReference>
            </defaultValue>
            <fieldText>Rate Offered</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Salary_Offered</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>recordId.bpats__Salary__c</elementReference>
            </defaultValue>
            <fieldText>Salary Offered</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>OfferStatuses</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>New</stringValue>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>bpats__ATS_Applicant__c</objectType>
    </variables>
</Flow>
