knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/CRUSH_Auto_Populate_Objectives_in_new_Account_Plans.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>CRUSH: Auto Populate Objectives in new Account Plans {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRUSH: Auto Populate Objectives in new Account Plans</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateObjective1</name>
        <label>CreateObjective1</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>CreateObjective2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Identify Key Decision Makers</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pqcrush__Account_Plan__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>pqcrush__Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateObjective2</name>
        <label>CreateObjective2</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>CreateObjective3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Identify Incumbent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pqcrush__Account_Plan__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>pqcrush__Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateObjective3</name>
        <label>CreateObjective3</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>CreateObjective4</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Schedule a Conference Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pqcrush__Account_Plan__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>pqcrush__Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateObjective4</name>
        <label>CreateObjective4</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>CreateObjective5</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Identify Internal Connections</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pqcrush__Account_Plan__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pqcrush__Description__c</field>
            <value>
                <stringValue>Identify Internal Connections (i.e Field Ops/SLT relation to key decision maker(s) or former client)</stringValue>
            </value>
        </inputAssignments>
        <object>pqcrush__Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateObjective5</name>
        <label>CreateObjective5</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>CreateObjective6</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Best Route In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pqcrush__Account_Plan__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pqcrush__Description__c</field>
            <value>
                <stringValue>Best Route In (MSA/EM/HM/ICU/PE) based on initial call efforts and strategy planning</stringValue>
            </value>
        </inputAssignments>
        <object>pqcrush__Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateObjective6</name>
        <label>CreateObjective6</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>CreateObjective7</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Create an Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pqcrush__Account_Plan__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>pqcrush__Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateObjective7</name>
        <label>CreateObjective7</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Convert an Opportunity/Call to a Proposal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pqcrush__Account_Plan__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>pqcrush__Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateObjective1</targetReference>
        </connector>
        <object>pqcrush__Account_Plan__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
