knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Deal_Opportunity_Rollup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>count_Closed_Client_Abandoned_Proposal</name>
        <label>count Closed - Client Abandoned Proposal</label>
        <locationX>1447</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>updateClosedClientAbandonedProposal</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_children</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>count_Closed_No_Bid</name>
        <label>count Closed-No Bid</label>
        <locationX>1662</locationX>
        <locationY>817</locationY>
        <assignmentItems>
            <assignToReference>updateClosedNoBid</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_children</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>count_Closed_No_Change</name>
        <label>count Closed - No Change</label>
        <locationX>1563</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>updateCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateClosedNoChange</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_children</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>count_Closed_SCP_Declined</name>
        <label>count Closed - SCP Declined</label>
        <locationX>1753</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>updateClosedSCPDeclined</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_children</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>count_loss</name>
        <label>count loss</label>
        <locationX>1258</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>updateLoss</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWinLossDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thisChild.Lost_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_children</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>count_open</name>
        <label>count open</label>
        <locationX>1175</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>updateOpen</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_children</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>count_win</name>
        <label>count win</label>
        <locationX>1346</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>updateWin</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWinLossDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thisChild.Contract_Customer_Signed_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_children</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deal_Status</name>
        <label>Deal Status &amp; Win/Lost Date</label>
        <locationX>1481</locationX>
        <locationY>154</locationY>
        <assignmentItems>
            <assignToReference>theDeal.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dealStatusFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theDeal.Win_Loss_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DealWonLostDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_deal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>deal_or_oppty</name>
        <label>deal or oppty?</label>
        <locationX>180</locationX>
        <locationY>56</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>deal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>startObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_deal_0</targetReference>
            </connector>
            <label>deal</label>
        </rules>
        <rules>
            <name>oppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>startObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_opportunity</targetReference>
            </connector>
            <label>oppty</label>
        </rules>
    </decisions>
    <decisions>
        <name>win_loss_open</name>
        <label>win/loss/open</label>
        <locationX>392</locationX>
        <locationY>656</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>win</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisChild.Win_Loss_Open__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>count_win</targetReference>
            </connector>
            <label>win</label>
        </rules>
        <rules>
            <name>loss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisChild.Win_Loss_Open__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>count_loss</targetReference>
            </connector>
            <label>loss</label>
        </rules>
        <rules>
            <name>open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisChild.Win_Loss_Open__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>count_open</targetReference>
            </connector>
            <label>open</label>
        </rules>
        <rules>
            <name>Closed_Client_Abandoned_Proposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisChild.Win_Loss_Open__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Client Abandoned Proposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>count_Closed_Client_Abandoned_Proposal</targetReference>
            </connector>
            <label>Closed - Client Abandoned Proposal</label>
        </rules>
        <rules>
            <name>Closed_No_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisChild.Win_Loss_Open__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - No Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>count_Closed_No_Change</targetReference>
            </connector>
            <label>Closed - No Change</label>
        </rules>
        <rules>
            <name>Closed_No_Bid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisChild.Win_Loss_Open__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed-No Bid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>count_Closed_No_Bid</targetReference>
            </connector>
            <label>Closed-No Bid</label>
        </rules>
        <rules>
            <name>Closed_SCP_Declined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisChild.Win_Loss_Open__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - SCP Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>count_Closed_SCP_Declined</targetReference>
            </connector>
            <label>Closed - SCP Declined</label>
        </rules>
    </decisions>
    <description>Added 2 new Stages</description>
    <formulas>
        <name>dealStatusFormula</name>
        <dataType>String</dataType>
        <expression>IF({!updateWin} &gt; 0, &quot; Won&quot;,
IF({!updateWin} == 0 &amp;&amp; {!updateOpen} &gt;= 1, &quot;Open&quot;,
IF({!updateWin} == 0 &amp;&amp; {!updateOpen} == 0 &amp;&amp; {!updateLoss} &gt;=1,&quot;Lost&quot;,
IF({!updateWin} == 0 &amp;&amp; {!updateOpen} == 0 &amp;&amp; {!updateLoss} = 0 &amp;&amp; {!updateClosedNoChange} = 0 &amp;&amp; {!updateClosedClientAbandonedProposal} &gt;= 1,&quot;Closed - Client Abandoned Proposal&quot;,
IF({!updateWin} == 0 &amp;&amp; {!updateOpen} == 0 &amp;&amp; {!updateLoss} = 0 &amp;&amp; {!updateClosedNoChange} = 0 &amp;&amp; {!updateClosedNoBid} &gt;= 1,&quot;Closed-No Bid&quot;,
IF({!updateWin} == 0 &amp;&amp; {!updateOpen} == 0 &amp;&amp; {!updateLoss} = 0 &amp;&amp; {!updateClosedNoChange} = 0 &amp;&amp; {!updateClosedSCPDeclined} &gt;= 1,&quot;Closed - SCP Declined&quot;,
IF({!updateWin} == 0 &amp;&amp; {!updateOpen} == 0 &amp;&amp; {!updateLoss} = 0 &amp;&amp;  {!updateClosedClientAbandonedProposal} &gt;= 1 ||  {!updateClosedNoBid} &gt;= 1 || {!updateClosedSCPDeclined} &gt;= 1 ||{!updateClosedNoChange} &gt;= 1,&quot;Closed - No Change&quot;,
 null)))))))</expression>
    </formulas>
    <formulas>
        <name>DealWonLostDate</name>
        <dataType>Date</dataType>
        <expression>IF({!updateWin} &gt; 0, {!varWinLossDate},
IF({!updateWin} == 0 &amp;&amp; {!updateOpen} == 0 &amp;&amp; {!updateLoss} &gt;=1,{!varWinLossDate},
null))</expression>
    </formulas>
    <formulas>
        <name>formulaLostDate</name>
        <dataType>Date</dataType>
        <expression>IF({!updateWin} &lt;1, {!thisChild.Lost_Date__c}, null)</expression>
    </formulas>
    <formulas>
        <name>varLostDate2</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISNULL({!varLostDate})),{!varLostDate}, null)</expression>
    </formulas>
    <interviewLabel>Deal - Opportunity Rollup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deal - Opportunity Rollup</label>
    <loops>
        <name>loop_through_children</name>
        <label>loop through children</label>
        <locationX>817</locationX>
        <locationY>165</locationY>
        <assignNextValueToReference>thisChild</assignNextValueToReference>
        <collectionReference>childOpptys</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>win_loss_open</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Deal_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_child_opptys</name>
        <label>get child opptys</label>
        <locationX>562</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>theDeal.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>childOpptys</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Win_Loss_Open__c</queriedFields>
        <queriedFields>Contract_Customer_Signed_Date__c</queriedFields>
        <queriedFields>Lost_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_deal</name>
        <label>get deal</label>
        <locationX>391</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_child_opptys</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>startOppty.Deal__c</elementReference>
            </value>
        </filters>
        <object>Deal__c</object>
        <outputReference>theDeal</outputReference>
        <queriedFields>Count_of_Opportunities__c</queriedFields>
        <queriedFields>Lost_Opportunities__c</queriedFields>
        <queriedFields>Open_Opportunities__c</queriedFields>
        <queriedFields>Won_Opportunities__c</queriedFields>
        <queriedFields>Closed_Client_Abandoned_Proposal_Opps__c</queriedFields>
        <queriedFields>Closed_No_Change_Opportunities__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Closed_No_Bid_Opportunities__c</queriedFields>
        <queriedFields>Closed_SCP_Declined_Opportunities__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_deal_0</name>
        <label>get deal</label>
        <locationX>394</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_child_opptys</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>startDeal</elementReference>
            </value>
        </filters>
        <object>Deal__c</object>
        <outputReference>theDeal</outputReference>
        <queriedFields>Count_of_Opportunities__c</queriedFields>
        <queriedFields>Lost_Opportunities__c</queriedFields>
        <queriedFields>Open_Opportunities__c</queriedFields>
        <queriedFields>Won_Opportunities__c</queriedFields>
        <queriedFields>Closed_Client_Abandoned_Proposal_Opps__c</queriedFields>
        <queriedFields>Closed_No_Change_Opportunities__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Re_Sync_Deal__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Win_Loss_Date__c</queriedFields>
        <queriedFields>Closed_No_Bid_Opportunities__c</queriedFields>
        <queriedFields>Closed_SCP_Declined_Opportunities__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_opportunity</name>
        <label>get opportunity</label>
        <locationX>194</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_deal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>startOpptyID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>startOppty</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Deal__c</queriedFields>
        <queriedFields>Win_Loss_Open__c</queriedFields>
        <queriedFields>Contract_Customer_Signed_Date__c</queriedFields>
        <queriedFields>Lost_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_deal</name>
        <label>update deal</label>
        <locationX>1717</locationX>
        <locationY>76</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>theDeal.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed_Client_Abandoned_Proposal_Opps__c</field>
            <value>
                <elementReference>updateClosedClientAbandonedProposal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_No_Bid_Opportunities__c</field>
            <value>
                <elementReference>updateClosedNoBid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_No_Change_Opportunities__c</field>
            <value>
                <elementReference>updateClosedNoChange</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_SCP_Declined_Opportunities__c</field>
            <value>
                <elementReference>updateClosedSCPDeclined</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Count_of_Opportunities__c</field>
            <value>
                <elementReference>updateCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lost_Opportunities__c</field>
            <value>
                <elementReference>updateLoss</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_Opportunities__c</field>
            <value>
                <elementReference>updateOpen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Re_Sync_Deal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>dealStatusFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Win_Loss_Date__c</field>
            <value>
                <elementReference>DealWonLostDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Won_Opportunities__c</field>
            <value>
                <elementReference>updateWin</elementReference>
            </value>
        </inputAssignments>
        <object>Deal__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>deal_or_oppty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>childOpptys</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ClosedClientAbandonedProposal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>dealModStamp</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>startDeal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>startObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>startOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>startOpptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>theDeal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Deal__c</objectType>
    </variables>
    <variables>
        <name>thisChild</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>updateClosedClientAbandonedProposal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>updateClosedNoBid</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>updateClosedNoChange</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>updateClosedSCPDeclined</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>updateCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>updateLoss</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>updateOpen</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>updateWin</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varLostDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWinLossDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
