knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/DocuSign_Updates_When_Envelope_Is_Complete_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Agreement_Statuses</name>
        <label>Set Agreement Statuses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Set_Agreements_Loop.Apttus__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Set_Agreements_Loop.Apttus__Status_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Effect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgreementsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Set_Agreements_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Agreements_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AgreementIdList</name>
        <label>Set AgreementIdList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AgreementList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Agreements_Ids.Agreement__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Agreements_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Status</name>
        <label>Set Contract Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Agreements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_HPFIdList</name>
        <label>Set HPFIdList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HPFIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_HPF_Ids.Healthcare_Practitioner_Facility__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_HPF_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_HPF_Dates</name>
        <label>Update HPF Dates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Set_HPFs.EffectiveFrom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HPFsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Set_HPFs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_HPFs</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Doc {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DocuSign Updates When Envelope Is Complete Subflow</label>
    <loops>
        <name>Get_Agreements_Ids</name>
        <label>Get Agreements Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Contract_Agreements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_AgreementIdList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Agreements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_HPF_Ids</name>
        <label>Get HPF Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_PNCs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_HPFIdList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_HPFs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Set_Agreements_Loop</name>
        <label>Set Agreements Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Agreements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Agreement_Statuses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_HPFs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Set_HPFs</name>
        <label>Set HPFs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_HPFs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_HPF_Dates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Contract_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Agreements</name>
        <label>Get Agreements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PNCs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>AgreementList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contract_Agreements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record.dfsle__Contract__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Agreements</name>
        <label>Get Contract Agreements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Agreements_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HPFs</name>
        <label>Get HPFs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Agreements_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>HPFIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HealthcarePractitionerFacility</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PNCs</name>
        <label>Get PNCs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_HPF_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record.dfsle__Contract__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProviderNetworkContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Agreements</name>
        <label>Update Agreements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
        <inputReference>AgreementsToUpdateCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_HPFs</targetReference>
        </connector>
        <inputReference>Get_Contract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HPFs</name>
        <label>Update HPFs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>HPFsToUpdateCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AgreementList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AgreementsToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>HPFIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HPFsToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthcarePractitionerFacility</objectType>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>dfsle__EnvelopeStatus__c</objectType>
    </variables>
</Flow>
