knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/DocuSign_Term_Sheet_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Create_or_Update</name>
        <label>Check Create or Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Term_Sheet_Executed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Prior.Document_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Term Sheet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Term Sheet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Term_Sheet_Sent</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DocuSign Term Sheet Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DocuSign Term Sheet Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Term_Sheet_Executed</name>
        <label>Term Sheet Executed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record.dfsle__Contract__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Term_Sheet_Status__c</field>
            <value>
                <stringValue>Signed/Executed</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Term_Sheet_Sent</name>
        <label>Term Sheet Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record.dfsle__Contract__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Term_Sheet_Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Create_or_Update</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>dfsle__EnvelopeStatus__c</objectType>
    </variables>
    <variables>
        <name>Record_Prior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>dfsle__EnvelopeStatus__c</objectType>
    </variables>
</Flow>
