knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Execute_Contract_RecordTriggerAsyncFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>Clinician_RecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Clinician</stringValue>
        </value>
    </constants>
    <decisions>
        <name>If_Clinician_RT</name>
        <label>If Clinician RT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Clinician_RecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CCM_Records_for_Executed_Clinician_Contracts_Flow_1</targetReference>
            </connector>
            <label>Outcome 1 of Decision 1</label>
        </rules>
    </decisions>
    <description>Created as part of US PR1050558-3574</description>
    <environments>Default</environments>
    <interviewLabel>Execute Contract Asynch Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Execute Contract RecordTriggerAsyncFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 AND 2) AND NOT((3 AND 4) OR (5 AND 6))</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Trigger_Ack__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Trigger_Ack__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_HireDate_Trigger_Ack__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_HireDate_Trigger_Ack__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>If_Clinician_RT</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_CCM_Records_for_Executed_Clinician_Contracts_Flow_1</name>
        <label>Create CCM Records for Executed Clinician Contracts Flow 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Create_CCM_Records_for_Executed_Clinician_Contracts</flowName>
        <inputAssignments>
            <name>triggeringContract</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
