knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Fetch_Most_Recent_TRD_from_Contract_SAs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_UserName_to_TRD_as_output</name>
        <label>Assign UserName to TRD as output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecentTRDUserName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recent_Team_Regional_Director_of_NPPA.User.Username</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_HPF_Ids_List</name>
        <label>Populate HPF Ids List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varHPFIdsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_All_PNC_Records.Healthcare_Practitioner_Facility__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_All_PNC_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_SA_List</name>
        <label>Populate SA List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varServiceAccountIdsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_all_HPF_Records.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_all_HPF_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Fetch_Regional_Director_of_NPPA</name>
        <label>Fetch Regional Director of NPPA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Operation_is_Fetch_RD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOperation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FetchRegionalDirector</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_PNC_Records</targetReference>
            </connector>
            <label>If Operation is Fetch RD</label>
        </rules>
        <rules>
            <name>If_Operation_is_Update_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOperation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UpdateContract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract_with_Approved_NPPA_Tier</targetReference>
            </connector>
            <label>If Operation is Update Contract</label>
        </rules>
    </decisions>
    <description>PR1050558-2235 : Used to fetch most recent TRD from all the SA via HPF Linked to their PNCs</description>
    <environments>Default</environments>
    <interviewLabel>Fetch Most Recent TRD from Contract SAs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fetch Most Recent TRD from Contract SAs</label>
    <loops>
        <name>Loop_Over_all_HPF_Records</name>
        <label>Loop Over all HPF Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_HPFs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_SA_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Recent_Team_Regional_Director_of_NPPA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_All_PNC_Records</name>
        <label>Loop Over All PNC Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_PNC_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_HPF_Ids_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_HPFs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_HPFs</name>
        <label>Get All HPFs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_all_HPF_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varHPFIdsList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HealthcarePractitionerFacility</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_PNC_Records</name>
        <label>Get All PNC Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_All_PNC_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProviderNetworkContract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Healthcare_Practitioner_Facility__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recent_Team_Regional_Director_of_NPPA</name>
        <label>Get Recent Team Regional Director of NPPA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_UserName_to_TRD_as_output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regional Director of NP/PA Services</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>varServiceAccountIdsList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract_with_Approved_NPPA_Tier</name>
        <label>Update Contract with Approved NPPA Tier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NPPA_Tier__c</field>
            <value>
                <elementReference>varNPPATierToUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Regional_Director_of_NPPA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>pncRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProviderNetworkContract</objectType>
    </variables>
    <variables>
        <name>varContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHPFIdsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNPPATierToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOperation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecentTRDUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varServiceAccountIdsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
