knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Generic_Process_Sub_Event_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email</name>
        <label>Send email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Get_practitioner_details.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_org_wide_email_address.Address</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;{!emailBody}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_for_Locums</name>
        <label>Send Email for Locums</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Null_Check_on_PE_Fields</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Get_Applicant_Contact_Details.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_no_reply_org_wide_email_address.Address</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;{!emailBody}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>This Assignment is to make sure we add a dummy user to the list for it to loop so it breakes the loop with an unique username.</description>
        <name>AddTmpUserForLoop</name>
        <label>AddTmpUserForLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_UsersWithSimilarUserNamesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Users_With_Similar_Usernames</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UsersWithSimilarUserNamesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_tmpUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_there_are_users_with_similar_usernames</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CC_Login_Portal_User_Profile_Id</name>
        <label>Assign CC Login Portal User Profile Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_PortalUserProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CoreHC_CC_Login_Profile.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Users_With_Similar_Usernames</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CC_Plus_Portal_User_Profile_Id</name>
        <label>Assign CC Plus Portal User Profile Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_PortalUserProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CoreHC_CC_Plus_Profile.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Users_With_Similar_Usernames</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Core_HC_Login_Portal_User_Profile_Assignment</name>
        <label>Core HC Login Portal User Profile Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_CoreHC_CC_Login_Profile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Core_HC_CC_Login_Profile</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Core_HC_CC_Login_Profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Core_HC_Portal_User_Profile_Assignment</name>
        <label>Core HC Portal User Profile Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_CoreHC_CC_Plus_Profile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Core_HC_CC_Plus_Profile_Filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Core_HC_CC_Plus_Profile_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Counter_Increment</name>
        <label>Counter Increment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_List_with_similar_usernames</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Portal_User_Instance</name>
        <label>Create Portal User Instance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PortalUserInstance.Username</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_UniqueUserName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PortalUserInstance.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant_Contact_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PortalUserInstance.Alias</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fr_Alias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PortalUserInstance.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant_Contact_Details.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PortalUserInstance.EmailEncodingKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ISO-8859-1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PortalUserInstance.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant_Contact_Details.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PortalUserInstance.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant_Contact_Details.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PortalUserInstance.LanguageLocaleKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PortalUserInstance.LocaleSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PortalUserInstance.ProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PortalUserProfileId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PortalUserInstance.TimeZoneSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>America/New_York</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Portal_User_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateUnqUserNameForUniqueUser</name>
        <label>CreateUnqUserNameForUniqueUser</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_UniqueUserName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UniqueUserName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fr_FullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UniqueUserName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Counter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UniqueUserName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>const_SCPDomain</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Portal_User_Instance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateUnqUserNameWithCounter</name>
        <label>CreateUnqUserNameWithCounter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_UniqueUserName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UniqueUserName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fr_FullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UniqueUserName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Counter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UniqueUserName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>const_SCPDomain</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_with_the_username</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Core_HC_CC_Login_Profile_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Core HC CC Login Profile Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Core_HC_CC_Login_Profile_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Core_HC_Portal_User_Profiles</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Core_HC_CC_Login_Profile_Filter.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>const_CoreHC_CC_Login_ProfileName</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_over_Core_HC_CC_Login_Profile</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Core_HC_CC_Plus_Profile</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Core HC CC Plus Profile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Core_HC_CC_Plus_Profile</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Core_HC_Portal_User_Profiles</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Core_HC_CC_Plus_Profile.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>const_CoreHC_CC_Plus_ProfileName</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_over_Core_HC_CC_Plus_Profile_Filter</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_with_the_username</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter with the username</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_with_the_username</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Users_With_Similar_Usernames</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_with_the_username.Username</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>var_UniqueUserName</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_if_the_username_exists</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>const_CoreHC_CC_Login_ProfileName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Core HC Customer Community Plus Login User</stringValue>
        </value>
    </constants>
    <constants>
        <name>const_CoreHC_CC_Plus_ProfileName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Core HC Customer Community Plus User</stringValue>
        </value>
    </constants>
    <constants>
        <name>const_ProfileName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Core HC Customer Community Plus Login User</stringValue>
        </value>
    </constants>
    <constants>
        <name>const_SCPDomain</name>
        <dataType>String</dataType>
        <value>
            <stringValue>@scp.com</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaskComment</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The system was unable to automatically create a portal user due to the ‘Email’ field on the clinician record being blank or the Email address is a duplicate to an existing, active portal user.  The clinician cannot proceed through the recruiting process until this task is complete. Please navigate to the Clinician record and select “Enable Customer User” in the upper right to manually enable the Clinician’s to access the Care Connect portal to view Helpful Links and complete any ‘To Do&apos; or open tasks.</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Email Validation Failed – Manually Enable Customer User to Continue</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaskSubject2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manually ‘Enable Customer User’</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_applicant_email</name>
        <label>Check applicant email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Null_Check_on_PE_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applicant_Contact_Details.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_no_reply_org_wide_email_address</targetReference>
            </connector>
            <label>present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_email</name>
        <label>Check email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_practitioner_details.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email</targetReference>
            </connector>
            <label>Is not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Event_Context</name>
        <label>Check Event Context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Portal_User_Creation_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Context__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PORTAL_USER_CREATION</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Context_Field1__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Context_Field1__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant_Contact_Details</targetReference>
            </connector>
            <label>If Portal User Creation Event</label>
        </rules>
        <rules>
            <name>If_Profile_Updation_to_CC_Plus_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Context__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PORTAL_UPDATION_TO_CC_PLUS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Context_Field1__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Context_Field1__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Details</targetReference>
            </connector>
            <label>If Profile Updation to CC Plus Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_profile</name>
        <label>Check for profile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_no_existing_portal_user_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Context_Field1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant_Contact_Details</targetReference>
            </connector>
            <label>If no existing portal user found</label>
        </rules>
        <rules>
            <name>If_profile_is_CC_login</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Details</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Details.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>const_CoreHC_CC_Login_ProfileName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_user_profile_to_CoreHC_CC_plus</targetReference>
            </connector>
            <label>If profile is CC login</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Profile_Assignment</name>
        <label>Check for Profile Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_CC_Login_Portal_User_Profile_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CC Login Assignment</defaultConnectorLabel>
        <rules>
            <name>CC_Plus_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_HPFs_with_Practitioner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ET_LOCUM_LEASED_MANAGED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CC_Plus_Portal_User_Profile_Id</targetReference>
            </connector>
            <label>CC Plus Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Generic_Process_Event_Source</name>
        <label>Check Generic Process Event Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Open_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Source_ET_LOCUM_LEASED_MANAGED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ET_LOCUM_LEASED_MANAGED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Open_Task_LOCUM</targetReference>
            </connector>
            <label>Source ET_LOCUM_LEASED_MANAGED</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_Applicant_has_portal_access</name>
        <label>Check if the Applicant has portal access</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applicant_Contact_Details.Account.IsCustomerPortal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Core_HC_Portal_User_Profiles</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_username_exists</name>
        <label>Check if the username exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Portal_User_Instance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Username_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_with_the_username</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Counter_Increment</targetReference>
            </connector>
            <label>If Username Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_are_users_with_similar_usernames</name>
        <label>Check if there are users with similar usernames</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CreateUnqUserNameForUniqueUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Users_with_Similar_Username_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Users_With_Similar_Usernames</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_List_with_similar_usernames</targetReference>
            </connector>
            <label>If Users with Similar Username Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Source</name>
        <label>Check Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Source_ET_LOCUM_LEASED_OR_MANAGED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ET_LOCUM_LEASED_MANAGED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_hpf</targetReference>
            </connector>
            <label>Source ET LOCUM LEASED OR MANAGED</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_source_for_employment_type</name>
        <label>Check source for employment type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_applicant_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Leased_Locum_Managed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ET_LOCUM_LEASED_MANAGED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_practitioner_details</targetReference>
            </connector>
            <label>Is Leased/Locum/Managed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_7</name>
        <label>Decision 7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Reactivation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Context__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PORTAL_USER_REACTIVATION</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Context_Field1__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Context_Field2__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_source_for_employment_type</targetReference>
            </connector>
            <label>Check Reactivation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Task_Exist</name>
        <label>Does Task Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Task_for_Email_Validation_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Open_Task.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Task Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_task_Exists_for_locum</name>
        <label>Does task Exists for locum?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Fetch_Data_Quality_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Task_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Open_Task_LOCUM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, Task Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_user_with_same_email_exist_or_Clinician_Email_is_blank</name>
        <label>Does user with same email exist or Clinician Email is blank?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_for_Profile_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_External_User_with_same_email.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Applicant_Contact_Details.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_Record_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_on_PE_Fields</name>
        <label>Null Check on PE Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Clinician_Onboarding_PE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SSN_Zipcode_IS_NULL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applicant_Contact_Details.Account.SSN_Last_4_Digit__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Applicant_Contact_Details.Account.PersonMailingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Data_Quality_Queue_After_Null_Check</targetReference>
            </connector>
            <label>SSN,Zipcode IS NULL</label>
        </rules>
    </decisions>
    <description>PR1050558-811 : Creates Portal User for Applicant.
PR1050558-3374 : Updates the Clinician&apos;s Profile from CC login to CC plus based on HPF being Active/Creates a user with CC plus if it doesnt exist.
PR1050558-4200: Update Login Profile Name</description>
    <environments>Default</environments>
    <formulas>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Welcome to SCP Health &amp;&apos;+&apos; &apos;+ {!hpfAccountName}</expression>
    </formulas>
    <formulas>
        <name>emailTitle</name>
        <dataType>String</dataType>
        <expression>IF(
    OR(
        UPPER(TRIM({!frmProfessionalTitle})) = &quot;NP&quot;,
        UPPER(TRIM({!frmProfessionalTitle})) = &quot;PA&quot;,
        UPPER(TRIM({!frmProfessionalTitle})) = &quot;RN&quot;,
        UPPER(TRIM({!frmProfessionalTitle})) = &quot;LPN&quot;
    ),{!frmFirstName},
    IF(
        OR(
            UPPER(TRIM({!frmProfessionalTitle})) = &quot;MD&quot;,
            UPPER(TRIM({!frmProfessionalTitle})) = &quot;DO&quot;
        ),
        &quot;Dr.&quot;+&apos; &apos;+{!frmLastName},
        &quot;Other&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>fr_Alias</name>
        <dataType>String</dataType>
        <expression>
LEFT(
  IF(
    ISBLANK({!Get_Applicant_Contact_Details.FirstName}),
    {!Get_Applicant_Contact_Details.LastName},
    LEFT({!Get_Applicant_Contact_Details.FirstName}, 1) &amp; {!Get_Applicant_Contact_Details.LastName}
  ),
  8
)</expression>
    </formulas>
    <formulas>
        <name>fr_FullName</name>
        <dataType>String</dataType>
        <expression>LOWER(
  IF(
    ISBLANK({!Get_Applicant_Contact_Details.FirstName}),
    SUBSTITUTE({!Get_Applicant_Contact_Details.LastName}, &quot; &quot;, &quot;&quot;),
    IF(
      ISBLANK({!Get_Applicant_Contact_Details.LastName}),
      SUBSTITUTE({!Get_Applicant_Contact_Details.FirstName}, &quot; &quot;, &quot;&quot;),
      SUBSTITUTE({!Get_Applicant_Contact_Details.FirstName}, &quot; &quot;, &quot;&quot;) &amp; &quot;.&quot; &amp; SUBSTITUTE({!Get_Applicant_Contact_Details.LastName}, &quot; &quot;, &quot;&quot;)
    )
  )
)</expression>
    </formulas>
    <formulas>
        <name>fr_InitialUserName_DNU</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!Get_Applicant_Contact_Details.FirstName}),
  SUBSTITUTE({!Get_Applicant_Contact_Details.LastName},&quot; &quot;, &quot;&quot;) &amp; &quot;@scp.com&quot;,
  IF(
    ISBLANK({!Get_Applicant_Contact_Details.LastName}),
    SUBSTITUTE({!Get_Applicant_Contact_Details.FirstName},&quot; &quot;, &quot;&quot;)&amp; &quot;@scp.com&quot;,
    SUBSTITUTE({!Get_Applicant_Contact_Details.FirstName},&quot; &quot;, &quot;&quot;) &amp; &quot;.&quot; &amp; SUBSTITUTE({!Get_Applicant_Contact_Details.LastName},&quot; &quot;, &quot;&quot;)&amp; &quot;@scp.com&quot;
  )
)</expression>
    </formulas>
    <formulas>
        <name>frmFirstName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_practitioner_details.Id}),{!Get_Applicant_Contact_Details.FirstName},{!Get_practitioner_details.FirstName})</expression>
    </formulas>
    <formulas>
        <name>frmLastName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_practitioner_details.Id}),{!Get_Applicant_Contact_Details.LastName},{!Get_practitioner_details.LastName})</expression>
    </formulas>
    <formulas>
        <name>frmProfessionalTitle</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_practitioner_details.Id}),TEXT({!Get_Applicant_Contact_Details.Professional_Title__c}),TEXT({!Get_practitioner_details.Professional_Title__c}))</expression>
    </formulas>
    <formulas>
        <name>GlobalProviderId</name>
        <dataType>String</dataType>
        <expression>{!Get_Applicant_Contact_Details.Account.Global_Provider_ID__pc}</expression>
    </formulas>
    <formulas>
        <name>hpfAccountName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Hpf_Details.Id}),{!Get_hpf.Account.Name},{!Get_Hpf_Details.Account.Name})</expression>
    </formulas>
    <formulas>
        <name>MobilePhone</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Get_Applicant_Contact_Details.Account.PersonMobilePhone},&apos;-&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <interviewLabel>Generic Process Sub Event Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generic Process Sub Event Flow</label>
    <loops>
        <name>Loop_over_Core_HC_CC_Login_Profile</name>
        <label>Loop over Core HC CC Login Profile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Core_HC_CC_Login_Profile_Filter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Core_HC_Login_Portal_User_Profile_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Existing_HPFs_with_Practitioner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Core_HC_CC_Plus_Profile_Filter</name>
        <label>Loop over Core HC CC Plus Profile Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Core_HC_CC_Plus_Profile</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Core_HC_Portal_User_Profile_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Core_HC_CC_Login_Profile_Filter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_List_with_similar_usernames</name>
        <label>Loop Over List with similar usernames</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>var_UsersWithSimilarUserNamesList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateUnqUserNameWithCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Portal_User_Instance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Clinician_Onboarding_PE</name>
        <label>Create Clinician Onboarding PE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Global_Provider_Id__c</field>
            <value>
                <elementReference>GlobalProviderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSN__c</field>
            <value>
                <elementReference>Get_Applicant_Contact_Details.Account.SSN_Last_4_Digit__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zipcode__c</field>
            <value>
                <elementReference>Get_Applicant_Contact_Details.Account.PersonMailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <object>Clinician_Onboarding__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Portal_User_Record</name>
        <label>Create Portal User Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Source</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Task_Record_Type</targetReference>
        </faultConnector>
        <inputReference>PortalUserInstance</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_After_Null_Check</name>
        <label>Create Task After Null Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>PEComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Fetch_Data_Quality_Queue_After_Null_Check.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Default_Record_Type_After_Null_Check.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Update Clinician Information to unblock the Okta Integration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Okta Integration Failure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Applicant_Contact_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_Email_Validation_Failed</name>
        <label>Create Task for Email Validation Failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Context_Field2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Context_Field1__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_Email_Validation_Failed_2</name>
        <label>Create Task for Email Validation Failed 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>taskComment2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Fetch_Data_Quality_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Okta Integration Failure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Context_Field1__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Data_Quality_Queue</name>
        <label>Fetch Data Quality Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_for_Email_Validation_Failed_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data_Quality</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Data_Quality_Queue_After_Null_Check</name>
        <label>Fetch Data Quality Queue After Null Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Default_Record_Type_After_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data_Quality</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_Contact_Details</name>
        <label>Get Applicant Contact Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_the_Applicant_has_portal_access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Context_Field1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_applicant_details</name>
        <label>Get applicant details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activate_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Context_Field1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>bpats__ATS_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Core_HC_Portal_User_Profiles</name>
        <label>Get Core HC Portal User Profiles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Core_HC_CC_Plus_Profile</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>const_CoreHC_CC_Login_ProfileName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>const_CoreHC_CC_Plus_ProfileName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>2.0</numberValue>
        </limit>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CoreHC_CC_Plus_Profile</name>
        <label>Get CoreHC CC Plus Profile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>const_CoreHC_CC_Plus_ProfileName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Record_Type_After_Null_Check</name>
        <label>Get Default Record Type After Null Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_After_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_HPFs_with_Practitioner</name>
        <label>Get Existing HPFs with Practitioner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_External_User_with_same_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PractitionerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applicant_Contact_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthcarePractitionerFacility</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Open_Task</name>
        <label>Get Existing Open Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Task_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Context_Field2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Context_Field1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Open_Task_LOCUM</name>
        <label>Get Existing Open Task for LOCUM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_task_Exists_for_locum</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskSubject2</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Context_Field1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_External_User_with_same_email</name>
        <label>Get External User with same email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_user_with_same_email_exist_or_Clinician_Email_is_blank</targetReference>
        </connector>
        <filterLogic>4 AND 1 AND (2 OR 3) AND 5 AND 6</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applicant_Contact_Details.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CoreHC_CC_Login_Profile.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CoreHC_CC_Plus_Profile.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPortalEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_hpf</name>
        <label>Get hpf</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_applicant_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Context_Field2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthcarePractitionerFacility</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Hpf_Details</name>
        <label>Get Hpf Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_org_wide_email_address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Context_Field2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthcarePractitionerFacility</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_no_reply_org_wide_email_address</name>
        <label>Get no reply org wide email address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_for_Locums</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No Reply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_org_wide_email_address</name>
        <label>Get org wide email address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No Reply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_practitioner_details</name>
        <label>Get practitioner details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activate_user_in_SF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Context_Field1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Record_Type</name>
        <label>Get Task Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Generic_Process_Event_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Details</name>
        <label>Get User Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CoreHC_CC_Plus_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Context_Field1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_With_Similar_Usernames</name>
        <label>Get Users With Similar Usernames</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddTmpUserForLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>Contains</operator>
            <value>
                <elementReference>fr_FullName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_User</name>
        <label>Activate User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Context_Field2__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_applicant_details.bpats__ATS_Applicant__r.Account.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Activate_user_in_SF</name>
        <label>Activate user in SF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Hpf_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Context_Field1__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_practitioner_details.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_user_profile_to_CoreHC_CC_plus</name>
        <label>Update user profile to CoreHC CC plus</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>Get_CoreHC_CC_Plus_Profile.Id</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Event_Context</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Generic_Process_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!emailTitle},&lt;/p&gt;&lt;p&gt;Welcome to SCP Health!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;﻿What to Expect&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;1. Activate Your SCP Account&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;• Look for an email from &lt;strong&gt;Okta&lt;/strong&gt; to set up your account.&lt;/p&gt;&lt;p&gt;• Complete this step within &lt;strong&gt;7 days&lt;/strong&gt; to access the SCP portal.&lt;/p&gt;&lt;p&gt;• If you run into issues, please contact our help desk at 337.609.1411.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;2. Download the mySCP Connect App&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;• Available on &lt;strong&gt;Google Play&lt;/strong&gt; and &lt;strong&gt;Apple&lt;/strong&gt; &lt;strong&gt;App Store&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;• Enter Organization: &lt;strong&gt;SCP&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;• Log in using your SCP credentials from Step 1&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;3. Complete Onboarding Requirements&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;• Available after account activation&lt;/p&gt;&lt;p&gt;• &lt;strong&gt;Compliance training&lt;/strong&gt; will be accessible once your first shift is scheduled and must be completed before working.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PEComment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>1. Navigate to the Clinician’s record
2. Ensure the following fields are populated:
2a. Social Security Number
2b. Zipcode (Mailing Address)
2c. Mobile
3. Close Task with Status = ‘Completed’ to trigger the Okta Integration.</text>
    </textTemplates>
    <textTemplates>
        <name>taskComment2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>1. Navigate to the Clinician’s record
2. Ensure the following fields are populated:
2a. Social Security Number
2b. Zipcode (Mailing Address)
2c. Mobile
3. Then select ‘Enable Customer User’
4. Before you click ‘Save’:
4a. Profile = ‘Core HC Customer Community Plus Login User’ 
4b. Complete all required fields (marked in red)</text>
    </textTemplates>
    <variables>
        <name>currentItem_Core_HC_CC_Login_Profile_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Profile</objectType>
    </variables>
    <variables>
        <name>currentItem_Core_HC_CC_Plus_Profile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Profile</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_with_the_username</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>PortalUserInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>var_CoreHC_CC_Login_Profile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Profile</objectType>
    </variables>
    <variables>
        <name>var_CoreHC_CC_Plus_Profile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Profile</objectType>
    </variables>
    <variables>
        <name>var_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_PortalUserProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_tmpUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>var_UniqueUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_UsersWithSimilarUserNamesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
