knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Generate_Placements_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Custom action that refreshes the record page.</description>
        <name>Refresh_the_Page</name>
        <label>Refresh the Page</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <actionName>c:RefreshView</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:RefreshView</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Save the count into a number variable.</description>
        <name>Count_Them</name>
        <label>Count Them</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>numPlacements</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Placements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Job_Filled</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determine if the number of openings is less than or equal to the number of placement records - or if the number of openings is not filled in, assume it&apos;s closed.</description>
        <name>Job_Filled</name>
        <label>Job Filled?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Openings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.bpats__Job__r.bpats__Number_of_Openings__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>numPlacements</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.bpats__Job__r.bpats__Number_of_Openings__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Openings</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <description>This flow can be used when the placement record is already created, and the user would like to update it.  If using the Asymbl Time product with complex rate management, this can be added as a second action after the rate card screen to further populate the new placement.</description>
    <environments>Default</environments>
    <formulas>
        <name>PlacementNameFormula</name>
        <dataType>String</dataType>
        <expression>/* limit name to 80 characters, as required by Salesforce */
LEFT(
/* if there is an account, display name */
if(NOT(ISBLANK({!recordId.bpats__Job__r.bpats__Account__c})), {!recordId.bpats__Job__r.bpats__Account__r.Name} + &quot; - &quot;, &quot;&quot;) +
/* then display the job and applicant names */
{!recordId.bpats__Job__r.Name} + &quot; - &quot; + {!recordId.bpats__ATS_Applicant__r.FirstName} + &quot; &quot; + {!recordId.bpats__ATS_Applicant__r.LastName}
,80)</expression>
    </formulas>
    <interviewLabel>Generate Placements (Update) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Placements (Update)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>With the new record created, get a count of all placements on this job, include previously existing records.</description>
        <name>Get_All_Placements</name>
        <label>Get All Placements</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Them</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bpats__ATS_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.bpats__Job__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>bpats__Placement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the existing placement by matching the job and candidate.  Note that if multiple placements exist for this person, it will get the most recent one.  If you have a use case for multiple placements, you can add a filter for status or another field to identify the correct placement to update.</description>
        <name>Get_existing_placement</name>
        <label>Get existing placement</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bpats__ATS_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.bpats__Job__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>bpats__ATS_Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.bpats__ATS_Applicant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>bpats__Placement__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Save the placement count, but do not update the job status.  If you have a status for &quot;partially filled&quot;, you can update the status to that value here.</description>
        <name>Copy_1_of_Update_Openings</name>
        <label>Update Openings</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Refresh_the_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.bpats__Job__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>bpats__Openings_Filled__c</field>
            <value>
                <elementReference>numPlacements</elementReference>
            </value>
        </inputAssignments>
        <object>bpats__Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Close the job and save the placement count.</description>
        <name>Update_Openings</name>
        <label>Update Openings</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Refresh_the_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.bpats__Job__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>bpats__Openings_Filled__c</field>
            <value>
                <elementReference>numPlacements</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>bpats__Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the placement record.  Note that as packaged, it will overwrite the placement fields with data from the job and application.  If you&apos;re looking to update a populated placement rather than a blank one, you may want to add checks to see if the fields already contain data.  Another option is to add more components to the screen, which pre-populate from the placement rather than the application.</description>
        <name>Update_Placement</name>
        <label>Update Placement</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_All_Placements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_existing_placement.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PlacementNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__ATS_Candidate__c</field>
            <value>
                <elementReference>recordId.bpats__ATS_Applicant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__ATS_Job__c</field>
            <value>
                <elementReference>recordId.bpats__Job__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Account__c</field>
            <value>
                <elementReference>recordId.bpats__Job__r.bpats__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Bill_Rate__c</field>
            <value>
                <elementReference>Bill_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Conversion_Percentage__c</field>
            <value>
                <elementReference>recordId.bpats__Job__r.bpats__Conversion_Percentage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Estimated_End_Date__c</field>
            <value>
                <elementReference>Estimated_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Pay_Rate__c</field>
            <value>
                <elementReference>Pay_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Placement_Percentage__c</field>
            <value>
                <elementReference>Placement_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Salary__c</field>
            <value>
                <elementReference>Salary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Work_Site_Location__c</field>
            <value>
                <elementReference>recordId.bpats__Job__r.bpats__Work_Site_Location__c</elementReference>
            </value>
        </inputAssignments>
        <object>bpats__Placement__c</object>
    </recordUpdates>
    <screens>
        <description>Displays the fields that the user can update before creating the placement.  If fields are added to this screen, be sure to also add them to the &quot;Update Placement&quot; element below to save them to the record.</description>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Placement</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Creating Placement for {!recordId.bpats__Applicant_Name__c}:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.bpats__Job__r.bpats__Start_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Pay_Rate</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>recordId.bpats__Pay_Rate__c</elementReference>
                    </defaultValue>
                    <fieldText>Pay Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Bill_Rate</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>recordId.bpats__Bill_Rate__c</elementReference>
                    </defaultValue>
                    <fieldText>Bill Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Estimated_End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.bpats__Job__r.bpats__End_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Estimated End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Salary</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>recordId.bpats__Salary__c</elementReference>
                    </defaultValue>
                    <fieldText>Salary</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Placement_Fee</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>recordId.bpats__Job__r.bpats__Placement_Fee__c</elementReference>
                    </defaultValue>
                    <fieldText>Placement Fee %</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Placement</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_existing_placement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>numPlacements</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>bpats__ATS_Applicant__c</objectType>
    </variables>
</Flow>
