knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Generate_Placements_Single.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Custom action that refreshes the record page.</description>
        <name>Refresh_the_Page</name>
        <label>Refresh the Page</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>c:RefreshView</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:RefreshView</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Save the count into a number variable.</description>
        <name>Count_Them</name>
        <label>Count Them</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>numPlacements</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Placements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Openings</targetReference>
        </connector>
    </assignments>
    <description>This flow presents a screen to the user allowing them to populate placement details.  This is best used when there are details that need to be entered at the time of placement that may need to be adjusted from the job or application.  For high volume staffing, the table flow may be preferred.</description>
    <environments>Default</environments>
    <formulas>
        <name>PlacementNameFormula</name>
        <dataType>String</dataType>
        <expression>/* limit name to 80 characters, as required by Salesforce */
LEFT(
/* if there is an account, display name */
if(NOT(ISBLANK({!recordId.bpats__Job__r.bpats__Account__c})), {!recordId.bpats__Job__r.bpats__Account__r.Name} + &quot; - &quot;, &quot;&quot;) +
/* then display the job and applicant names */
{!recordId.bpats__Job__r.Name} + &quot; - &quot; + {!recordId.bpats__ATS_Applicant__r.FirstName} + &quot; &quot; + {!recordId.bpats__ATS_Applicant__r.LastName}
,80)</expression>
    </formulas>
    <interviewLabel>Generate Placements (Single) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Placements (Single)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the placement record.</description>
        <name>Create_Placement</name>
        <label>Create Placement</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_All_Placements</targetReference>
        </connector>
        <inputAssignments>
            <field>Facility_Name__c</field>
            <value>
                <elementReference>recordId.bpats__Job__r.Facility_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_Commitment__c</field>
            <value>
                <elementReference>Hours_Commitment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PlacementNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__ATS_Candidate__c</field>
            <value>
                <elementReference>recordId.bpats__ATS_Applicant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__ATS_Job__c</field>
            <value>
                <elementReference>recordId.bpats__Job__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Account__c</field>
            <value>
                <elementReference>recordId.bpats__Job__r.bpats__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Conversion_Percentage__c</field>
            <value>
                <elementReference>recordId.bpats__Job__r.bpats__Conversion_Percentage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Pay_Rate__c</field>
            <value>
                <elementReference>Pay_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Salary__c</field>
            <value>
                <elementReference>Salary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Work_Site_Location__c</field>
            <value>
                <elementReference>recordId.bpats__Job__r.bpats__Work_Site_Location__c</elementReference>
            </value>
        </inputAssignments>
        <object>bpats__Placement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>With the new record created, get a count of all placements on this job, include previously existing records.</description>
        <name>Get_All_Placements</name>
        <label>Get All Placements</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Them</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bpats__ATS_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.bpats__Job__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>bpats__Placement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Save the placement count, but do not update the job status.  If you have a status for &quot;partially filled&quot;, you can update the status to that value here.</description>
        <name>Copy_1_of_Update_Openings</name>
        <label>Update Openings</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Refresh_the_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.bpats__Job__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>bpats__Openings_Filled__c</field>
            <value>
                <elementReference>numPlacements</elementReference>
            </value>
        </inputAssignments>
        <object>bpats__Job__c</object>
    </recordUpdates>
    <screens>
        <description>Displays the fields that the user can update before creating the placement.  If fields are added to this screen, be sure to also add them to the &quot;Create Placement&quot; element below to save them to the record.</description>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Placement</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Creating Placement for {!recordId.bpats__Applicant_Name__c}:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.bpats__Job__r.bpats__Start_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Pay_Rate</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>recordId.bpats__Pay_Rate__c</elementReference>
                    </defaultValue>
                    <fieldText>Pay Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Salary</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>recordId.bpats__Salary__c</elementReference>
                    </defaultValue>
                    <fieldText>Salary</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Hours_Commitment</name>
                    <dataType>Number</dataType>
                    <fieldText>Hours Commitment</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Placement</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>numPlacements</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>bpats__ATS_Applicant__c</objectType>
    </variables>
</Flow>
