knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Get_Impacted_Facility_Titles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Input: ContractId
Output: List of impacted facility titles which are eligible for rate change</description>
    <environments>Default</environments>
    <interviewLabel>Get Impacted Facility Titles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Impacted Facility Titles</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Practice_Operation_records</name>
        <label>Get Practice Operation records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CollectPocIds</elementReference>
            </value>
        </filters>
        <object>Practice_Operation_Change__c</object>
        <outputReference>ListOfFacilityTitles</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Facility_Title__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>This action is used to get impacted facility title records for rate change</description>
        <name>Practice_Operation_Change</name>
        <label>Practice Operation Change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollectPocIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Change_Management__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Practice_Operation_Change__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Practice_Operation_Change</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <description>convert practice operation record Ids into list</description>
        <name>CollectPocIds</name>
        <label>CollectPocIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Practice_Operation_records</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Practice_Operation_Change[$EachItem].Practice_Operation_Change__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <description>Contract Id for which impacted facility titles are queried</description>
        <name>ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>list of facility titles</description>
        <name>ListOfFacilityTitles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Practice_Operation_Change__c</objectType>
    </variables>
</Flow>
