knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/HPF_Save_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_HPF_fields</name>
        <label>Assign HPF fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewHPF.First_Clinical_Shift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_HPF_with_matching_AccountId_and_PractitionerId.First_Clinical_Shift__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHPF.Credentialling_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_HPF_with_matching_AccountId_and_PractitionerId.Credentialling_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHPF.First_Scheduled_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_HPF_with_matching_AccountId_and_PractitionerId.First_Scheduled_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHPF.Hospital_Privileged_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_HPF_with_matching_AccountId_and_PractitionerId.Hospital_Privileged_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHPF.Hospital_Privilege_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_HPF_with_matching_AccountId_and_PractitionerId.Hospital_Privilege_Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHPF.Temporary_Inactive_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_HPF_with_matching_AccountId_and_PractitionerId.Temporary_Inactive_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHPF.Rate_Active_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_HPF_with_matching_AccountId_and_PractitionerId.Rate_Active_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHPF.Ok_to_Send_Rates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_HPF_with_matching_AccountId_and_PractitionerId.Ok_to_Send_Rates__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Facility_Title_Changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_when_Facility_Title_changed</name>
        <label>Assign when Facility Title changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewHPF.Certificate_of_Insurance_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_HPF_with_matching_AccountId_and_PractitionerId.Certificate_of_Insurance_Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHPF.Certificate_of_Insurance_Expiration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_HPF_with_matching_AccountId_and_PractitionerId.Certificate_of_Insurance_Expiration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHPF.Insurance_Provided_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_HPF_with_matching_AccountId_and_PractitionerId.Insurance_Provided_By__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Task_Assignment</name>
        <label>Task Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Review overlapping HPF effective dates</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDateTodayPlus1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewHPF.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewHPF.PractitionerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Default_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Quality_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Existing_HPF_Record</name>
        <label>Update Existing HPF Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Original_HPF.EffectiveTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewHPFEffectiveFromSubstract1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_HPF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_New_Effective_From</name>
        <label>Update New Effective From</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewHPF.EffectiveFrom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalHPFEffectiveToPlus1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_HPF</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Effective_From_and_To</name>
        <label>Check Effective From and To</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Original_HPF_with_matching_AccountId_and_PractitionerId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Original_To_is_prior_to_New_From</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewHPF.EffectiveFrom</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Original_HPF.EffectiveTo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Original_HPF</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Original_HPF.EffectiveTo</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_Effective_From</targetReference>
            </connector>
            <label>EFrom : Original To is prior to New From</label>
        </rules>
        <rules>
            <name>Original_To_has_a_gap_between_New_From</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>NewHPF.EffectiveFrom</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Original_HPF.EffectiveTo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Original_HPF</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Original_HPF.EffectiveTo</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_HPF_Record</targetReference>
            </connector>
            <label>Original To has a gap between New From</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Facility_Title_Changes</name>
        <label>Check Facility Title Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_changed_from_Employee_to_IC_or_vice_versa</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>NewHPF.Facility_Title__r.Code_Set_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Original_HPF_with_matching_AccountId_and_PractitionerId.Facility_Title__r.Code_Set_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Contractor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Original_HPF_with_matching_AccountId_and_PractitionerId.Facility_Title__r.Code_Set_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewHPF.Facility_Title__r.Code_Set_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Contractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_when_Facility_Title_changed</targetReference>
            </connector>
            <label>Is changed from Employee to IC or vice versa</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOriginalHPF</name>
        <label>Check Original HPF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Facility_Title_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Original_HPF_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Original_HPF_with_matching_AccountId_and_PractitionerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_HPF_fields</targetReference>
            </connector>
            <label>Original HPF Exists</label>
        </rules>
    </decisions>
    <description>HPF Save Sub Flow - PR1050558-4980, PR1050558-5090
Date Validation for Automated Create HPF from Job</description>
    <environments>Default</environments>
    <formulas>
        <name>DueDateTodayPlus1</name>
        <dataType>Date</dataType>
        <expression>TODAY() +1</expression>
    </formulas>
    <formulas>
        <name>EffectiveFromWithOneDayPrior</name>
        <dataType>Date</dataType>
        <expression>{!NewHPF.EffectiveFrom}-1</expression>
    </formulas>
    <formulas>
        <name>NewHPFEffectiveFromSubstract1</name>
        <dataType>Date</dataType>
        <expression>{!NewHPF.EffectiveFrom} - 1</expression>
    </formulas>
    <formulas>
        <name>OriginalHPFEffectiveToPlus1</name>
        <dataType>Date</dataType>
        <expression>{!Get_Original_HPF.EffectiveTo} + 1</expression>
    </formulas>
    <interviewLabel>HPF After Save Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HPF Save Sub Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Original_HPF_with_matching_AccountId_and_PractitionerId</targetReference>
        </connector>
        <inputReference>Task</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Data_Quality_Queue</name>
        <label>Data Quality Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data_Quality</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_HPF</name>
        <label>Get Original HPF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Effective_From_and_To</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewHPF.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PractitionerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewHPF.PractitionerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NewHPF.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthcarePractitionerFacility</object>
        <sortField>EffectiveFrom</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_HPF_with_matching_AccountId_and_PractitionerId</name>
        <label>Get Original HPF with matching AccountId and PractitionerId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckOriginalHPF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewHPF.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PractitionerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewHPF.PractitionerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveTo</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EffectiveFromWithOneDayPrior</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthcarePractitionerFacility</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Task_Default_Record_Type</name>
        <label>Task Default Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Data_Quality_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_HPF</name>
        <label>Update Existing HPF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Task_Default_Record_Type</targetReference>
        </connector>
        <inputReference>Get_Original_HPF</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_HPF</name>
        <label>Update New HPF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Task_Default_Record_Type</targetReference>
        </connector>
        <inputReference>NewHPF</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Original_HPF</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Task_Comment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new HPF was created for this clinician at {!NewHPF.Account.Name} from the recruiting process. The Requested Start Date was {!NewHPF.EffectiveFrom} which would have created an overlap or gap with an existing HPF. Please review the clinician’s HPF records to confirm the dates are set correctly. This task is linked to the newly created HPF</text>
    </textTemplates>
    <variables>
        <name>NewHPF</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>HealthcarePractitionerFacility</objectType>
    </variables>
    <variables>
        <name>RequestedDateForNewHPF</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
