knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Integration_Log_Set_Error_Category.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setErrorCat_AlreadyHired</name>
        <label>setErrorCat_AlreadyHired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Already Hired</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_AuthError</name>
        <label>setErrorCat_AuthError</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Authentication Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_BadRequest</name>
        <label>setErrorCat_BadRequest</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bad Request</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_ConnectError</name>
        <label>setErrorCat_ConnectError</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Connection Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_ContactNotFound</name>
        <label>setErrorCat_ContactNotFound</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact Not Found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_Default</name>
        <label>setErrorCat_Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_DoNotRetrigger</name>
        <label>setErrorCat_DoNotRetrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DO NOT RETRIGGER</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_FacilityNotFound</name>
        <label>setErrorCat_FacilityNotFound</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Facility Not Found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_HPFNotFound</name>
        <label>setErrorCat_HPFNotFound</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HPF Not Found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_InvalidAddress</name>
        <label>setErrorCat_InvalidAddress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Address</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_InvalidContractValue</name>
        <label>setErrorCat_InvalidContractValue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Contract Value</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_InvalidDate</name>
        <label>setErrorCat_InvalidDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Date</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_InvalidHPFvalue</name>
        <label>setErrorCat_InvalidHPFvalue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid HPF Value</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_InvalidID</name>
        <label>setErrorCat_InvalidID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid ID</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_InvalidPayload</name>
        <label>setErrorCat_InvalidPayload</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Payload</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_InvalidSSN</name>
        <label>setErrorCat_InvalidSSN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid SSN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_InvalidStaffID</name>
        <label>setErrorCat_InvalidStaffID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Staff ID</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_InvalidValue</name>
        <label>setErrorCat_InvalidValue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Value</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_JavaError</name>
        <label>setErrorCat_JavaError</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Java Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_MoreThan1User</name>
        <label>setErrorCat_MoreThan1User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>More Than 1 User Found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_NeedPayTag</name>
        <label>setErrorCat_NeedPayTag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NEED PAY TAG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_SUPOrg</name>
        <label>setErrorCat_SUPOrg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUP Org</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_Timeout</name>
        <label>setErrorCat_Timeout</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Timeout</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_UserAlreadyExists</name>
        <label>setErrorCat_UserAlreadyExists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>User Already Exists</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_ValidateError</name>
        <label>setErrorCat_ValidateError</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validation Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorCat_ValueNotFound</name>
        <label>setErrorCat_ValueNotFound</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Value Not Found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordswithErrorCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorFullMess</name>
        <label>setFullErrorMessage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFullErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Error_Message__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParseErrorMessage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ParseErrorMessage</name>
        <label>ParseErrorMessage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>setErrorCat_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Timeout</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>timeout</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>timed out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>closes the circle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_Timeout</targetReference>
            </connector>
            <label>Timeout</label>
        </rules>
        <rules>
            <name>DoNotRetrigger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DO NOT RETRIGGER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_DoNotRetrigger</targetReference>
            </connector>
            <label>DoNotRetrigger</label>
        </rules>
        <rules>
            <name>NeedPayTag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>NEED PAY TAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_NeedPayTag</targetReference>
            </connector>
            <label>NeedPayTag</label>
        </rules>
        <rules>
            <name>AlreadyHired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>already been hired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_AlreadyHired</targetReference>
            </connector>
            <label>AlreadyHired</label>
        </rules>
        <rules>
            <name>UserAlreadyExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>User Already Exists</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_UserAlreadyExists</targetReference>
            </connector>
            <label>UserAlreadyExists</label>
        </rules>
        <rules>
            <name>MoreThan1User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>More than one user found</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_MoreThan1User</targetReference>
            </connector>
            <label>MoreThan1User</label>
        </rules>
        <rules>
            <name>AuthError</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Authentication error</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Unauthorized</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Access denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_AuthError</targetReference>
            </connector>
            <label>AuthError</label>
        </rules>
        <rules>
            <name>ConnectError</name>
            <conditionLogic>(1 and 2) or 3 or 4 or 5</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CONNECTIVITY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>failed: Remotely closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>INTERNAL_SERVER_ERROR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>bad gateway</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>failed: Locally closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_ConnectError</targetReference>
            </connector>
            <label>ConnectError</label>
        </rules>
        <rules>
            <name>JavaError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>java</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>not supported</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_JavaError</targetReference>
            </connector>
            <label>JavaError</label>
        </rules>
        <rules>
            <name>SupOrgs</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>supervisoryOrgID value is empty</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supervisory_Organization_Reference</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>supervisory organization must be entered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_SUPOrg</targetReference>
            </connector>
            <label>SupOrgs</label>
        </rules>
        <rules>
            <name>FacilityNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Location</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>not found</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_FacilityNotFound</targetReference>
            </connector>
            <label>FacilityNotFound</label>
        </rules>
        <rules>
            <name>ContactNotFound</name>
            <conditionLogic>1 or ((2 or 3) and 4) or 5 or 6</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No Provider found</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Staff member</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>staff-members</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>not found</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contact Id not found</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No ContactId is available for the Global Provider Id</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_ContactNotFound</targetReference>
            </connector>
            <label>ContactNotFound</label>
        </rules>
        <rules>
            <name>HPFnotFound</name>
            <conditionLogic>(1 AND 2) or 3 or (4 and 5) or 6</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No staff with ID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>are assigned to Location</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No HPF was found</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Related_Record_Object__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HealthcarePractitionerFacility</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Not Found</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No HPF Id found </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_HPFNotFound</targetReference>
            </connector>
            <label>HPFnotFound</label>
        </rules>
        <rules>
            <name>ValueNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Value does not exist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_ValueNotFound</targetReference>
            </connector>
            <label>ValueNotFound</label>
        </rules>
        <rules>
            <name>InvalidID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Invalid ID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_InvalidID</targetReference>
            </connector>
            <label>InvalidID</label>
        </rules>
        <rules>
            <name>InvalidDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>not a valid date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_InvalidDate</targetReference>
            </connector>
            <label>InvalidDate</label>
        </rules>
        <rules>
            <name>InvalidSSN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Validation Errors: Must be a 9 digit SSN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_InvalidSSN</targetReference>
            </connector>
            <label>InvalidSSN</label>
        </rules>
        <rules>
            <name>InvalidStaffID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Invalid StaffId</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_InvalidStaffID</targetReference>
            </connector>
            <label>InvalidStaffID</label>
        </rules>
        <rules>
            <name>InvalidAddress</name>
            <conditionLogic>(1 AND 2) or 3 or 4</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>VALIDATION_ERROR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>address</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>missing address components</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>not a valid postal code</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_InvalidAddress</targetReference>
            </connector>
            <label>InvalidAddress</label>
        </rules>
        <rules>
            <name>Invalid_HPF_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>invalid for this clinician’s HPF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_InvalidHPFvalue</targetReference>
            </connector>
            <label>Invalid HPF Value</label>
        </rules>
        <rules>
            <name>InvalidContractValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Related_Record_Object__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BLANK_STRING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_InvalidContractValue</targetReference>
            </connector>
            <label>InvalidContractValue</label>
        </rules>
        <rules>
            <name>InvalidPayload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Invalid request payload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_InvalidPayload</targetReference>
            </connector>
            <label>InvalidPayload</label>
        </rules>
        <rules>
            <name>Validation_Error</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Validation Error</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>validation failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>VALIDATION_ERROR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_ValidateError</targetReference>
            </connector>
            <label>Validation Error</label>
        </rules>
        <rules>
            <name>InvalidValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Invalid Value</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_InvalidValue</targetReference>
            </connector>
            <label>InvalidValue</label>
        </rules>
        <rules>
            <name>BadRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFullErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bad Request (400)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setErrorCat_BadRequest</targetReference>
            </connector>
            <label>BadRequest</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Integration Log Set Error Category {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Integration Log Set Error Category</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateRecordswithErrorCat</name>
        <label>Update Records with Error Cat</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Error_Category__c</field>
            <value>
                <elementReference>varErrorCat</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>setErrorFullMess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <object>Integration_Log__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varErrorCat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </variables>
    <variables>
        <name>varFullErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
