knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/New_Deal_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>set_lookup</name>
        <label>set lookup</label>
        <locationX>655</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>sVarOpp.Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dealID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_oppty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>has_a_deal1</name>
        <label>has a deal?</label>
        <locationX>317</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sVarOpp.Deal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lets_make_a_deal</targetReference>
            </connector>
            <label>no</label>
        </rules>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sVarOpp.Deal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>has_a_deal</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>Creates a deal and associates the current opportunity with it.</description>
    <formulas>
        <name>dealTime</name>
        <dataType>String</dataType>
        <expression>if({!myDupeDeal.Name} = &quot;&quot;, {!sVarOpp.Name},{!sVarOpp.Name} + &quot; - &quot;+ text(now()))</expression>
    </formulas>
    <interviewLabel>New Deal Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Deal Button</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>lets_make_a_deal</name>
        <label>lets make a deal</label>
        <locationX>489</locationX>
        <locationY>385</locationY>
        <assignRecordIdToReference>dealID</assignRecordIdToReference>
        <connector>
            <targetReference>set_lookup</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <elementReference>sVarOpp.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>dealTime</elementReference>
            </value>
        </inputAssignments>
        <object>Deal__c</object>
    </recordCreates>
    <recordLookups>
        <name>dupeDeal</name>
        <label>dupeDeal?</label>
        <locationX>319</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>has_a_deal1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sVarOpp.Name</elementReference>
            </value>
        </filters>
        <object>Deal__c</object>
        <outputReference>myDupeDeal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_oppty</name>
        <label>get oppty</label>
        <locationX>321</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dupeDeal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisOpp</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sVarOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Deal__c</queriedFields>
        <queriedFields>LeadSource</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_oppty</name>
        <label>update oppty</label>
        <locationX>813</locationX>
        <locationY>383</locationY>
        <inputReference>sVarOpp</inputReference>
    </recordUpdates>
    <screens>
        <name>has_a_deal</name>
        <label>has a deal</label>
        <locationX>318</locationX>
        <locationY>506</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hasDeal</name>
            <fieldText>This Opportunity already has a deal.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>get_oppty</startElementReference>
    <status>Active</status>
    <variables>
        <name>dealID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>myDupeDeal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Deal__c</objectType>
    </variables>
    <variables>
        <name>sVarOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>thisOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
