knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/PCA_After_Insert_and_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_RCP_Record_to_list</name>
        <label>Add RCP Record to list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RatePayRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RatePayCodeRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Rate_Pay_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_for_new_Rate_Pay_Codes</name>
        <label>Assign Values for new Rate Pay Codes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RatePayCodeRecord.Pay_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Rate_Pay_Codes.Pay_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RatePayCodeRecord.Preventive_Care_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RatePayCodeRecord.Cloned_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Rate_Pay_Codes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_RCP_Record_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_for_newx_Rate_Pay_Codes_BlankcloneFrom</name>
        <label>Assign Values for newx Rate Pay Codes BlankcloneFrom</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RatePayCodeRecord.Pay_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Rate_Pay_Codes.Pay_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RatePayCodeRecord.Preventive_Care_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_RCP_Record_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RPC_Is_Deleted_False</name>
        <label>Set RPC Is Deleted False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_On_RPCs.Is_Deleted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_RPC_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RPC_Is_Deleted_True</name>
        <label>Set RPC Is Deleted True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_On_RPCs.Is_Deleted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_RPC_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_variable_to_true</name>
        <label>Set variable to true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isRatePopulatedOrModified</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Variable_is_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variable_to_True_1</name>
        <label>Set Variable to True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isRatePopulatedOrModified</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Variable_is_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_RPC_Records</name>
        <label>Updated RPC Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>coll_UpdatedRPCRecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_RPCs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_RPCs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_RPCs_record_to_be_updated</name>
        <label>Are there RPCs record to be updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Rate_Modified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found RPCs</defaultConnectorLabel>
        <rules>
            <name>Yes_RPCs_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_RPCs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_On_RPCs</targetReference>
            </connector>
            <label>Yes RPCs Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contract_Record_Type</name>
        <label>Check Contract Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clinician_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinician</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Preventive_Care_Agreement_Records</targetReference>
            </connector>
            <label>Clinician Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_CPA_is_null</name>
        <label>Check If CPA is null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Rate_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPA_record_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract_Payment_Agreements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract_Payment_Agreements.Contract.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinician</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contract</targetReference>
            </connector>
            <label>CPA record exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Pay_Code_already_exists</name>
        <label>Check If Pay Code already exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>check_PCA_Clone_from_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pay_Code_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_RPC_Pay_Code_Ids</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_on_Rate_Pay_Codes.Pay_Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Rate_Pay_Codes</targetReference>
            </connector>
            <label>Pay Code Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Is_Deleted</name>
        <label>Check Is Deleted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_RPC_Is_Deleted_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Soft Deleted false</defaultConnectorLabel>
        <rules>
            <name>Is_Soft_Deleted_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Deleted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RPC_Is_Deleted_True</targetReference>
            </connector>
            <label>Is Soft Deleted true</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_PCA_Clone_from_field</name>
        <label>check PCA Clone from field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_for_new_Rate_Pay_Codes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clone_from_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Rate_Pay_Codes.Cloned_From__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_for_newx_Rate_Pay_Codes_BlankcloneFrom</targetReference>
            </connector>
            <label>Clone from Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_or_Updated</name>
        <label>Created or Updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Deleted_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contract_Payment_Agreements</targetReference>
            </connector>
            <label>Is Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Variable_is_True</name>
        <label>If Variable is True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isRatePopulatedOrModified_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isRatePopulatedOrModified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FacilityTitle__r.Shift_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NP/PA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FacilityTitle__r.Code_Set_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Rates_on_Contract_Based_on_PCA</targetReference>
            </connector>
            <label>isRatePopulatedOrModified is true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Deleted_Changed</name>
        <label>Is Deleted Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Rate_Modified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Deleted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_RPCs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Rate_Modified</name>
        <label>Is Rate Modified?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>If_Variable_is_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rate_Modified</name>
            <conditionLogic>(1 AND 2 AND 3) OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_of_Measure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>per Hour</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_of_Measure__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variable_to_True_1</targetReference>
            </connector>
            <label>Rate Modified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Rate_Populated</name>
        <label>Is Rate Populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>If_Variable_is_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rated_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rate__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_of_Measure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>per Hour</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_variable_to_true</targetReference>
            </connector>
            <label>Rated Populated?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CheckPCA</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Cloned_From__c}),{!$Record.Facility_Rate__c},{!$Record.Cloned_From__c})</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>PCA Insert and Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PCA After Insert and Update Flow</label>
    <loops>
        <name>Loop_on_Rate_Pay_Codes</name>
        <label>Loop on Rate Pay Codes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Rate_Pay_Codes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Pay_Code_already_exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Rate_Pay_Record_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_RPCs</name>
        <label>Loop On RPCs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_RPCs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Is_Deleted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_RPC_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Rate_Pay_Record_List</name>
        <label>Create Rate Pay Record List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Rate_Populated</targetReference>
        </connector>
        <inputReference>RatePayRecordList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contract_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_Payment_Agreements.ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Payment_Agreements</name>
        <label>Get Contract Payment Agreements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_CPA_is_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractPaymentAgreementId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shift</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContractPaymentAgreement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Preventive_Care_Agreement_Records</name>
        <label>Get Preventive Care Agreement Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Rate_Pay_Codes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CheckPCA</elementReference>
            </value>
        </filters>
        <filters>
            <field>FacilityTitle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FacilityTitle__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PreventiveCareAgreement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rate_Pay_Codes</name>
        <label>Get Rate Pay Codes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Rate_Pay_Codes_from_Triggering_PCA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Preventive_Care_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Preventive_Care_Agreement_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Rate_Pay_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rate_Pay_Codes_from_Triggering_PCA</name>
        <label>Get Rate Pay Codes from Triggering PCA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_RPC_Pay_Code_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Preventive_Care_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Rate_Pay_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_RPCs</name>
        <label>Get Related RPCs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_RPCs_record_to_be_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Preventive_Care_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Rate_Pay_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RPC_Records</name>
        <label>Update RPC Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Rate_Modified</targetReference>
        </connector>
        <inputReference>coll_UpdatedRPCRecs</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_or_Updated</targetReference>
        </connector>
        <object>PreventiveCareAgreement</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_Rates_on_Contract_Based_on_PCA</name>
        <label>Calculate Rates on Contract Based on PCA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Calculate_Rates_on_Contract_Based_on_PCA</flowName>
        <inputAssignments>
            <name>ContractId</name>
            <value>
                <elementReference>$Record.ContractPaymentAgreement.ContractId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <transforms>
        <name>Existing_RPC_Pay_Code_Ids</name>
        <label>Existing RPC Pay Code Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_on_Rate_Pay_Codes</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Rate_Pay_Codes_from_Triggering_PCA[$EachItem].Pay_Code__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>coll_UpdatedRPCRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rate_Pay_Code__c</objectType>
    </variables>
    <variables>
        <name>isRatePopulatedOrModified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NPPATier</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RatePayCodeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rate_Pay_Code__c</objectType>
    </variables>
    <variables>
        <name>RatePayRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rate_Pay_Code__c</objectType>
    </variables>
</Flow>
