knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/PMT_Task_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Populating_template_Ids</name>
        <label>Populating template Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fetching_The_Template_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetching_The_Template_Ids</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>APTemplate_Not_Found_Error</name>
        <label>APTemplate Not Found Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Unable to find Published Action Plan Template with the name that matches PMT Task Name. Review Action Plan Template Setup and try again.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>APTemplate_Not_Found_Error1</name>
        <label>APTemplate Not Found Error1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Unable to find Published Action Plan Template with the name that matches PMT Task Name. Review Action Plan Template Setup and try again.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>ActionPlanTemplate_Check</name>
        <label>ActionPlanTemplate Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_ActionPlanTemplate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_ActionPlanTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_ActionPlanTemplate</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetching_The_Template_Ids</targetReference>
            </connector>
            <label>Has ActionPlanTemplate</label>
        </rules>
        <rules>
            <name>Does_not_have_ActionPlanTemplate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_ActionPlanTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APTemplate_Not_Found_Error</targetReference>
            </connector>
            <label>Does not have ActionPlanTemplate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_6</name>
        <label>checking for correct id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Processing_the_Action_plan_template_and_version</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Id_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Processing_the_Action_plan_template_and_version.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getActionPlanTemplateVersion.ActionPlanTemplateId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_Plan_and_Record_Updation_Flow</targetReference>
            </connector>
            <label>Id found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Updated_to</name>
        <label>Status Updated to ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inov8__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_ActionPlanTemplate</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Field</name>
        <label>Update Field?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Status_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inov8__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Updated_to</targetReference>
            </connector>
            <label>Is Status Update ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_or_Create</name>
        <label>Update or Create ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Create ?</label>
        </rules>
        <rules>
            <name>Is_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Field</targetReference>
            </connector>
            <label>Is Update?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Version_Check</name>
        <label>Version Check ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Template_Version</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getActionPlanTemplateVersion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getActionPlanTemplateVersion</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Processing_the_Action_plan_template_and_version</targetReference>
            </connector>
            <label>Has Template Version</label>
        </rules>
        <rules>
            <name>Does_Not_Have_Template_Version</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getActionPlanTemplateVersion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APTemplate_Not_Found_Error1</targetReference>
            </connector>
            <label>Does Not Have Template Version</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>PMT Task After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMT Task After Save Flow</label>
    <loops>
        <name>Fetching_The_Template_Ids</name>
        <label>Fetching The Template Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_ActionPlanTemplate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populating_template_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getActionPlanTemplateVersion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Processing_the_Action_plan_template_and_version</name>
        <label>Processing the Action plan template and version</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_ActionPlanTemplate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_6</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_ActionPlanTemplate</name>
        <label>Get Related ActionPlanTemplate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActionPlanTemplate_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ActionPlanTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getActionPlanTemplateVersion</name>
        <label>getActionPlanTemplateVersion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Version_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateId</field>
            <operator>In</operator>
            <value>
                <elementReference>ActionPlanTemplateIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplateVersion</object>
        <sortField>ActivationDateTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_or_Create</targetReference>
        </connector>
        <object>inov8__PMT_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Action_Plan_and_Record_Updation_Flow</name>
        <label>Action Plan and Record Updation Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Processing_the_Action_plan_template_and_version</targetReference>
        </connector>
        <flowName>PMT_Task_Action_Plan_and_Record_Updation_Flow</flowName>
        <inputAssignments>
            <name>ActionPlanTemplateVersion</name>
            <value>
                <elementReference>getActionPlanTemplateVersion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RelatedActionPlanTemplate</name>
            <value>
                <elementReference>Processing_the_Action_plan_template_and_version</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TriggeringPMTTaskRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ActionPlanTemplateIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActionPlanTemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ActionPlanTemplate</objectType>
    </variables>
</Flow>
