knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/PNC_Scheduled_FLow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Case</name>
        <label>Add Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FacilityCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Hpfs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_to_list</name>
        <label>Add Case to list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FacilityCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Hpfs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_task_to_list</name>
        <label>Add task to list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TerminationTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_PNCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Account_Name</name>
        <label>Assign Service Account Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>serviceAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_PNCs.HealthcareProvider.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Termination_Task_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFacilityName</name>
        <label>AssignFacilityName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>facilityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Hpfs.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Employment_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Facility_Case_for_Employee_Independent_Contractor_Partnet</name>
        <label>Create Facility Case for Employee,Independent Contractor,Partnet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FacilityCase.Date_Termination_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_PNCs.Contract_Termination__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.Termination_Request_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_PNCs.Contract_Termination__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.Last_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_PNCs.Contract_Termination__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.Voluntary_Termination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.Reason_for_Termination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hospital Contract Termination</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.Exit_Interview_Requirement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.Bonus_Repayment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Hpfs.PractitionerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.Healthcare_Practitioner_Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Hpfs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Offboarding_Case_RecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Facility</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Hpfs.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Facility_Case_for_Leased_Locum_Managed</name>
        <label>Create Facility Case for Leased,Locum,Managed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FacilityCase.Date_Termination_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_PNCs.Contract_Termination__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.Termination_Request_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_PNCs.Contract_Termination__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.Last_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_PNCs.Contract_Termination__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.Voluntary_Termination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.Reason_for_Termination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hospital Contract Termination</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Hpfs.PractitionerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.Healthcare_Practitioner_Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Hpfs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Offboarding_Case_RecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Facility</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Hpfs.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacilityCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Termination_Task_Details</name>
        <label>Termination Task Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TerminationTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TerminationTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Client_Contracting_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TerminationTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_PNCs.Contract_Termination__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TerminationTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_RecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TerminationTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_PNCs.ContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_task_to_list</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ClientContract</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Client_Contract</stringValue>
        </value>
    </constants>
    <constants>
        <name>Employee</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Employee</stringValue>
        </value>
    </constants>
    <constants>
        <name>IndependentContractor</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Independent Contractor</stringValue>
        </value>
    </constants>
    <constants>
        <name>Leased</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Leased</stringValue>
        </value>
    </constants>
    <constants>
        <name>Locum</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Locum</stringValue>
        </value>
    </constants>
    <constants>
        <name>Managed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Managed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Partner</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Partner</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Contract_Type</name>
        <label>Check Contract Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_on_PNCs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Client_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_PNCs.Contract.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClientContract</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_PNCs.Contract.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_termination_date</targetReference>
            </connector>
            <label>Is Client Contract?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Employment_Type</name>
        <label>Check Employment Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Hpfs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Employee_Independent_Contractor_or_Partner</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Hpfs.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Employee</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Hpfs.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IndependentContractor</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Hpfs.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Partner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Facility_Offboarding_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Facility_Case_for_Employee_Independent_Contractor_Partnet</targetReference>
            </connector>
            <label>Is Employee, Independent Contractor or Partner?</label>
        </rules>
        <rules>
            <name>Is</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Hpfs.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Leased</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Hpfs.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Locum</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Hpfs.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Managed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Facility_Offboarding_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Facility_Case_for_Leased_Locum_Managed</targetReference>
            </connector>
            <label>Is Leased, Locum or Managed?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_records_to_be_created</name>
        <label>Check if records to be created?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_If_tasks_to_be_created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Clinician_Offboarding_Cases</targetReference>
            </connector>
            <label>Cases?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_tasks_to_be_created</name>
        <label>Check If tasks to be created?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Client_Termination_Tasks</targetReference>
            </connector>
            <label>Is not null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_termination_date</name>
        <label>Check termination date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_on_PNCs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_PNCs.Contract_Termination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>todaysDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_HPF_Records</targetReference>
            </connector>
            <label>today?</label>
        </rules>
        <rules>
            <name>tomorrow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_PNCs.Contract_Termination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NextDay</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_PNCs.Contract.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Service_Account_Name</targetReference>
            </connector>
            <label>tomorrow?</label>
        </rules>
    </decisions>
    <description>This flow runs daily and create offboarding cases for PNC records where termination date is today</description>
    <environments>Default</environments>
    <formulas>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Facility Offboarding-&apos; + {!facilityName}</expression>
    </formulas>
    <formulas>
        <name>NextDay</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <formulas>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <expression>{!serviceAccountName} + &apos; Client Contract Terminated&apos;</expression>
    </formulas>
    <formulas>
        <name>todaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>PNC Scheduled FLow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PNC Scheduled FLow</label>
    <loops>
        <name>Loop_on_Hpfs</name>
        <label>Loop on Hpfs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_HPF_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Existing_Facility_Offboarding_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_PNCs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_PNCs</name>
        <label>Loop on PNCs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Client_Contract_PNC_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contract_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_records_to_be_created</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Client_Termination_Tasks</name>
        <label>Create Client Termination Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>TaskList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Clinician_Offboarding_Cases</name>
        <label>Create Clinician Offboarding Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_tasks_to_be_created</targetReference>
        </connector>
        <inputReference>CaseList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Client_Contract_PNC_Records</name>
        <label>Get Client Contract PNC Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Client_Contracting_Queue</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Contract_Termination__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>todaysDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_Termination__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NextDay</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProviderNetworkContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Contracting_Queue</name>
        <label>Get Client Contracting Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Offboarding_Case_RecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client_Contracting_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Facility_Offboarding_Case</name>
        <label>Get Existing Facility Offboarding Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignFacilityName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Healthcare_Practitioner_Facility__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_on_Hpfs.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_on_Hpfs.PractitionerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Facility</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clinician_Offboarding</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Offboarding_Case_RecordTypeId</name>
        <label>Get Offboarding Case RecordTypeId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_RecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clinician_Offboarding</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_HPF_Records</name>
        <label>Get Related HPF Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Hpfs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_on_PNCs.HealthcareProvider.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HealthcarePractitionerFacility</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_RecordTypeId</name>
        <label>Get Task RecordTypeId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_PNCs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Client_Contract_PNC_Records</targetReference>
        </connector>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2025-09-30</startDate>
            <startTime>23:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>FacilityCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>facilityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HPFIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TerminationTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
