knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Potential_Spend_Update_on_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_5</name>
        <label>Assign HM Spend from New Account</label>
        <locationX>974</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>TOTAL_HM_SPEND</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Active_Services.Account__r.HM_Potential_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mark_Account_as_Processed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_EM_Spend</name>
        <label>Assign EM Spend from New Account</label>
        <locationX>710</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>TOTAL_EM_SPEND</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Active_Services.Account__r.EM_Potential_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mark_Account_as_Processed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_EM_HM_Spend_Variables</name>
        <label>Initialize EM &amp; HM Spend Variables</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>TOTAL_EM_SPEND</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOTAL_HM_SPEND</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Active_Services</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_Account_as_Processed</name>
        <label>Mark Account as Processed</label>
        <locationX>974</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Processed_Accounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Active_Services.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Active_Services</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Overrides</name>
        <label>Check Overrides</label>
        <locationX>446</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Spend</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skip_Updating_EM_Spend_if_Overridden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Override_EM_Spend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Opportunity_Spend</targetReference>
            </connector>
            <label>Skip Updating EM Spend if Overridden</label>
        </rules>
        <rules>
            <name>Skip_Updating_HM_Spend_if_Overridden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Override_HM_Spend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Opportunity_Spend</targetReference>
            </connector>
            <label>Skip Updating HM Spend if Overridden</label>
        </rules>
        <rules>
            <name>Skip_Updating_EM_and_HM_Spend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Override_EM_Spend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Override_HM_Spend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Skip Updating EM and HM Spend</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_4</name>
        <label>EM or HM</label>
        <locationX>974</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Mark_Account_as_Processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Active_Services.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emergency Medicine (EM)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_EM_Spend</targetReference>
            </connector>
            <label>Assign EM Spend</label>
        </rules>
        <rules>
            <name>Assign_HM_Spend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Active_Services.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hospital Medicine (HM)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_5</targetReference>
            </connector>
            <label>Assign HM Spend</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_This_Account_Been_Processed</name>
        <label>Has This Account Been Processed?</label>
        <locationX>754</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Decision_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>(NO - New Account Found):</defaultConnectorLabel>
        <rules>
            <name>YES_Already_Processed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Processed_Accounts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Active_Services.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Active_Services</targetReference>
            </connector>
            <label>(YES - Already Processed):</label>
        </rules>
    </decisions>
    <description>Automatically updates the potential spend for EM or HM when a services i added or updated. Can be overridden by Sales VP if checkbox is checked.</description>
    <environments>Default</environments>
    <interviewLabel>Potential Spend Update on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Potential Spend Update on Opportunity</label>
    <loops>
        <name>Loop_Through_Active_Services</name>
        <label>Loop Through Active Services</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Active_Services</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_This_Account_Been_Processed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Overrides</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialize_EM_HM_Spend_Variables</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Services</name>
        <label>Get Active Services</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Active_Services</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Services__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Opportunity_Spend</name>
        <label>Copy 1 of Update Opportunity Spend</label>
        <locationX>314</locationX>
        <locationY>1655</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_EM_Potential__c</field>
            <value>
                <elementReference>TOTAL_EM_SPEND</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Opportunity_Spend</name>
        <label>Copy 2 of Update Opportunity Spend</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_HM_Spend__c</field>
            <value>
                <elementReference>TOTAL_HM_SPEND</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Spend</name>
        <label>Update Opportunity Spend</label>
        <locationX>842</locationX>
        <locationY>1655</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_EM_Potential__c</field>
            <value>
                <elementReference>TOTAL_EM_SPEND</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_HM_Spend__c</field>
            <value>
                <elementReference>TOTAL_HM_SPEND</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Services__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ProcessedAccounts</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt; &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Account_Has_EM_Service</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Account_Has_HM_Service</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Processed_Accounts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TOTAL_EM_SPEND</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TOTAL_HM_SPEND</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
