knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Potential_Spend_Update_for_Services.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Service_Type</name>
        <label>Check Service Type</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Incremental_Margin_for_HM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hospital Medicine (HM)</defaultConnectorLabel>
        <rules>
            <name>Emergency_Medicine_EM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emergency Medicine (EM)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Incremental_Margin_for_EM</targetReference>
            </connector>
            <label>Emergency Medicine (EM)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Potential Spend Update for Services {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Potential Spend Update for Services</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Account</name>
        <label>Get Related Account</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Service_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Incremental_Margin_for_EM</name>
        <label>Update Incremental Margin for EM</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Incremental_Margin__c</field>
            <value>
                <elementReference>Get_Related_Account.EM_Potential_Spend__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Incremental_Margin_for_HM</name>
        <label>Update Incremental Margin for HM</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Incremental_Margin__c</field>
            <value>
                <elementReference>Get_Related_Account.HM_Potential_Spend__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Emergency Medicine (EM)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hospital Medicine (HM)</stringValue>
            </value>
        </filters>
        <object>Services__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
