knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/RiskReviewActionHandlerFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Approved_Email</name>
        <label>Send Approved Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>var_ReviewerEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_NoReply_Org_Wide_Address.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!GET_Case.RecordType.Name} Case {!GET_Case.CaseNumber} is approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;{!GET_Case.RecordType.Name} Case {!GET_Case.CaseNumber} is approved.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Approved_Email_To_Payrol</name>
        <label>Send Approved Email To Payrol</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Approved_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>var_EmailReceipentListForPayrol</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_NoReply_Org_Wide_Address.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!GET_Case.Type} Case {!GET_Case.CaseNumber} is approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;A risk review has recently been approved for clinician {!Get_Clinician.Name}. This review included Garnishments/Liens/Child support issues.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejection_Email</name>
        <label>Send Rejection Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>var_ReviewerEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_NoReply_Org_Wide_Address.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!GET_Case.RecordType.Name} Case {!GET_Case.CaseNumber} is rejected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>{!GET_Case.RecordType.Name} Case {!GET_Case.CaseNumber} is Rejected.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Email_To_Receipents_Lists</name>
        <label>Add Email To Receipents Lists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_EmailReceipentListForPayrol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Assigned_User_Ids.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Assigned_User_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_all_Assigned_To_Ids</name>
        <label>Assign all Assigned To Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vr_allAssignedToIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Related_Approval_WorkItems.AssignedToId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checks_before_adding_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Clinician_Experience_Specialist</name>
        <label>Assign Clinician Experience Specialist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ReviewerEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Clinician_Experience_Specialist_User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Rejection_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Filter_Response</name>
        <label>Assign Filter Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vr_FilteredAssessmentResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverAssessmentResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverAssessmentResponse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_All_Reviewer_Emails</name>
        <label>Get All Reviewer Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ReviewerEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Related_Approval_WorkItems.ReviewedBy.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Related_Approval_WorkItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RoutetoComplianceQueue</name>
        <label>Route to Compliance Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vr_RouteToComplianceQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Chec</name>
        <label>Check Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IterateOverAssessmentResponse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Response is No</defaultConnectorLabel>
        <rules>
            <name>Response_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateOverAssessmentResponse.ResponseText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Filter_Response</targetReference>
            </connector>
            <label>Response is Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Action</name>
        <label>Check Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fetch_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vr_ActionName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fetch_Details</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status</targetReference>
            </connector>
            <label>Fetch Details</label>
        </rules>
        <rules>
            <name>Update_Case_based_on_Approval_Rejection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vr_ActionName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Update Case based on Approval/Rejection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Approval_Status</name>
        <label>Check Approval Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Clincian_Experience_Specialist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vr_ClosedReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Garnishments_Liens_Child_set_to_Yes</targetReference>
            </connector>
            <label>If Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_assigned_to_is_of_a_user</name>
        <label>Check if assigned to is of a user</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Checks_before_adding_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_its_a_user_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Related_Approval_WorkItems.AssignedToId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_all_Assigned_To_Ids</targetReference>
            </connector>
            <label>If its a user Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Clinician_Experience_Specialist_Exist</name>
        <label>Check if Clinician Experience Specialist Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_Rejection_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_CES_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Clincian_Experience_Specialist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Clinician_Experience_Specialist_User</targetReference>
            </connector>
            <label>If CES Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Email_Id_Exists</name>
        <label>Check if Email Id Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_All_Reviewer_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Email_Id_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ReviewerEmails</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Over_Related_Approval_WorkItems.ReviewedBy.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Related_Approval_WorkItems</targetReference>
            </connector>
            <label>If Email Id Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAssessmentResponse</name>
        <label>Check Assessment Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vr_FilteredAssessmentResponse</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RoutetoComplianceQueue</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checks_before_adding_email</name>
        <label>Checks before adding email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Related_Approval_WorkItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_if_email_already_exist_and_add_reviewer_when_Assigned_to_is_a_queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Related_Approval_WorkItems.ReviewedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Email_Id_Exists</targetReference>
            </connector>
            <label>check if email already exist and add reviewer when Assigned to is a queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Garnishments_Liens_Child_set_to_Yes</name>
        <label>Garnishments/Liens/Child set to Yes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_Approved_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Garnishments_Liens_Child_set_to_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assessment_Response_1.ResponseText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Legal_Payroll_Emails</targetReference>
            </connector>
            <label>Is Garnishments/Liens/Child set to YES</label>
        </rules>
    </decisions>
    <description>1617 : Risk Review Approvals - Notification to Payroll</description>
    <environments>Default</environments>
    <interviewLabel>Risk Review Action Handler Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Risk Review Action Handler Flow</label>
    <loops>
        <name>IterateOverAssessmentResponse</name>
        <label>Iterate Over Assessment Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Assessment_Response</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Chec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckAssessmentResponse</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Assigned_User_Ids</name>
        <label>Loop Over Assigned User Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Legal_Payroll_Emails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Email_To_Receipents_Lists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Approved_Email_To_Payrol</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Related_Approval_WorkItems</name>
        <label>Loop Over Related Approval WorkItems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_Approval_Work_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_assigned_to_is_of_a_user</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Assigned_User_Ids_With_Case_Submitter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assessment_Response</name>
        <label>Get Assessment Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOverAssessmentResponse</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Question_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conflict of Interest form contains an answer in the affirmative (route to Compliance)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Question_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Any suspensions or exclusions from Insurance Plans/Third Party Payors (route to Compliance)</stringValue>
            </value>
        </filters>
        <filters>
            <field>AssessmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Case.Assessment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssessmentQuestionResponse</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assessment_Response_1</name>
        <label>Get Assessment Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Approval_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Question_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Garnishments/Liens/Child support issues (route to Legal &amp; Payroll)</stringValue>
            </value>
        </filters>
        <filters>
            <field>AssessmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Case.Assessment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssessmentQuestionResponse</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assigned_User_Ids_With_Case_Submitter</name>
        <label>Get Assigned User Ids With Case Submitter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NoReply_Org_Wide_Address</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>vr_allAssignedToIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Case.CreatedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>3.0</numberValue>
        </limit>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Case</name>
        <label>GET Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Clinician</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vr_CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Assessment__c</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>RecordTypeName__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Clincian_Experience_Specialist</name>
        <label>Get Clincian Experience Specialist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Clinician_Experience_Specialist_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Case.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clinician Experience Specialist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Clinician</name>
        <label>Get Clinician</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Case.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Clinician_Experience_Specialist_User</name>
        <label>Get Clinician Experience Specialist User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Clinician_Experience_Specialist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Clincian_Experience_Specialist.UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_Payroll_Emails</name>
        <label>Get Legal &amp; Payroll Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Assigned_User_Ids</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Context__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EERP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Context__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PHYSPR</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Email_Address_Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NoReply_Org_Wide_Address</name>
        <label>Get NoReply Org Wide Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assessment_Response_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No Reply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Regional_Medical_User</name>
        <label>Get Regional Medical User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assessment_Response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRegionalMedicalOfficerId.UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vr_RegionalMedicalOfficerId</assignToReference>
            <field>Username</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Approval_Work_Items</name>
        <label>Get Related Approval Work Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Related_Approval_WorkItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vr_CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>3.0</numberValue>
        </limit>
        <object>ApprovalWorkItem</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRegionalMedicalOfficerId</name>
        <label>Get Regional Medical Officer Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Regional_Medical_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Case.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regional Medical Officer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Approval_Work_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vr_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed_Reason__c</field>
            <value>
                <elementReference>vr_ClosedReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status</name>
        <label>Update Case Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRegionalMedicalOfficerId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentQuestionResponse</objectType>
    </variables>
    <variables>
        <name>var_EmailReceipentListForPayrol</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ReviewerEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vr_ActionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vr_allAssignedToIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vr_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vr_ClosedReason</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vr_FilteredAssessmentResponse</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentQuestionResponse</objectType>
    </variables>
    <variables>
        <name>vr_RegionalMedicalOfficerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vr_RouteToComplianceQueue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
