knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/SCP_Healthcare_Practitioner_Facility_After_Insert_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_HPF_record_to_List</name>
        <label>Assign HPF record to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HPFListToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HPFListToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_HPF_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Status</name>
        <label>Check for Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>HPF_Save_Sub_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inactivate_Existing_HPF</targetReference>
            </connector>
            <label>is Active</label>
        </rules>
    </decisions>
    <description>- PR1050558-473 : Create Healthcare Provider Record when Healthcare Practitioner Facility Record is created.</description>
    <environments>Default</environments>
    <interviewLabel>Healthcare Practitioner Facility After Insert Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Healthcare Practitioner Facility After Insert Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_HPF_Record</name>
        <label>Update HPF Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>HPFListToUpdateCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Status</targetReference>
        </connector>
        <object>HealthcarePractitionerFacility</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>HPF_Save_Sub_Flow</name>
        <label>HPF Save Sub Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_HPF_record_to_List</targetReference>
        </connector>
        <flowName>HPF_Save_Sub_Flow</flowName>
        <inputAssignments>
            <name>NewHPF</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>HPFListToUpdate</assignToReference>
            <name>NewHPF</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Inactivate_Existing_HPF</name>
        <label>Inactivate Existing HPF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HPF_Save_Sub_Flow</targetReference>
        </connector>
        <flowName>Update_Active_HPF_to_Inactive</flowName>
        <inputAssignments>
            <name>employmentType</name>
            <value>
                <elementReference>$Record.Employment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>practitionerId</name>
            <value>
                <elementReference>$Record.PractitionerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceAccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>HPFListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthcarePractitionerFacility</objectType>
    </variables>
    <variables>
        <name>HPFListToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthcarePractitionerFacility</objectType>
    </variables>
</Flow>
