knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/SCP_Offibaording_Case_Update_Reason_for_Termination.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Last_Modified_Date</name>
        <label>Assign Last Modified Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_LastModifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Facility_Cases.Healthcare_Practitioner_Facility__r.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Reason_For_Termination1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reason_for_Termination</name>
        <label>Assign Reason for Termination</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ReasonForTermination</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Facility_Cases.Reason_for_Termination__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ReasonList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Facility_Cases.Reason_for_Termination__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Last_Day</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reason_For_Termination1</name>
        <label>Assign Reason For Termination</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_LastModifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Facility_Cases.Healthcare_Practitioner_Facility__r.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HPFLastModifiedReasonForTermination</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_CaseReasonText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Facility_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Reason_for_Termination</name>
        <label>Assign Reason for Termination</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_LastDayReasonForTermination</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_CaseReasonText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LastDay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Facility_Cases.Last_Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Recent_HPF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_SET_Reason_For_Termination</name>
        <label>SET Reason For Termination</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SCPOffboardingCase.Reason_for_Termination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_LastDayReasonForTermination</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SCP_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_SET_Reason_For_Termination</name>
        <label>SET Reason For Termination</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SCPOffboardingCase.Reason_for_Termination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_HPFLastModifiedReasonForTermination</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SCP_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InitializeLastDay</name>
        <label>Initialize Last Day</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_LastDay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Facility_Cases.Last_Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Recent_HPF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Different_Reason</name>
        <label>Set Different Reason</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_IsAllHaveSameReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ReasonList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Facility_Cases.Reason_for_Termination__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Last_Day</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_Reason_For_Termination</name>
        <label>SET Reason For Termination</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SCPOffboardingCase.Reason_for_Termination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ReasonForTermination</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SCP_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Facility_Reason_for_Termination</name>
        <label>Check Facility Reason for Termination</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Different_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different</defaultConnectorLabel>
        <rules>
            <name>Same</name>
            <conditionLogic>3 OR (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>var_ReasonList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ReasonList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>form_CaseReasonText</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ReasonList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reason_for_Termination</targetReference>
            </connector>
            <label>Same?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Last_Day</name>
        <label>Check Last Day</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Recent_HPF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LastDayIsBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_LastDay</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_Facility_Cases.Last_Day__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InitializeLastDay</targetReference>
            </connector>
            <label>Last Day Is Blank</label>
        </rules>
        <rules>
            <name>Last_Day_is_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_LastDay</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_Facility_Cases.Last_Day__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_Facility_Cases.Last_Day__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_LastDay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Reason_for_Termination</targetReference>
            </connector>
            <label>Last Day is Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Recent_HPF</name>
        <label>Check Recent HPF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Facility_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Modified_Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_LastModifiedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_Modified_Date</targetReference>
            </connector>
            <label>Last Modified Date Is Blank</label>
        </rules>
        <rules>
            <name>Last_Modified_Date_Is_not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_Facility_Cases.Healthcare_Practitioner_Facility__r.LastModifiedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reason_For_Termination1</targetReference>
            </connector>
            <label>Last Modified Date Is not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Criteria</name>
        <label>Evaluate Criteria</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_SCP_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Have_Same_Reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IsAllHaveSameReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SET_Reason_For_Termination</targetReference>
            </connector>
            <label>All Have Same Reason?</label>
        </rules>
        <rules>
            <name>All_Last_Day_isn_t_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_LastDayReasonForTermination</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_SET_Reason_For_Termination</targetReference>
            </connector>
            <label>All Last Day isn&apos;t Same?</label>
        </rules>
        <rules>
            <name>HPF_Recently_Modified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_HPFLastModifiedReasonForTermination</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_SET_Reason_For_Termination</targetReference>
            </connector>
            <label>HPF Recently Modified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Facility_Offboarding_Case_Present</name>
        <label>Is Facility Offboarding Case Present?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Facility_Offboarding_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_Facility_Cases</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>PR1050558-4347 - This flow to update the Reason for Termination on SCP Offboarding Case.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_CaseReasonText</name>
        <dataType>String</dataType>
        <expression>TEXT({!Iterate_Over_Facility_Cases.Reason_for_Termination__c})</expression>
    </formulas>
    <interviewLabel>Case - Update Reason {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCP Offibaording Case - Update Reason for Termination</label>
    <loops>
        <name>Iterate_Over_Facility_Cases</name>
        <label>Iterate Over Facility Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GET_Facility_Offboarding_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Facility_Reason_for_Termination</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Evaluate_Criteria</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_Facility_Offboarding_Cases</name>
        <label>GET Facility Offboarding Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Facility_Offboarding_Case_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SCPOffboardingCase.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Facility</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clinician_Offboarding</stringValue>
            </value>
        </filters>
        <filters>
            <field>Reason_for_Termination__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SCP_Case</name>
        <label>Update SCP Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>var_SCPOffboardingCase</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Facility_Offboarding_Cases</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_HPFLastModifiedReasonForTermination</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsAllHaveSameReason</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_LastDay</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LastDayReasonForTermination</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LastModifiedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ReasonForTermination</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ReasonList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SCPOffboardingCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
