knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Send_HPF_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Report</name>
        <label>Send Report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_Org_Wide_Email_Address.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;{!EmailBody}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_emails_to_recepientList</name>
        <label>Add emails to recepientList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Account_Teams.User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Account_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_emails_to_recipientList</name>
        <label>Add emails to recipientList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_email_config.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_email_config</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_RecipientList</name>
        <label>Check for RecipientList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReceipientList_is_Not_emoty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Report</targetReference>
            </connector>
            <label>Recipient List is Not emoty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_HPF_Effective_To_Date_Is_In_PAST</name>
        <label>Check If HPF Effective To Date Is In PAST</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>If_Termination_date_is_YESTERDAY</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Effective_Date_Is_In_PAST</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EffectiveTo</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TODAY</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveTo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contracting_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Values_On_HPF</targetReference>
            </connector>
            <label>Effective Date Is In PAST</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Termination_date_is_YESTERDAY</name>
        <label>If Termination date is YESTERDAY</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Termination_Date_is_YESTERDAY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TerminationDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YESTERDAY</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Team</targetReference>
            </connector>
            <label>Termination Date is YESTERDAY</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ReportLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!Get_Report.Id}</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>&quot;HPF Inactivation &quot; &amp; TEXT(TODAY() - 1)</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>YESTERDAY</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 1</expression>
    </formulas>
    <interviewLabel>Send HPF Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send HPF Report</label>
    <loops>
        <name>Loop_for_email_config</name>
        <label>Loop for email config</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Qgenda_and_inactivation_emails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_emails_to_recipientList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Report</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Account_Teams</name>
        <label>Loop over Account Teams</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Account_Team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_emails_to_recepientList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Qgenda_and_inactivation_emails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Team</name>
        <label>Get Account Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Account_Teams</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</filterLogic>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medical Staff Coordinator</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clinician Experience Specialist</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider Coverage Coordinator</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medical Staff Liaison - CPA</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recruiter-Primary</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Wide_Email_Address</name>
        <label>Get Org Wide Email Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_RecipientList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No Reply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Qgenda_and_inactivation_emails</name>
        <label>Get Qgenda and inactivation emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_email_config</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QGenda</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>inactivations</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>eeinactivations</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Email_Address_Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Report</name>
        <label>Get Report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Org_Wide_Email_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactive_HPF_JER</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Report</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Values_On_HPF</name>
        <label>Update Values On HPF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Termination_date_is_YESTERDAY</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>EffectiveTo</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contracting_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contracting_Status__c</field>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TerminationDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <object>HealthcarePractitionerFacility</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_HPF_Effective_To_Date_Is_In_PAST</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND (3 OR 4))</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveTo</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contracting_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <object>HealthcarePractitionerFacility</object>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2025-09-03</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The following clinicians have been inactivated. Please navigate to the following report for additional details &lt;a href=&quot; {!ReportLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;&lt;/p&gt;&lt;p&gt;For any questions or concerns with the data listed, do not reply to this email. Reach out to DL.SalesforceDQ@SCPHealth.com&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>RecipientList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
