knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/SendOktaOnboardingDetails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Clinician_Onboarding_PE</name>
        <label>Assign Clinician Onboarding PE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ClinicianOnboardingPE.Fed_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FedIdValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClinicianOnboardingPE.Global_Provider_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GlobalProviderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClinicianOnboardingPE.SSN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Contracts.Account.SSN_Last_4_Digit__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClinicianOnboardingPE.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClinicianOnboardingPE.Zipcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Contracts.Account.PersonMailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClinicianOnboardingPEList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClinicianOnboardingPE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fed_Id</name>
        <label>Assign Fed Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FedIdValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Filtered_User.FederationIdentifier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Filtered_User</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_User_FedID</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter User FedID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_User_FedID</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GET_User</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_User_FedID.AccountId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_on_Contracts.AccountId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_on_Filtered_User</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <description>Awaiting response from Mule team on blank or “NULL”</description>
        <name>FedIdBlank</name>
        <dataType>String</dataType>
        <value>
            <stringValue>null</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <formulas>
        <name>for_SSNLast4Digit</name>
        <dataType>String</dataType>
        <expression>&quot;1234&quot;</expression>
    </formulas>
    <formulas>
        <name>GlobalProviderId</name>
        <dataType>String</dataType>
        <expression>({!Loop_on_Contracts.Account.Global_Provider_ID__pc})</expression>
    </formulas>
    <formulas>
        <name>MobilePhone</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Loop_on_Contracts.Account.PersonMobilePhone},&apos;-&apos;,&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Send Okta Onboarding Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Okta Onboarding Details</label>
    <loops>
        <name>Loop_on_Contracts</name>
        <label>Loop on Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>var_ContractRecordList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_User_FedID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateClinicianOnboardingPE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Filtered_User</name>
        <label>Loop on Filtered User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_User_FedID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Fed_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Clinician_Onboarding_PE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateClinicianOnboardingPE</name>
        <label>Create Clinician Onboarding PE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>ClinicianOnboardingPEList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GET_User</name>
        <label>GET User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>Collect_Account_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Collect_Account_Ids</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Collect_Account_Ids</name>
        <label>Collect Account Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_User</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>var_ContractRecordList[$EachItem].AccountId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>ClinicianOnboardingPE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Clinician_Onboarding__e</objectType>
    </variables>
    <variables>
        <name>ClinicianOnboardingPEList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Clinician_Onboarding__e</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_User_FedID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>FedIdValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>var_ContractRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
