knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Set_Default_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>do_nothing</name>
        <label>do nothing</label>
        <locationX>258</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>dummyVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>x</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>do_nothing_0</name>
        <label>do nothing</label>
        <locationX>693</locationX>
        <locationY>306</locationY>
        <assignmentItems>
            <assignToReference>dummyVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>x</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>teamCount</name>
        <label>teamCount</label>
        <locationX>259</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>do_we_have_team_members</name>
        <label>do we have team members?</label>
        <locationX>496</locationX>
        <locationY>573</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>do_nothing</targetReference>
            </connector>
            <label>yes</label>
        </rules>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_default_team</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <interviewLabel>Set Default Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Default Team</label>
    <loops>
        <name>check_for_members</name>
        <label>check for members</label>
        <locationX>492</locationX>
        <locationY>431</locationY>
        <assignNextValueToReference>thisMember</assignNextValueToReference>
        <collectionReference>inputTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>teamCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>do_we_have_team_members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>create_oppty_team</name>
        <label>create oppty team</label>
        <locationX>690</locationX>
        <locationY>435</locationY>
        <assignNextValueToReference>thisDefault</assignNextValueToReference>
        <collectionReference>defaultTeam</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>create_team_member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>do_nothing_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_team_member</name>
        <label>create team member</label>
        <locationX>913</locationX>
        <locationY>432</locationY>
        <assignRecordIdToReference>currentMemberCreated</assignRecordIdToReference>
        <connector>
            <targetReference>create_oppty_team</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <elementReference>thisDefault.OpportunityAccessLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>startingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <elementReference>thisDefault.TeamMemberRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>thisDefault.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
    </recordCreates>
    <recordLookups>
        <name>get_default_team</name>
        <label>get default team</label>
        <locationX>688</locationX>
        <locationY>574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_oppty_team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>theOppty.OwnerId</elementReference>
            </value>
        </filters>
        <object>UserTeamMember</object>
        <outputReference>defaultTeam</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OpportunityAccessLevel</queriedFields>
        <queriedFields>TeamMemberRole</queriedFields>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_oppty</name>
        <label>get oppty</label>
        <locationX>494</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>startingID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>theOppty</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_team</name>
        <label>get team</label>
        <locationX>494</locationX>
        <locationY>309</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_for_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>startingID</elementReference>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputReference>inputTeamMembers</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>get_oppty</startElementReference>
    <status>Active</status>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentMemberCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>defaultTeam</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UserTeamMember</objectType>
    </variables>
    <variables>
        <name>dummyVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inputTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>startingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>theFeed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>theOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>thisDefault</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UserTeamMember</objectType>
    </variables>
    <variables>
        <name>thisMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
