knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Shift_Type_ChangeManagement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_PCA_Id_to_Collection</name>
        <label>Add PCA Id to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>coll_PCAIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_PCAs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_isDeleted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ExistingShiftType_to_false</name>
        <label>Assign ExistingShiftType to false</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Existing_Shift_Type_Added__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.New_Shift_Type_Added__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_existing_shiftType_to_true</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ExistingShiftType_to_true</name>
        <label>Assign ExistingShiftType to true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Existing_Shift_Type_Added__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.New_Shift_Type_Added__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_existing_shiftType_to_true</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CPAIds</name>
        <label>Set CPAIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CPAIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_CPA.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_CPA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PCA_to_false</name>
        <label>Set PCA to false</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_thru_PCAs.Is_Deleted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_PCA_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PCA_to_true</name>
        <label>Set PCA to true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_thru_PCAs.Is_Deleted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_PCA_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RPC_Is_Deleted_False</name>
        <label>Set RPC Is Deleted False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_On_RPCs.Is_Deleted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_RPC_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RPC_Is_Deleted_True</name>
        <label>Set RPC Is Deleted True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_On_RPCs.Is_Deleted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_RPC_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_PCA_Records</name>
        <label>Updated PCA Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedPCA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_PCAs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_PCAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_RPC_Records</name>
        <label>Updated RPC Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>coll_UpdatedRPCRecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_RPCs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_RPCs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_PCARecords_to_be_updated</name>
        <label>Are there PCARecords to be updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updatedPCA</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PCAs</targetReference>
            </connector>
            <label>List greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_RPCs_record_to_be_updated</name>
        <label>Are there RPCs record to be updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_RPCs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_On_RPCs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Is_Deleted</name>
        <label>Check Is Deleted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_RPC_Is_Deleted_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Soft Deleted false</defaultConnectorLabel>
        <rules>
            <name>Is_Soft_Deleted_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Deleted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RPC_Is_Deleted_True</targetReference>
            </connector>
            <label>Is Soft Deleted true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_isDeleted</name>
        <label>Check isDeleted and PCA Type is Shift</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_PCA_to_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsDeleted false</defaultConnectorLabel>
        <rules>
            <name>IsDeleted_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Deleted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_thru_PCAs.Shift__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PCA_to_true</targetReference>
            </connector>
            <label>IsDeleted true</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewRecord_or_deleted</name>
        <label>NewRecord or deleted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Cloned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cloned_From__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_same_Shift_type</targetReference>
            </connector>
            <label>Not Cloned</label>
        </rules>
        <rules>
            <name>Cloned_and_IsDeleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cloned_From__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Deleted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CPAs_for_this_Contract</targetReference>
            </connector>
            <label>Cloned and IsDeleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_ShiftType_Exists</name>
        <label>Same ShiftType Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_ExistingShiftType_to_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Same ShiftType Not Found</defaultConnectorLabel>
        <rules>
            <name>Same_shiftType_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_same_Shift_type</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ExistingShiftType_to_true</targetReference>
            </connector>
            <label>Same shiftType Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Shift Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shift Type Change Management</label>
    <loops>
        <name>Loop_On_RPCs</name>
        <label>Loop On RPCs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_RPCs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Is_Deleted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_RPC_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_CPA</name>
        <label>Loop thru CPA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_CPAs_for_this_Contract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_CPAIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_PCA_for_this_Shift</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_PCAs</name>
        <label>Loop thru PCAs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_PCA_for_this_Shift</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_PCA_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_PCARecords_to_be_updated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CPAs_for_this_Contract</name>
        <label>Get CPAs for this Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_CPA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shift</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractPaymentAgreement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PCA_for_this_Shift</name>
        <label>Get PCA for this Shift</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_PCAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shift__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContractPaymentAgreementId</field>
            <operator>In</operator>
            <value>
                <elementReference>CPAIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PreventiveCareAgreement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_RPCs</name>
        <label>Get Related RPCs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_RPCs_record_to_be_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Preventive_Care_Agreement__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PCAIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Rate_Pay_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_same_Shift_type</name>
        <label>Get same Shift type records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Same_ShiftType_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Shift_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Shift_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cloned_From__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_existing_shiftType_to_true</name>
        <label>Update existing shiftType to true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PCAs</name>
        <label>Update PCAs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_RPCs</targetReference>
        </connector>
        <inputReference>updatedPCA</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RPC_Records</name>
        <label>Update RPC Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>coll_UpdatedRPCRecs</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NewRecord_or_deleted</targetReference>
        </connector>
        <object>Shift__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>coll_PCAIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coll_UpdatedRPCRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rate_Pay_Code__c</objectType>
    </variables>
    <variables>
        <name>CPAIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CPAofContract</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractPaymentAgreement</objectType>
    </variables>
    <variables>
        <name>updatedPCA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PreventiveCareAgreement</objectType>
    </variables>
    <variables>
        <name>updatedShiftRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shift__c</objectType>
    </variables>
</Flow>
