knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/SplitCommaSeparatedValues.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_OCV</name>
        <label>Assign OCV</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OCV</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OCV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentFalse</name>
        <label>AssignmentFalse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordCollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>splitVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCV</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>occurrenceofCommaVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stringVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordSubstituteVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OCV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTrue</name>
        <label>AssignTrue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordCollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>stringVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OCV</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>End_of_comma_occurrence</name>
        <label>End of comma occurrence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AssignmentFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>occurrenceofCommaVariable</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTrue</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>occurrenceofCommaVariable</name>
        <dataType>Number</dataType>
        <expression>(LEN({!stringVariable})-LEN(SUBSTITUTE(LOWER({!stringVariable}),&quot;,&quot;,&quot;&quot;)))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>recordSubstituteVariable</name>
        <dataType>String</dataType>
        <expression>RIGHT({!stringVariable},LEN({!stringVariable})-FIND(&apos;,&apos;,{!stringVariable}))</expression>
    </formulas>
    <formulas>
        <name>splitVariable</name>
        <dataType>String</dataType>
        <expression>LEFT({!stringVariable},  FIND(&apos;,&apos;,{!stringVariable})-1)</expression>
    </formulas>
    <interviewLabel>SplitCommaSeparatedValues {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SplitCommaSeparatedValues</label>
    <loops>
        <name>Loop_OCV</name>
        <label>Loop OCV</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>OCV</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>End_of_comma_occurrence</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_OCV</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OCV</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordCollectionVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stringVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
