knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Subflow_Client_Onboarding_Task_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>const_Comments</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1. Create a new PMT Project for the Opportunity from PMT Template 2. Associate the Opportunity to the PMT Project record  3. “Clone Phases/Tasks” for each Service Account 4. For each PMT Phase associate the Service Account  5. When ready to send out the related tasks, update the PMT Task Status = “In Progress”</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_conditions_on_PMT_Missing_Task_creation</name>
        <label>Check for conditions on PMT Missing Task creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ContractRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ContractRecord.SourceOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ContractRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contract_s_Opportunity</targetReference>
            </connector>
            <label>Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_PMT_Project</name>
        <label>Check for PMT Project</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract_s_Opportunity.PMT_Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract_s_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Growth_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Implementation_Queue</targetReference>
            </connector>
            <label>if Null</label>
        </rules>
    </decisions>
    <description>PR1050558-1678 : Creates Client Onboarding Task.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_5DaysFromToday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+5</expression>
    </formulas>
    <formulas>
        <name>form_Subject</name>
        <dataType>String</dataType>
        <expression>&apos;Create a PMT Project for &apos;+{!Get_Contract_s_Opportunity.Name}</expression>
    </formulas>
    <interviewLabel>Subflow : Client Onboarding Task Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow : Client Onboarding Task Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>form_5DaysFromToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>const_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Implementation_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Dafault_Task_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>form_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Client Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>var_ContractRecord.SourceOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contract_s_Opportunity</name>
        <label>Get Contract&apos;s Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_PMT_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ContractRecord.SourceOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dafault_Task_RecordType</name>
        <label>Get Dafault Task RecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Implementation_Queue</name>
        <label>Get Implementation Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dafault_Task_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_conditions_on_PMT_Missing_Task_creation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>const_Description</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>1. Create a new PMT Project for the Opportunity from PMT Template.
2. Associate the Opportunity to the PMT Project record.  
3. “Clone Phases/Tasks” for each Service Account. 
4. For each PMT Phase associate the Service Account.
5. When ready to send out the related tasks, update the PMT Task Status = “In Progress”</text>
    </textTemplates>
    <variables>
        <name>var_ContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
