knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Task_Creation_flow_when_info_due_process_ready.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Task_Record_to_Task_List</name>
        <label>Add Task Record to Task List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Each_Deal_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Task_Record_to_Task_List_for_BD_Enablement</name>
        <label>Add Task Record to Task List for BD Enablement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Each_Deal_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Task_Record_to_Task_List_for_BD_Finance</name>
        <label>Add Task Record to Task List for BD Finance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Each_Deal_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Task_Record_to_Task_List_for_CMO_EM_Role</name>
        <label>Add Task Record to Task List for CMO EM Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Service_Deal_Team_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Task_Record_to_Task_List_for_CMO_HM_Role</name>
        <label>Add Task Record to Task List for CMO HM Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Service_Deal_Team_Role_HM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Task_Record_to_Task_List_for_Recruiting_Manager_EM_Role</name>
        <label>Add Task Record to Task List for Recruiting Manager EM Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Service_Deal_Team_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Task_Record_to_Task_List_for_Recruiting_Manager_HM_Role</name>
        <label>Add Task Record to Task List for Recruiting Manager HM Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Service_Deal_Team_Role_HM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Task_Record_to_Task_List_for_Recruiting_Manager_Role</name>
        <label>Add Task Record to Task List for Recruiting Manager Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Service_Deal_Team_Role_Recruiting_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Record_Values</name>
        <label>Assign Task Record Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRec.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Service Provider Rate Market Analysis</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Each_Deal_Team_Member.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Each_Deal_Team_Member.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Task_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Info Due Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.INFO_DUE_Date_for_All_Inputs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On the Opportunity, please attach a copy of the ’Service Provider Rate Market Analysis&apos;  &amp; update following field within the “Info Due” section: “Service Provider Rate Market Analysis - Loaded”</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Record_to_Task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Record_Values_CMO_EM_Role</name>
        <label>Assign Task Record Values CMO EM Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Service Line Coverage Model &amp; Approve Rate(s)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Service_Deal_Team_Role.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_related_services_on_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Task_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Info Due Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On the Services record, please review the recommended rates provided by recruiting &amp; adjust as necessary.  Then update the following fields within the “Info Due” section: “Service Line Coverage Model”, “Coverage Model Completed By”, &amp; “Field Operations Leadership - Rate Approval”</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.INFO_DUE_Date_for_All_Inputs__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Record_to_Task_List_for_CMO_EM_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Record_Values_CMO_HM_Role</name>
        <label>Assign Task Record Values CMO HM Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Service Line Coverage Model &amp; Approve Rate(s)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Service_Deal_Team_Role_HM.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_related_services_on_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Task_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Info Due Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On the Services record, please review the recommended rates provided by recruiting &amp; adjust as necessary.  Then update the following fields within the “Info Due” section: “Service Line Coverage Model”, “Coverage Model Completed By”, &amp; “Field Operations Leadership - Rate Approval”</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.INFO_DUE_Date_for_All_Inputs__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Record_to_Task_List_for_CMO_HM_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Record_Values_for_BD_Enablement</name>
        <label>Assign Task Record Values for BD Enablement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRec.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proposal / RFP Documents Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Each_Deal_Team_Member.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Each_Deal_Team_Member.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Task_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Info Due Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.INFO_DUE_Date_for_All_Inputs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On the Opportunity, once you have received details required to kickoff RFP/Proposal/Presentation activities please update following field within the “Info Due” section: “Proposal / RFP Documents Started”</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Record_to_Task_List_for_BD_Enablement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Record_Values_for_BD_Finance</name>
        <label>Assign Task Record Values for BD Finance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRec.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Start BD Finance Activities</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Each_Deal_Team_Member.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Each_Deal_Team_Member.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Task_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Info Due Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.INFO_DUE_Date_for_All_Inputs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRec.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On the Opportunity, please confirm finance is beginning proforma activities &amp; update following field within the “Info Due” section: “BD Finance Activities Begun”</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Record_to_Task_List_for_BD_Finance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Record_Values_Recruiting_Manager_EM_Role</name>
        <label>Assign Task Record Values Recruiting Manager EM Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Clinical Rates - Recommended Rate(s)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Service_Deal_Team_Role.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_related_services_on_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Task_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Info Due Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On the Services record, please update the following fields with your recommended clinical rates to be reviewed &amp; approved by CMO: “Info Due” section: “MD/DO W2 Rates - Recommended”, “NPPA W2 Rates - Recommended”, “CPM Rate - Recommended”, “HPS Rate - Recommended”, “Sign-on bonus/Retention Bonuses”, &amp; “Medical Director Stipend”</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.INFO_DUE_Date_for_All_Inputs__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Record_to_Task_List_for_Recruiting_Manager_EM_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Record_Values_Recruiting_Manager_HM_Role</name>
        <label>Assign Task Record Values Recruiting Manager HM Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Clinical Rates - Recommended Rate(s)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Service_Deal_Team_Role_HM.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_related_services_on_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Task_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Info Due Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On the Services record, please update the following fields with your recommended clinical rates to be reviewed &amp; approved by CMO: “Info Due” section: “MD/DO W2 Rates - Recommended”, “NPPA W2 Rates - Recommended”, “CPM Rate - Recommended”, “HPS Rate - Recommended”, “Sign-on bonus/Retention Bonuses”, &amp; “Medical Director Stipend”</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.INFO_DUE_Date_for_All_Inputs__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Record_to_Task_List_for_Recruiting_Manager_HM_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Record_Values_Recruiting_Manager_Role</name>
        <label>Assign Task Record Values Recruiting Manager Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Clinical Rates - Recommended Rate(s)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Service_Deal_Team_Role_Recruiting_Manager.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_related_services_on_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Task_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Info Due Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On the Services record, please update the following fields with your recommended clinical rates to be reviewed &amp; approved by CMO: “Info Due” section: “MD/DO W2 Rates - Recommended”, “NPPA W2 Rates - Recommended”, “CPM Rate - Recommended”, “HPS Rate - Recommended”, “Sign-on bonus/Retention Bonuses”, &amp; “Medical Director Stipend”</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.INFO_DUE_Date_for_All_Inputs__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Record_to_Task_List_for_Recruiting_Manager_Role</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Deal_Team_Role</name>
        <label>Check Deal Team Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Each_Deal_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recruiting_Manager_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Each_Deal_Team_Member.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recruiting Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Record_Values</targetReference>
            </connector>
            <label>Recruiting Manager Role</label>
        </rules>
        <rules>
            <name>BD_Finance_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Each_Deal_Team_Member.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BD Finance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Record_Values_for_BD_Finance</targetReference>
            </connector>
            <label>BD Finance Role</label>
        </rules>
        <rules>
            <name>BD_Enablement_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Each_Deal_Team_Member.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BD Enablement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Record_Values_for_BD_Enablement</targetReference>
            </connector>
            <label>BD Enablement Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_HM_Role_of_Deal_Team_on_Opportunity</name>
        <label>Check HM Role of Deal Team on Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Service_Deal_Team_Role_HM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Role_Chief_Medical_Officer_HM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Service_Deal_Team_Role_HM.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chief Medical Officer - HM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Record_Values_CMO_HM_Role</targetReference>
            </connector>
            <label>Role Chief Medical Officer HM</label>
        </rules>
        <rules>
            <name>Recruting_Manager_HM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Service_Deal_Team_Role_HM.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recruiting Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Record_Values_Recruiting_Manager_HM_Role</targetReference>
            </connector>
            <label>Recruting Manager HM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Recruiting_Manager_Role_on_Service_Deal_Team</name>
        <label>Check Recruiting Manager Role on Service Deal Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Service_Deal_Team_Role_Recruiting_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recruiting_Manager_Role_for_other_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Service_Deal_Team_Role_Recruiting_Manager.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recruiting Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Record_Values_Recruiting_Manager_Role</targetReference>
            </connector>
            <label>Recruiting Manager Role for other Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Role_of_Deal_Team_on_Opportunity</name>
        <label>Check Role of Deal Team on Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Service_Deal_Team_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Role_Chief_Medical_Officer_EM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Service_Deal_Team_Role.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chief Medical Officer - EM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Record_Values_CMO_EM_Role</targetReference>
            </connector>
            <label>Role Chief Medical Officer EM</label>
        </rules>
        <rules>
            <name>Recruiting_Manager_EM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Service_Deal_Team_Role.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recruiting Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Record_Values_Recruiting_Manager_EM_Role</targetReference>
            </connector>
            <label>Recruiting Manager EM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Line_Parent</name>
        <label>Check Service Line Parent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Service_Deal_Team_Role_Recruiting_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_EM_or_UC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_related_services_on_Opportunity.Account__r.Service_Line__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_related_services_on_Opportunity.Account__r.Service_Line__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Service_Deal_Team_Role</targetReference>
            </connector>
            <label>Service EM or UC</label>
        </rules>
        <rules>
            <name>Service_HM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_related_services_on_Opportunity.Account__r.Service_Line__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Service_Deal_Team_Role_HM</targetReference>
            </connector>
            <label>Service HM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Task Creation flow when info due process ready {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Creation flow when info due process ready</label>
    <loops>
        <name>Loop_on_Each_Deal_Team_Member</name>
        <label>Loop on Each Deal Team Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Fetch_Deal_Team_Member_on_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Deal_Team_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task_Records_assigned_to_Deal_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_related_services_on_Opportunity</name>
        <label>Loop on related services on Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Active_Services_from_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Service_Line_Parent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task_for_each_Service_line_per_deal_team</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Service_Deal_Team_Role</name>
        <label>Loop on Service Deal Team Role EM or UC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Fetch_Deal_Team_Member_on_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Role_of_Deal_Team_on_Opportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_related_services_on_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Service_Deal_Team_Role_HM</name>
        <label>Loop on Service Deal Team Role HM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Fetch_Deal_Team_Member_on_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_HM_Role_of_Deal_Team_on_Opportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_related_services_on_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Service_Deal_Team_Role_Recruiting_Manager</name>
        <label>Loop on Service Deal Team Role Recruiting Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Fetch_Deal_Team_Member_on_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Recruiting_Manager_Role_on_Service_Deal_Team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_related_services_on_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_for_each_Service_line_per_deal_team</name>
        <label>Create Task for each Service line per deal team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>taskCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Records_assigned_to_Deal_Team_Members</name>
        <label>Create Task Records assigned to Deal Team Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_on_related_services_on_Opportunity</targetReference>
        </connector>
        <inputReference>taskRecList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Deal_Team_Member_on_Opportunity</name>
        <label>Fetch Deal Team Member on Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Services_from_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TeamMemberRole</queriedFields>
        <queriedFields>UserId</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Services_from_Opportunity</name>
        <label>Get Active Services from Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Each_Deal_Team_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Services__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Task_Record_Type</name>
        <label>Get Default Task Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Deal_Team_Member_on_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Default_Task_Record_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Record.RecordType.DeveloperName} == &apos;Growth_Opportunity&apos; &amp;&amp; ISPICKVAL({!$Record.Client_Questionnaire_Status__c}, &apos;Info Due Process Ready&apos;)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>taskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskRecList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
