knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Update_Previous_HPF_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>check_the_start_date</name>
        <label>check the start date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>update_deativated_HPF_future_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>id_start_date_is_less_than_or_equal_to_today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewContractStartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>upadte_deactivated_HPF_records</targetReference>
            </connector>
            <label>id start date is less than or equal to today</label>
        </rules>
    </decisions>
    <description>This flow is used to update the previous HPF records when there is a change in the facility title</description>
    <environments>Default</environments>
    <formulas>
        <name>ContarctStartDateMinus1</name>
        <dataType>Date</dataType>
        <expression>{!NewContractStartDate}-1</expression>
    </formulas>
    <interviewLabel>Update Previous HPF Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Previous HPF Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PNC</name>
        <label>Get PNC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>deactivatedHPFrecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractIdfromMainFlow</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deleted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProviderNetworkContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>upadte_deactivated_HPF_records</name>
        <label>upadte deactivated HPF records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>deactivatedHPFrecords</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contracting_Status__c</field>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Superseded</stringValue>
            </value>
        </inputAssignments>
        <object>HealthcarePractitionerFacility</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_deativated_HPF_future_records</name>
        <label>update deativated HPF future records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>deactivatedHPFrecords</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Anticipated_Termination_Date__c</field>
            <value>
                <elementReference>ContarctStartDateMinus1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contracting_Status__c</field>
            <value>
                <stringValue>Termination in Progress</stringValue>
            </value>
        </inputAssignments>
        <object>HealthcarePractitionerFacility</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PNC</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>deactivatedHPFrecords</name>
        <label>deactivatedHPFrecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_the_start_date</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_PNC[$EachItem].Healthcare_Practitioner_Facility__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>ActiveHPFList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractIdfromMainFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HPFtoconsider</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContractStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PractitionerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the list of all the service Accounts that are associated with the contracts</description>
        <name>ServiceAccountList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
