knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Update_Incremental_Margin_When_Margin_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Incremental_Margin_Value</name>
        <label>Set Incremental Margin Value</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Incremental_Margin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Operating_Margin__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Incremental_Margin</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Checkbox_is_Unchecked</name>
        <label>Check if Checkbox is Unchecked</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Set_Incremental_Margin_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Picklist NOT &quot;Existing/Incremental Margin&quot; (Proceed with Update)</defaultConnectorLabel>
        <rules>
            <name>Checkbox_Not_Checked_Proceed_with_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Opportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing/Incremental Margin</stringValue>
                </rightValue>
            </conditions>
            <label>Checkbox Checked (Exit Flow)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Incremental Margin When Margin Changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Incremental Margin When Margin Changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Opportunity</name>
        <label>Get Related Opportunity</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Checkbox_is_Unchecked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Incremental_Margin</name>
        <label>Update Service Incremental Margin</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Incremental_Margin__c</field>
            <value>
                <elementReference>$Record.Service_Operating_Margin__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Operating_Margin__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Services__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
