knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Update_Previous_HPF_on_contract_Activation_Scheduled_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Adding_Practitioner_to_the_list</name>
        <label>Adding Practitioner to the list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PractitionerList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Extract_clinician_and_service_accounts.PractitionerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checking_the_service_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Service_Account_to_the_lIst</name>
        <label>Assigning Service Account to the lIst</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServiceAccountList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Extract_clinician_and_service_accounts.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_clinician_and_service_accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_variables_to_Update_record</name>
        <label>Assigning variables to Update record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Check_duplicates_before_Update.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Superseded</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_duplicates_before_Update.Contracting_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthcarePractitionerRecordstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_duplicates_before_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processedHPFlIST</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_duplicates_before_Update.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_duplicates_before_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collecting_the_eligible_HPF_Records</name>
        <label>Collecting the eligible HPF Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EligibleHealthcarePractionerFacilityRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_the_HPF_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_all_executed_HPF_records</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_the_HPF_records</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter the HPF records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_the_HPF_records</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_related_HPF_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_the_HPF_records.PractitionerId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Process_all_executed_HPF_records.PractitionerId</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_the_HPF_records.AccountId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Process_all_executed_HPF_records.AccountId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Collecting_the_eligible_HPF_Records</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Contract</name>
        <label>Check Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_the_contracts_that_are_executed_and_have_start_date_as_today</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContractList</targetReference>
            </connector>
            <label>Contract Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_duplicate_HPF</name>
        <label>check duplicate HPF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assigning_variables_to_Update_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Already_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>processedHPFlIST</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Check_duplicates_before_Update.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_duplicates_before_Update</targetReference>
            </connector>
            <label>Record Already present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_All_related_HPF_Records</name>
        <label>Check Get All related HPF Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_related_HPF_Records_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_related_HPF_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_all_executed_HPF_records</targetReference>
            </connector>
            <label>All related HPF Records Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_HPF</name>
        <label>Check HPF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HPF_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HPF_records_for_Executed_Contracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extract_clinician_and_service_accounts</targetReference>
            </connector>
            <label>HPF Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PNC</name>
        <label>Check PNC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PNC_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PNC_for_all_the_contracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HPFList_Active</targetReference>
            </connector>
            <label>PNC Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Practitioner_List</name>
        <label>check Practitioner List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Adding_Practitioner_to_the_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Practitioner_list_has_the_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PractitionerList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Extract_clinician_and_service_accounts.PractitionerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checking_the_service_account</targetReference>
            </connector>
            <label>Practitioner list has the record</label>
        </rules>
    </decisions>
    <decisions>
        <name>checking_the_service_account</name>
        <label>checking the service account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assigning_Service_Account_to_the_lIst</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ServiceAccountList_has_the_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAccountList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Extract_clinician_and_service_accounts.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extract_clinician_and_service_accounts</targetReference>
            </connector>
            <label>ServiceAccountList has the record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>todaysDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>Update Previous HPF on contract Activation Scheduled Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Previous HPF on contract Activation Scheduled Flow</label>
    <loops>
        <name>Check_duplicates_before_Update</name>
        <label>Check duplicates before Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>EligibleHealthcarePractionerFacilityRecordsToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_duplicate_HPF</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_HPF_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Extract_clinician_and_service_accounts</name>
        <label>Extract clinician and service accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_HPF_records_for_Executed_Contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_Practitioner_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_related_HPF_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_all_executed_HPF_records</name>
        <label>Process all executed HPF records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_HPF_records_for_Executed_Contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_the_HPF_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_duplicates_before_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_related_HPF_Records</name>
        <label>Get All related HPF Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_All_related_HPF_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PractitionerId</field>
            <operator>In</operator>
            <value>
                <elementReference>PractitionerList</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>ServiceAccountList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>HPFList_Active</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HealthcarePractitionerFacility</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_the_contracts_that_are_executed_and_have_start_date_as_today</name>
        <label>Get all the contracts that are executed and have start date as today</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_DeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clinician</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HPF_records_for_Executed_Contracts</name>
        <label>Get HPF records for executed contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_HPF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>HPFList_Active</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HealthcarePractitionerFacility</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PNC_for_all_the_contracts</name>
        <label>Get PNC for all the contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_PNC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>In</operator>
            <value>
                <elementReference>ContractList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deleted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProviderNetworkContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract_Records</name>
        <label>Update Contract Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContractList</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Process_Previous_HPF_Inactivation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HPF_records</name>
        <label>Update HPF records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contract_Records</targetReference>
        </connector>
        <inputReference>HealthcarePractitionerRecordstoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_the_contracts_that_are_executed_and_have_start_date_as_today</targetReference>
        </connector>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2026-01-17</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>ContractList</name>
        <label>ContractList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PNC_for_all_the_contracts</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_all_the_contracts_that_are_executed_and_have_start_date_as_today[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>HPFList_Active</name>
        <label>HPFList Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_HPF_records_for_Executed_Contracts</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_PNC_for_all_the_contracts[$EachItem].Healthcare_Practitioner_Facility__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_Filter_the_HPF_records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthcarePractitionerFacility</objectType>
    </variables>
    <variables>
        <name>EligibleHealthcarePractionerFacilityRecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthcarePractitionerFacility</objectType>
    </variables>
    <variables>
        <name>HealthcarePractitionerRecordstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthcarePractitionerFacility</objectType>
    </variables>
    <variables>
        <name>ListofcontractIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PractitionerList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>processedHPFlIST</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAccountList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Today</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
