knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/UpdateClientStartUpAndEnddateOnAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Date_Change</name>
        <label>Check Date Change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client_Startup_Date_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientStartupDateChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientTerminationDateChanged</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Account</targetReference>
            </connector>
            <label>Client Startup Date Changed</label>
        </rules>
        <rules>
            <name>Client_Termination_Date_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientTerminationDateChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientStartupDateChanged</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Account_Client_Termination</targetReference>
            </connector>
            <label>Client Termination Date Changed</label>
        </rules>
        <rules>
            <name>Both_Dates_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientStartupDateChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientTerminationDateChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Account_Client_Startup_Termination</targetReference>
            </connector>
            <label>Both Dates Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UpdateClientStartUpAndEnddateOnAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateClientStartUpAndEnddateOnAccount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Service_Account</name>
        <label>Update Service Account Client Startup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>trigeringPNC.HealthcareProvider.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Startup_Date__c</field>
            <value>
                <elementReference>trigeringPNC.Client_Start_Up_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Account_Client_Startup_Termination</name>
        <label>Update Service Account Client Startup/Termination</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>trigeringPNC.HealthcareProvider.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Startup_Date__c</field>
            <value>
                <elementReference>trigeringPNC.Client_Start_Up_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Termination__c</field>
            <value>
                <elementReference>trigeringPNC.Contract_Termination__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Account_Client_Termination</name>
        <label>Update Service Account Client Termination</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>trigeringPNC.HealthcareProvider.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_Termination__c</field>
            <value>
                <elementReference>trigeringPNC.Contract_Termination__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Date_Change</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>clientStartupDateChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientTerminationDateChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>trigeringPNC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ProviderNetworkContract</objectType>
    </variables>
</Flow>
