knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Update_Corporate_Entity_On_HPF_Before_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Billing_Only</name>
        <label>Assign Billing Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billing_Only_Service_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Billing_Only_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Practitioner_Professional_Title</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EE_NP_PA_Contracting_Entity</name>
        <label>EE NP/PA Contracting Entity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>partyRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EENPPAContractingEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_EE_Physician_Contract_Entity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EE_Physician_Contract_Entity</name>
        <label>EE Physician Contract Entity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>partyRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EEPhysicianContractEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_EE_Physician_Contract_Entity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EE_RN_LPN_Contracting_Entity</name>
        <label>EE RN/LPN Contracting Entity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>partyRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EERNLPNContractingEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_EE_Physician_Contract_Entity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IC_Clinician_Contract_Entity</name>
        <label>IC Clinician Contract Entity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>partyRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICClinicianContractEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_EE_Physician_Contract_Entity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_HPF_Name</name>
        <label>Set HPF Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HPF_Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Ok_to_Set_Rates</name>
        <label>Set Ok to Set Rates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Ok_to_Send_Rates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Rate_Active_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAYDATE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contract_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the HPF Name to mimic changes in Account/Practitioner</description>
        <name>Update_HPF_Name</name>
        <label>Update HPF Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HPF_Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_HPF_with_Corporate_Entity</name>
        <label>Update HPF with Corporate Entity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contracting_Corporate_Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Corporate_Entity_From_Account_Account_Relationship.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Can_HPF_Name_Be_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Rate_Active_Date</name>
        <label>Update Rate Active Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Rate_Active_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAYDATE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Credentialing_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_to_Candidate</name>
        <label>Update Status to Candidate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Hospital_Privileged_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_to_Waiting_to_be_Scheduled</name>
        <label>Update Status to Waiting to be Scheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting to be Scheduled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Account_or_Practitioner_Changed</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>EENPPAContractingEntity</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EE NP/PA Contracting Entity</stringValue>
        </value>
    </constants>
    <constants>
        <name>EEPhysicianContractEntity</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EE Physician Contract Entity</stringValue>
        </value>
    </constants>
    <constants>
        <name>EERNLPNContractingEntity</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EE RN/LPN Contracting Entity</stringValue>
        </value>
    </constants>
    <constants>
        <name>ICClinicianContractEntity</name>
        <dataType>String</dataType>
        <value>
            <stringValue>IC Clinician Contract Entity</stringValue>
        </value>
    </constants>
    <constants>
        <name>ServicesContractingEntity</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Services Contracting Entity</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Can_HPF_Name_Be_Set</name>
        <label>Can HPF Name Be Set?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_HPF_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HPF_Name</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_HPF_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contract_Status</name>
        <label>Check Contract Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Hospital_Privileged_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Contract_Excecuted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contracting_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contracting_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Candidate</targetReference>
            </connector>
            <label>Is Contract Excecuted?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Create_Or_Update</name>
        <label>Check Create Or Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Only</targetReference>
            </connector>
            <label>is Create</label>
        </rules>
        <rules>
            <name>is_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Ok_to_Send_Rates_is_true</targetReference>
            </connector>
            <label>is Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Credentialing_Status</name>
        <label>Check Credentialing Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Contract_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Ok_to_Send_rates_field</name>
            <conditionLogic>(1 OR 2)AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ok_to_Send_Rates__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ok_to_Send_Rates__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credentialling_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credentialling_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Ok_to_Set_Rates</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Set Ok to Send rates field</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Hospital_Privileged_Date</name>
        <label>Check Hospital Privileged Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Account_or_Practitioner_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Populated</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hospital_Privileged_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Candidate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hospital_Privileged_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Waiting_to_be_Scheduled</targetReference>
            </connector>
            <label>Is Populated?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Practitioner_Professional_Title</name>
        <label>Check Practitioner Professional Title</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IC_Clinician_Contract_Entity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_MD_or_DO</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Practitioner.Professional_Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Practitioner.Professional_Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Facility_Title__r.Code_Set_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EE_Physician_Contract_Entity</targetReference>
            </connector>
            <label>Is MD or DO</label>
        </rules>
        <rules>
            <name>Is_NP_or_PA</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Practitioner.Professional_Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Practitioner.Professional_Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Facility_Title__r.Code_Set_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EE_NP_PA_Contracting_Entity</targetReference>
            </connector>
            <label>Is NP or PA</label>
        </rules>
        <rules>
            <name>Is_RN_or_LPN</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Practitioner.Professional_Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Practitioner.Professional_Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LPN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Facility_Title__r.Code_Set_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EE_RN_LPN_Contracting_Entity</targetReference>
            </connector>
            <label>Is RN or LPN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Account_or_Practitioner_Changed</name>
        <label>Has Account or Practitioner Changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PractitionerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>HPF_Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HPF_Name</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_HPF_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Ok_to_Send_Rates_is_true</name>
        <label>If Ok to Send Rates is true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Credentialing_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ok_to_Send_Rates_is_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ok_to_Send_Rates__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ok_to_Send_Rates__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Rate_Active_Date</targetReference>
            </connector>
            <label>Ok to Send Rates is TRUE</label>
        </rules>
    </decisions>
    <description>1719: Healthcare Practitioner Facility Status Automation
5921: Added Billing Only assignment
6654: Update to use IC as default CE and Effective Date filtering</description>
    <environments>Default</environments>
    <formulas>
        <name>EffectiveFromWithOneDayPrior</name>
        <dataType>Date</dataType>
        <expression>{!$Record.EffectiveFrom}-1</expression>
    </formulas>
    <formulas>
        <description>See ticket 4007 for further information.</description>
        <name>HPF_Name</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Practitioner_Information.Id} != NULL,
    IF({!Get_Practitioner_Information.FirstName} != &apos;&apos;,
        {!Get_Practitioner_Information.FirstName} &amp; &apos; &apos; &amp; {!Get_Practitioner_Information.LastName},
        {!Get_Practitioner_Information.LastName}
    ),
    &apos;&apos;
) &amp;
IF({!Get_Practitioner_Information.Id} != NULL &amp;&amp; {!Get_Account_Information.Id} != NULL,
    &apos; - &apos;,
    &apos;&apos;
) &amp;
IF({!Get_Account_Information.Id} != NULL,
    LEFT({!Get_Account_Information.Name}, 130),
    &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>TODAYDATE</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Update Corporate Entity On HPF Before Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HPF Before Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Corporate_Entity_From_Account_Account_Relationship</name>
        <label>Fetch Corporate Entity From Account Account Relationship</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Original_HPF_with_matching_AccountId_and_PractitionerId</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ((3 AND 4) OR (5 AND 3))</filterLogic>
        <filters>
            <field>RelatedAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PartyRoleRelationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_EE_Physician_Contract_Entity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.EffectiveFrom</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.EffectiveFrom</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountAccountRelation</object>
        <sortField>StartDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query the Account Name so that HPF record&apos;s Name field can be properly set.</description>
        <name>Get_Account_Information</name>
        <label>Get Account Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Create_Or_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EE_Physician_Contract_Entity</name>
        <label>Fetch Party Role Relationship Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Corporate_Entity_From_Account_Account_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RoleName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>partyRoleName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartyRoleRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_HPF_with_matching_AccountId_and_PractitionerId</name>
        <label>Get Original HPF with matching AccountId and PractitionerId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_HPF_with_Corporate_Entity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PractitionerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PractitionerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveTo</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EffectiveFromWithOneDayPrior</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthcarePractitionerFacility</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query the Contact&apos;s First Name and Last Name so that HPF record&apos;s Name field can be properly set.</description>
        <name>Get_Practitioner_Information</name>
        <label>Get Practitioner Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PractitionerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Practitioner_Information</targetReference>
        </connector>
        <object>HealthcarePractitionerFacility</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>partyRoleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
