knowledge/metadata/sf-pp-main-qa/sf-pp-main-qa/force-app/main/default/flows/Welcome_Email_and_User_Creation_for_Leased_Locums_Managed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Error_Log_On_PE_Failure</name>
        <label>Create Error Log On PE Failure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ErrorLogUtil</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>errorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>severity</name>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLogUtil</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Fed_Id_for_Active_User</name>
        <label>Assign Fed Id for Active User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FedId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_for_HealthCarePractionerFacility.FederationIdentifier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Null_Check_on_PE_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_fed_Id_for_Inactive_User</name>
        <label>Assign fed Id for Inactive User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FedId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_for_HealthCarePractionerFacility.FederationIdentifier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Null_Check_on_PE_Fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Employment_Type</name>
        <label>Check Employment Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Locum_or_Leased_or_Managed</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>var_HPFRecord.Facility_Title__r.Code_Set_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Locum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_HPFRecord.Facility_Title__r.Code_Set_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leased</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_HPFRecord.Facility_Title__r.Code_Set_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Managed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_other_Hpfs_for_clinician</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Practitioner_Details</targetReference>
            </connector>
            <label>Locum or Leased or Managed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_practitioner_email</name>
        <label>Check practitioner email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>existss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Practitioner_Details.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Executed_Contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_User_Exists</targetReference>
            </connector>
            <label>exists?</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_User_Exists</name>
        <label>If User Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Null_Check_on_PE_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Inactive_User_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_for_HealthCarePractionerFacility</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_for_HealthCarePractionerFacility.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Portal_user_Event</targetReference>
            </connector>
            <label>Yes, Inactive User Exists</label>
        </rules>
        <rules>
            <name>User_Does_Not_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_for_HealthCarePractionerFacility</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Portal_user_Event</targetReference>
            </connector>
            <label>User Does Not Exists</label>
        </rules>
        <rules>
            <name>Active_user_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_for_HealthCarePractionerFacility</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_for_HealthCarePractionerFacility.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fed_Id_for_Active_User</targetReference>
            </connector>
            <label>Active user Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_on_PE_Fields</name>
        <label>Null Check on PE Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>User_Does_not_exists_After_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SSN_Zipcode_IS_NULL</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Practitioner_Details.Account.SSN_Last_4_Digit__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Practitioner_Details.Account.PersonMailingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_for_HealthCarePractionerFacility</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Data_Quality_Queue_After_Null_Check</targetReference>
            </connector>
            <label>SSN,Zipcode IS NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Does_not_exists_After_Creation</name>
        <label>User Does not exists After Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Clinician_Onboarding_PE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_for_HealthCarePractionerFacility</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User not exists</label>
        </rules>
    </decisions>
    <description>This flow will send welcome onboarding email to clinician and activate clinician user for Leased, Locums, Managed,</description>
    <environments>Default</environments>
    <formulas>
        <name>GlobalProviderId</name>
        <dataType>String</dataType>
        <expression>{!Get_Practitioner_Details.Account.Global_Provider_ID__pc}</expression>
    </formulas>
    <formulas>
        <name>MobilePhone</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Get_Practitioner_Details.Account.PersonMobilePhone},&apos;-&apos;,&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Welcome Email and User Creation for Leased, Locums, Managed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Welcome Email and User Creation for Leased, Locums, Managed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Clinician_Onboarding_PE</name>
        <label>Create Clinician Onboarding PE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Create_Error_Log_On_PE_Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Fed_ID__c</field>
            <value>
                <elementReference>FedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Global_Provider_Id__c</field>
            <value>
                <elementReference>GlobalProviderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSN__c</field>
            <value>
                <elementReference>Get_Practitioner_Details.Account.SSN_Last_4_Digit__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zipcode__c</field>
            <value>
                <elementReference>Get_Practitioner_Details.Account.PersonMailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <object>Clinician_Onboarding__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Portal_user_Event</name>
        <label>Create Portal user Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Null_Check_on_PE_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Context_Field1__c</field>
            <value>
                <elementReference>var_HPFRecord.PractitionerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Context_Field2__c</field>
            <value>
                <elementReference>var_HPFRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Context__c</field>
            <value>
                <stringValue>PORTAL_USER_CREATION</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>ET_LOCUM_LEASED_MANAGED</stringValue>
            </value>
        </inputAssignments>
        <object>Generic_Process_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_After_Null_Check</name>
        <label>Create Task After Null Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>PEComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Fetch_Data_Quality_Queue_After_Null_Check.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Default_Record_Type_After_Null_Check.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Update Clinician Information to unblock the Okta Integration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Okta Integration Failure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Practitioner_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Update_Portal_user_Event</name>
        <label>Update Portal user Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_fed_Id_for_Inactive_User</targetReference>
        </connector>
        <inputAssignments>
            <field>Context_Field1__c</field>
            <value>
                <elementReference>var_HPFRecord.PractitionerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Context_Field2__c</field>
            <value>
                <elementReference>var_HPFRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Context__c</field>
            <value>
                <stringValue>PORTAL_USER_REACTIVATION</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>ET_LOCUM_LEASED_MANAGED</stringValue>
            </value>
        </inputAssignments>
        <object>Generic_Process_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_other_Hpfs_for_clinician</name>
        <label>Check other Hpfs for clinician</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Employment_Type</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>PractitionerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_HPFRecord.PractitionerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Prescreen_Level_2_Completed__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>var_HPFRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leased</stringValue>
            </value>
        </filters>
        <filters>
            <field>Employment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Locum</stringValue>
            </value>
        </filters>
        <filters>
            <field>Employment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Managed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthcarePractitionerFacility</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Data_Quality_Queue_After_Null_Check</name>
        <label>Fetch Data Quality Queue After Null Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Default_Record_Type_After_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data_Quality</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Record_Type_After_Null_Check</name>
        <label>Get Default Record Type After Null Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_After_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Executed_Contract</name>
        <label>Get Latest Executed Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_for_HealthCarePractionerFacility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Practitioner_Details.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_HPFRecord.Facility_Title__r.Code_Set_Sub_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Practitioner_Details</name>
        <label>Get Practitioner Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Executed_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_HPFRecord.PractitionerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_for_HealthCarePractionerFacility</name>
        <label>Get User for HealthCarePractionerFacility</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_practitioner_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_HPFRecord.PractitionerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FederationIdentifier</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_other_Hpfs_for_clinician</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>PEComment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>1. Navigate to the Clinician’s record
2. Ensure the following fields are populated:
2a. Social Security Number
2b. Zipcode (Mailing Address)
2c. Mobile
3. Close Task with Status = ‘Completed’ to trigger the Okta Integration.</text>
    </textTemplates>
    <variables>
        <name>FedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_HPFRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthcarePractitionerFacility</objectType>
    </variables>
</Flow>
